<link rel="stylesheet" href="/style/singup.css">

<div class="Singup" id="stateRecord">
    <form class="Register" id="formRegister" name="formRegister">
        <div class="Register-content">
            <h1 class="Register-title">User Register</h1>
            <div class="Input-boxes">
                <!-- TODO EMAIL -->
                <div class="Input-box Box">
                    <i id="iconEmail" class="Box-i fa-solid fa-envelope"></i>
                    <div class="Box-animation Animation">
                        <input class="Animation-input" name="inputEmailNew" id="inputEmailNew" type="email"
                            placeholder=" " autocomplete="valorNoValido" required="required" tabindex="1" autofocus>
                        <label class="Animation-label" for="inputEmailNew">Email *</label>
                        <label class="Animation-info" for="inputEmailNew" id="infoEmail"><i class="fa-solid fa-circle-info"></i></label>
                        <label class="Animation-closeInfo" for="inputEmailNew" id="closeInfoEmail"><i class="fa-solid fa-circle-info"></i></label>
                    </div>
                </div>
                <div class="Input-error Error fieldErr" id="validationEmailNew">
                    <div class="Error-icon">
                        <svg fill="currentColor" focusable="false" width="16px" height="16px" viewBox="0 0 24 24"
                            xmlns="https://www.w3.org/2000/svg">
                            <path
                                d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-2h2v2zm0-4h-2V7h2v6z">
                            </path>
                        </svg>
                    </div>
                    <div class="Error-text">
                        <span id="errorEmailNew" class="fieldErrText">Email cannot be empty.</span>
                    </div>
                </div>
                <!-- TODO USERNAME -->
                <div class="Input-box Box">
                    <i id="iconUserName" class="Box-i fa-solid fa-user"></i>
                    <div class="Box-animation Animation">
                        <input class="Animation-input" name="inputUsername" id="inputUsername" type="text"
                            placeholder=" " autocomplete="username" required="required" tabindex="2">
                        <label class="Animation-label" for="inputUsername">Username *</label>
                        <label class="Animation-info" for="inputUsername" id="infoUsername"><i class="fa-solid fa-circle-info"></i></label>
                        <label class="Animation-closeInfo" for="inputUsername" id="closeInfoUsername"><i class="fa-solid fa-circle-info"></i></label>
                    </div>
                </div>
                <div class="Input-error Error fieldErr" id="validationUserName">
                    <div class="Error-icon">
                        <svg fill="currentColor" focusable="false" width="16px" height="16px" viewBox="0 0 24 24"
                            xmlns="https://www.w3.org/2000/svg">
                            <path
                                d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-2h2v2zm0-4h-2V7h2v6z">
                            </path>
                        </svg>
                    </div>
                    <div class="Error-text">
                        <span id="errorUserName" class="fieldErrText">Username cannot be empty.</span>
                    </div>
                </div>
                <!-- TODO FULL NAME -->
                <div class="Input-box Box">
                    <i id="iconFullName" class="Box-i fa-solid fa-user"></i>
                    <div class="Box-animation Animation">
                        <input class="Animation-input" id="inputFullName" type="text" name="inputFullName" tabindex="3"
                            placeholder=" " autocomplete="noValido" required="required">
                        <label class="Animation-label" for="inputFullName">Full Name *</label>
                        <label class="Animation-info" for="inputFullName" id="infoFullname"><i class="fa-solid fa-circle-info"></i></label>
                        <label class="Animation-closeInfo" for="inputFullName" id="closeInfoFullname"><i class="fa-solid fa-circle-info"></i></label>
                    </div>
                </div>
                <div class="Input-error Error fieldErr" id="validationFullName">
                    <div class="Error-icon">
                        <svg fill="currentColor" focusable="false" width="16px" height="16px" viewBox="0 0 24 24"
                            xmlns="https://www.w3.org/2000/svg">
                            <path
                                d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-2h2v2zm0-4h-2V7h2v6z">
                            </path>
                        </svg>
                    </div>
                    <div class="Error-text">
                        <span id="errorFullName" class="fieldErrText">The field Fullanme cannot be empty.</span>
                    </div>
                </div>
                <!-- TODO NEW PASSWORD -->
                <div class="Input-box Box">
                    <i id="iconPassNew" class="Box-i fa-solid fa-key"></i>
                    <div class="Box-animation Animation">
                        <input class="Animation-input" name="inputPassNew" id="inputPassNew" type="password"
                            required="required" tabindex="4" placeholder=" " autocomplete="noValido">
                        <label for="inputPassNew" class="Animation-label">Create a password *</label>
                        <label class="Animation-info" for="inputPassNew" id="infoPass"><i class="fa-solid fa-circle-info"></i></label>
                        <label class="Animation-closeInfo" for="inputPassNew" id="closeInfoPass"><i class="fa-solid fa-circle-info"></i></label>
                    </div>
                    <i id="btnEyePassword" class="Box-i fa-solid fa-eye"></i>
                </div>
                <div class="Input-error Error fieldErr" id="validationPassNew">
                    <div class="Error-icon">
                        <svg fill="currentColor" focusable="false" width="16px" height="16px" viewBox="0 0 24 24"
                            xmlns="https://www.w3.org/2000/svg">
                            <path
                                d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-2h2v2zm0-4h-2V7h2v6z">
                            </path>
                        </svg>
                    </div>
                    <div class="Error-text">
                        <span id="errorPassNew" class="fieldErrText">Email cannot be empty.</span>
                    </div>
                </div>
                <!-- TODO REPEAT PASSWORD -->
                <div class="Input-box Box">
                    <i id="iconPassRepeat" class="Box-i fa-solid fa-key"></i>
                    <div class="Box-animation Animation">
                        <input class="Animation-input" name="inputPassNewRepeat" id="inputPassNewRepeat" type="password"
                            required="required" placeholder=" " autocomplete="noValido" tabindex="5">
                        <label for="inputPassNewRepeat" class="Animation-label">Repeat password *</label>
                        <label class="Animation-info" for="inputPassNewRepeat" id="infoPass"><i class="fa-solid fa-circle-info"></i></label>
                        <label class="Animation-closeInfo" for="inputPassNewRepeat" id="closeInfoPass"><i class="fa-solid fa-circle-info"></i></label>
                    </div>
                    <i id="btnEyePasswordRepeat" class="Box-i fa-solid fa-eye"></i>
                </div>
                <div class="Input-error Error fieldErr" id="validationPassRepeat">
                    <div class="Error-icon">
                        <svg fill="currentColor" focusable="false" width="16px" height="16px" viewBox="0 0 24 24"
                            xmlns="https://www.w3.org/2000/svg">
                            <path
                                d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-2h2v2zm0-4h-2V7h2v6z">
                            </path>
                        </svg>
                    </div>
                    <div class="Error-text">
                        <span id="errorPassRepeat" class="fieldErrText">Email cannot be empty.</span>
                    </div>
                </div>
            </div>
            <div class="Input-select">
                <label class="Select-label" for="rol">Select a Rol for User</label>
                <select id="rol" name="rol" class="Select-rol" tabindex="6">
                    <option class="Select-option" value="admin" selected>Admin</option>
                    <option class="Select-option" value="data entry">Data Entry</option>
                </select>
            </div>
            <div class="Input-button">
                <input class="Button-cancel" id="btnCancel" type="button" onclick="cancel();" value='CANCEL'
                    tabindex="7" />
                <input class="Button-accept" id="btnAccept" type="submit" value='ACCEPT' tabindex="8" />
            </div>
        </div>
    </form>
</div>

<script defer src="/scripts/register.js" type="text/javascript"></script>