<body>
    <div class="register-form">
		<h1>Form Registration</h1>
		<form action="/register" method="POST">
        <label for="user">Email</label>
                <input type="email" name="email" required tabindex="1" autofocus>            
            <label for="user">FirtName</label>
                <input type="text" name="firtname" required tabindex="2">            
            <label for="user">LastName</label>
                <input type="text" name="lastname" required tabindex="3">
            
            <label for="rol">Rol</label>                          
            <select id="rol" name="rol" class="select-css" tabindex="4">
                <option value="admin" selected>Admin</option>
                <option value="data entry">Data Entry</option>                    
            </select>
             <br> 
            <label for="pass">Password</label>
			    <input type="password" name="pass" required tabindex="5">
            <div style="display: inline;">             
            <a href="/" class="btn-cancel">Cancel</a><input type="submit" class="btn-save" value="Save">           
            </div>
		</form>		
	</div>