<div class="Singup" id="stateRecord">
        {{> messages}}
    <form class="Register" action="/register" method="post" id="formRegister" name="formRegister">
            <div class="Register-content">
                <h1 class="Register-title">User Register</h1>
                <div class="Input-boxes">
                    <div class="Input-box Box">
                        <i id="iconEmail" class="Box-i fa-solid fa-envelope"></i>
                        <div class="Box-animation Animation">
                            <input class="Animation-input" name="newEmail"  id="newEmail" type="email" placeholder=" " autocomplete="valorNoValido" required="required" tabindex="1" autofocus>
                            <label class="Animation-label" for="newEmail">Enter your email address *</label>
                        </div>
                    </div>
                    <div class="Input-error" id="grupo__mail">
                        <p class="Error-p ">The Email is not correct.</p>
                    </div>
                    
                    <div class="Input-box Box">
                        <i id="iconUsername" class="Box-i fa-solid fa-user"></i>
                        <div class="Box-animation Animation">
                            <input class="Animation-input" name="nickname" id="nickname" type="text"  placeholder=" " autocomplete="nickname" required="required" tabindex="2">
                            <label class="Animation-label" for="nickname" >Enter your nickname *</label>
                        </div>
                    </div>
                    <div class="Input-error" id="grupo__nickname">
                        <p class="Error-p ">The Username is not correct.</p>
                    </div>
                    <div class="Input-box Box">
                        <i id="iconFullname" class="Box-i fa-solid fa-user"></i>
                        <div class="Box-animation Animation">
                            <input class="Animation-input" id="full-name" type="text" name="full-name" tabindex="3"  placeholder=" " autocomplete="noValido" required="required">
                            <label class="Animation-label" for="full-name">Enter your full name *</label>
                        </div>
                    </div>
                    <div class="Input-error" id="grupo__password2">
                        <p class="Error-p ">The verification password does not match.</p>
                    </div>
                    <div class="Input-box Box">
                        <i id="iconPass" class="Box-i fa-solid fa-key"></i>
                        <div class="Box-animation Animation">
                            <input class="Animation-input" name="newPass" id="newPass" type="password" required="required" tabindex="4"  placeholder=" " autocomplete="noValido">
                            <label for="newPass" class="Animation-label">Create a password *</label>
                        </div>
                        <i id="icon-eye-rPassword" class="Box-i fa-solid fa-eye"></i>
                    </div>
                    <div class="Input-error" id="grupo__password">
                        <p class="Error-p ">The verification password does not match.</p>
                    </div>
                    <div class="Input-box Box">
                        <i id="iconPassRepeat" class="Box-i fa-solid fa-key"></i>
                        <div class="Box-animation Animation">
                            <input class="Animation-input" name="newPassRepeat" id="newPassRepeat" type="password" required="required"  placeholder=" " autocomplete="noValido" tabindex="5"> 
                            <label for="newPassRepeat" class="Animation-label">Repeat password *</label>
                        </div>
                        <i id="icon-eye-rRepeat" class="Box-i fa-solid fa-eye"></i>
                    </div>
                    <div class="Input-error" id="grupo__password2">
                        <p class="Error-p ">The verification password does not match.</p>
                    </div>
                </div>
                <div class="Input-select">
                    <label class="Select-label" for="rol">Select a Rol for User</label>
                    <select id="rol" name="rol" class="Select-rol" tabindex="6">
                        <option class="Select-option" value="admin" selected>Admin</option>
                        <option class="Select-option" value="data entry">Data Entry</option>
                    </select>
                </div>
                <div class="Input-button">
                    <input class="Button-cancel" id="btnCancel" type="submit" value='CANCEL' tabindex="7" />
                    <input class="Button-accept" id="btnAccept" type="submit" value='ACCEPT' tabindex="8" />
                </div>
            </div>
            {{!--
        </div> --}}
    </form>
</div>

<link rel="stylesheet" href="/style/singup.css">