<link rel="stylesheet" href="/style/singup.css">

<div class="Singup" id="stateRecord">
    <form class="Register" id="formRegister" name="formRegister">
        <div class="Register-content">
            <h1 class="Register-title">User Register</h1>
            <div class="Input-boxes">
                <!-- TODO EMAIL -->
                <div class="Input-box Box">
                    <i id="iconEmail" class="Box-i fa-solid fa-envelope"></i>
                    <div class="Box-animation Animation">
                        <input class="Animation-input" name="inputEmailNew" id="inputEmailNew" type="email"
                            placeholder=" " autocomplete="valorNoValido" required="required" tabindex="1" autofocus>
                        <label class="Animation-label" for="inputEmailNew">Enter your Email *</label>
                        <label class="Animation-info" for="inputEmailNew" id="infoEmail"><i class="fa-solid fa-circle-info"></i></label>
                    </div>
                </div>
                <div class="Input-error Error" id="validationEmailNew">
                    <div class="Error-icon">
                        <svg fill="currentColor" focusable="false" width="16px" height="16px" viewBox="0 0 24 24"
                            xmlns="https://www.w3.org/2000/svg">
                            <path
                                d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-2h2v2zm0-4h-2V7h2v6z">
                            </path>
                        </svg>
                    </div>
                    <div class="Error-text">
                        <span id="errorEmailNew">Email cannot be empty.</span>
                    </div>
                </div>
                <!-- TODO USERNAME -->
                <div class="Input-box Box">
                    <i id="iconUserName" class="Box-i fa-solid fa-user"></i>
                    <div class="Box-animation Animation">
                        <input class="Animation-input" name="inputUsername" id="inputUsername" type="text"
                            placeholder=" " autocomplete="username" required="required" tabindex="2">
                        <label class="Animation-label" for="inputUsername">Enter your Username *</label>
                        <label class="Animation-info" for="inputUsername" id="infoUsername"><i class="fa-solid fa-circle-info"></i></label>
                    </div>
                </div>
                <div class="Input-error Error" id="validationUserName">
                    <div class="Error-icon">
                        <svg fill="currentColor" focusable="false" width="16px" height="16px" viewBox="0 0 24 24"
                            xmlns="https://www.w3.org/2000/svg">
                            <path
                                d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-2h2v2zm0-4h-2V7h2v6z">
                            </path>
                        </svg>
                    </div>
                    <div class="Error-text">
                        <span id="errorUserName">Username cannot be empty.</span>
                    </div>
                </div>
                <!-- TODO FULL NAME -->
                <div class="Input-box Box">
                    <i id="iconFullName" class="Box-i fa-solid fa-user"></i>
                    <div class="Box-animation Animation">
                        <input class="Animation-input" id="inputFullName" type="text" name="inputFullName" tabindex="3"
                            placeholder=" " autocomplete="noValido" required="required">
                        <label class="Animation-label" for="inputFullName">Enter your Full Name *</label>
                        <label class="Animation-info" for="inputFullName" id="infoFullname"><i class="fa-solid fa-circle-info"></i></label>
                    </div>
                </div>
                <div class="Input-error Error" id="validationFullName">
                    <div class="Error-icon">
                        <svg fill="currentColor" focusable="false" width="16px" height="16px" viewBox="0 0 24 24"
                            xmlns="https://www.w3.org/2000/svg">
                            <path
                                d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-2h2v2zm0-4h-2V7h2v6z">
                            </path>
                        </svg>
                    </div>
                    <div class="Error-text">
                        <span id="errorFullName">The field Fullanme cannot be empty.</span>
                    </div>
                </div>
                <!-- TODO NEW PASSWORD -->
                <div class="Input-box Box">
                    <i id="iconPassNew" class="Box-i fa-solid fa-key"></i>
                    <div class="Box-animation Animation">
                        <input class="Animation-input" name="inputPassNew" id="inputPassNew" type="password"
                            required="required" tabindex="4" placeholder=" " autocomplete="noValido">
                        <label for="inputPassNew" class="Animation-label">Create a password *</label>
                        <label class="Animation-info" for="inputPassNew" id="infoPass"><i class="fa-solid fa-circle-info"></i></label>
                    </div>
                    <i id="icon-eye-rPassword" class="Box-i fa-solid fa-eye"></i>
                </div>
                <div class="Input-error Error" id="validationPassNew">
                    <div class="Error-icon">
                        <svg fill="currentColor" focusable="false" width="16px" height="16px" viewBox="0 0 24 24"
                            xmlns="https://www.w3.org/2000/svg">
                            <path
                                d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-2h2v2zm0-4h-2V7h2v6z">
                            </path>
                        </svg>
                    </div>
                    <div class="Error-text">
                        <span id="errorPassNew">Email cannot be empty.</span>
                    </div>
                </div>
                <!-- TODO REPEAT PASSWORD -->
                <div class="Input-box Box">
                    <i id="iconPassRepeat" class="Box-i fa-solid fa-key"></i>
                    <div class="Box-animation Animation">
                        <input class="Animation-input" name="inputPassNewRepeat" id="inputPassNewRepeat" type="password"
                            required="required" placeholder=" " autocomplete="noValido" tabindex="5">
                        <label for="inputPassNewRepeat" class="Animation-label">Repeat password *</label>
                        <label class="Animation-info" for="inputPassNewRepeat" id="infoPass"><i class="fa-solid fa-circle-info"></i></label>
                    </div>
                    <i id="icon-eye-rRepeat" class="Box-i fa-solid fa-eye"></i>
                </div>
                <div class="Input-error Error" id="validationPassRepeat">
                    <div class="Error-icon">
                        <svg fill="currentColor" focusable="false" width="16px" height="16px" viewBox="0 0 24 24"
                            xmlns="https://www.w3.org/2000/svg">
                            <path
                                d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-2h2v2zm0-4h-2V7h2v6z">
                            </path>
                        </svg>
                    </div>
                    <div class="Error-text">
                        <span id="errorPassRepeat">Email cannot be empty.</span>
                    </div>
                </div>
            </div>
            <div class="Input-select">
                <label class="Select-label" for="rol">Select a Rol for User</label>
                <select id="rol" name="rol" class="Select-rol" tabindex="6">
                    <option class="Select-option" value="admin" selected>Admin</option>
                    <option class="Select-option" value="data entry">Data Entry</option>
                </select>
            </div>
            <div class="Input-button">
                <input class="Button-cancel" id="btnCancel" type="button" onclick="cancel();" value='CANCEL'
                    tabindex="7" />
                <input class="Button-accept" id="btnAccept" type="submit" value='ACCEPT' tabindex="8" />
            </div>
        </div>
    </form>
</div>

<script defer>
    const url = '/register';
    const inputPassNew = document.getElementById("inputPassNew");
    const inputPassNewRepeat = document.getElementById("inputPassNewRepeat");
    const btnAccept = document.getElementById("btnAccept");
    const btnCancel = document.getElementById("btnCancel");
    const btnShowPass = document.getElementById("icon-eye-rPassword");
    const btnShowPassRepeat = document.getElementById("icon-eye-rRepeat");
    const formRegister = document.getElementById("formRegister");
    const inputs = document.querySelectorAll("#formRegister input");
    const inputEmailNew = document.getElementById('inputEmailNew');
    const inputUsername = document.getElementById('inputUsername');
    const inputFullName = document.getElementById('inputFullName');
    
    const fields = {
        email: false,
        username: false,
        fullname: false,
        pass: false
    }

    const expresiones = {
        username: /^[a-zA-Z0-9\_\-]{4,16}$/, // Letras, numeros, guion y guion_bajo
        fullname: /^[a-zA-ZÀ-ÿ\s]{4,40}$/, // Letras y espacios, pueden llevar acentos.
        password: /^.{5,20}$/, // 4 a 20 digitos.
        email: /^\w+([.-_+]?\w+)*@\w+([.-]?\w+)*(\.\w{2,10})+$/,
        //email: /^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$/,
        //phone: /^\d{7,14}$/ // 7 a 14 numeros.
    };

    const validarPassword = () => {
        if (inputPassNew.value !== inputPassNewRepeat.value) {
            document.getElementById('validationPassRepeat').classList.add('isActive');
            document.getElementById('errorPassRepeat').innerHTML = "Passwords do not match.";
            inputPassNewRepeat.classList.add('isError');
            fields['pass'] = false;
        } else {
            document.getElementById('validationPassRepeat').classList.remove('isActive');
            document.getElementById('errorPassRepeat').innerHTML = "";
            inputPassNewRepeat.classList.remove('isError');
            fields['pass'] = true;
        }
    }

    async function cancel() {
        window.location = '/workspace/admin'
    }

    async function responseRegister(data) {
        const exists = data.exists;
        const contentSwal = {
            text: data.message,
            backdrop: '#2C3333',
            timer: 5000,
            showCancelButton: false,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#474E68',
            confirmButtonText: 'OK',
            showClass: {
                popup: 'animate__animated animate__fadeInDown'
            },
            hideClass: {
                popup: 'animate__animated animate__fadeOutUp'
            }
        }
        if (!exists) {
            Swal.fire({
                icon: 'success',
                title: 'Success',
                text: data.message,
                backdrop: '#2C3333',
                timer: 5000,
                showCancelButton: false,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#474E68',
                confirmButtonText: 'OK',
                showClass: {
                    popup: 'animate__animated animate__fadeInDown'
                },
                hideClass: {
                    popup: 'animate__animated animate__fadeOutUp'
                }
            }).then(() => {
                formRegister.reset();
                inputEmailNew.focus();
                inputEmailNew.select();
            });
        } else {
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: data.message,
                backdrop: '#2C3333',
                timer: 5000,
                showCancelButton: false,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#474E68',
                confirmButtonText: 'OK',
                showClass: {
                    popup: 'animate__animated animate__fadeInDown'
                },
                hideClass: {
                    popup: 'animate__animated animate__fadeOutUp'
                }
            }).then(() => {
                inputEmailNew.focus();
                inputEmailNew.select();
            });
        }
    }

    async function validateField(expresion, input, fieldError, fieldErrorText, textError, field, info) {
        if (!expresion.test(input.value.trim())) {
            document.getElementById(fieldError).classList.add('isActive');
            document.getElementById(fieldErrorText).innerHTML = textError;
            input.classList.add('isError');
            document.getElementById(info).classList.add('isVisible');
            fields[field] = false;
        } else {
            document.getElementById(fieldError).classList.remove('isActive');
            document.getElementById(fieldErrorText).innerHTML = "";
            input.classList.remove('isError');
            document.getElementById(info).classList.remove('isVisible');
            fields[field] = true;
        }
    }

    async function fieldEmpty(expression, input, errorDivValidation, errorInputText, textEmailError, field, info) {
        if (input.value.trim() !== "") {
            await validateField(expression, input, errorDivValidation, errorInputText, textEmailError, field, info);
        } else {
            document.getElementById(errorDivValidation).classList.remove('isActive');
            document.getElementById(errorInputText).innerHTML = "";
            input.classList.remove('isError');
            document.getElementById(info).classList.remove('isVisible');
        }
        return;
    }

    const validateForms = async (e) => {
        switch (e.target.name) {
            case "inputEmailNew":
                let textEmailError = "Error: The format Email address is incorrect, the email can only contain letters, numbers, periods, hyphens and underscores.";
                await fieldEmpty(expresiones.email, e.target, 'validationEmailNew', 'errorEmailNew', textEmailError, 'email', 'infoEmail');
                break;
            case "inputUsername":
                let textErrorUsername = "Error: The username must be between 4 and 16 digits and can only contain numbers, letters, and underscores and cannot contain spaces.";
                await fieldEmpty(expresiones.username, e.target, 'validationUserName', 'errorUserName', textErrorUsername, 'username', 'infoUsername');
                break;
            case "inputFullName":
                let textErrorFullname = "Error: Full Name must have 4 to 40 digits and can contain letters, accents and spaces, cannot contain special characters.";
                await fieldEmpty(expresiones.fullname, e.target, 'validationFullName', 'errorFullName', textErrorFullname, 'fullname', 'infoFullname');
                break;
            case "inputPassNew":
                let textErrorPassNew = "Error: The password does not meet the requirements of the password policy, it must be between 5 and 20 digits, it can contain letters, numbers and special characters.";
                await fieldEmpty(expresiones.password, e.target, 'validationPassNew', 'errorPassNew', textErrorPassNew, 'pass', 'infoPass');
                validarPassword();
                break;
            case "inputPassNewRepeat":
                validarPassword();
                break;
        }
    };

    inputs.forEach(input => {
        inputs.forEach(input => {
            input.addEventListener("blur", validateForms);
            input.addEventListener("keyup", validateForms);
            input.addEventListener("keypress", (e) => {
                if (e.key === 'Enter') {
                    validateForms;
                }
            });
        });
    });

    async function correctForms(e) {
        e.preventDefault();
        if (fields.email && fields.username && fields.fullname && fields.pass) {
            const data = {
                email: inputEmailNew.value,
                username: inputUsername.value,
                fullname: inputFullName.value,
                rol: document.getElementById("rol").value,
                pass: inputPassNew.value
            };
            fetch(url, {
                method: 'POST',
                body: JSON.stringify(data),
                headers: {
                    'Content-Type': 'application/json; charset=UTF-8'
                }

            })
                .then((response) => response.json())
                .then((data) => responseRegister(data))
                .catch((error) => console.error(error));
        } else {
            window.alert("There are items required your attention.")
            if (!fields.email) {
                inputEmailNew.focus();
                inputEmailNew.select();
                inputEmailNew.classList.add('isError');
                document.getElementById('infoEmail').classList.add('isVisible');
                return;
            } else if (!fields.username) {
                inputUsername.focus();
                inputUsername.select();
                inputUsername.classList.add('isError');
                document.getElementById('infoUsername').classList.add('isVisible');
                return;
            } else if (!fields.fullname) {
                inputFullName.focus();
                inputFullName.select();
                inputFullName.classList.add('isError');
                document.getElementById('infoFullname').classList.add('isVisible');
                return;
            } else if (!fields.pass) {
                inputPassNew.focus();
                inputPassNew.select();
                inputPassNew.classList.add('isError');
                document.getElementById('infoPass').classList.add('isVisible');
                return;
            }
        }        
    }

    document.addEventListener("DOMContentLoaded", function () {
        formRegister.addEventListener("submit", correctForms);
    });

</script>