<link rel="stylesheet" href="/style/new.css">

<div class="New">

    <!-- TODO TITTLE FLAG NEW `PARTNER` -->
    <div class="New-title">
        <h1 class="New-h1">Add New Partner</h1>
    </div>
    <div class="New-flag"></div>

    <!-- TODO FORMULARIO DE AÑADIR NUEVO PARTNER -->
    <form class="New-form" id="formAddPartner" id="formAddPartner">

        {{> formPartner}}

        <div class="Input-button">
            <input class="Button-cancel" onClick="cerrar()" id="btnCancel"
                type="button" value='CANCEL' tabindex="10" />
            <input class="Button-accept" id="btnAccept" type="submit"
                value='ACCEPT' tabindex="11" />
        </div>

    </form>    

</div>

<script defer>
    const url = "/api/partners/";
    const selectDni = document.getElementById("selectDni");
    const dniCheck = document.getElementById("dniCheck");
    const familyLink = document.getElementById("familyLink");
    const formAddPartner = document.getElementById("formAddPartner");
    const inputDni = document.getElementById("inputDni");
    const inputName = document.getElementById("inputName");
    
    function cerrar() {
    window.location.href = "/workspace/partners";
    }

    $(document).ready(function () {
    theme: "bootstrap4", $(".js-example-basic-single").select2();
    });

    // CREDIT github @THuRStoN
    function formatNumberLength(num, length) {
    var r = "" + num;
    while (r.length < length) {
        r = "0" + r;
    }
    return r;
    }

    // CREDIT github @THuRStoN
    function charDNI(dni) {
    var chain = "TRWAGMYFPDXBNJZSQVHLCKET";
    var pos = dni % 23;
    var letter = chain.substring(pos, pos + 1);
    return letter;
    }

    // CREDIT github @THuRStoN
    function rand_dni() {
    num = Math.floor(Math.random() * 100000000);
    sNum = formatNumberLength(num, 8);
    return sNum + charDNI(sNum);
    }

    // TODO AÑADE DNI DE PARTNERS
    async function obtenerDni(data) {
    selectDni.innerHTML =
        '<option value="" disabled selected hidden>Select family member\'s DNI</option>';
    data.forEach(partner => {
        let option = document.createElement("option");
        option.value = partner.id_partner;
        option.text = partner.dni;
        selectDni.add(option);
    });
    inputDni.value = rand_dni();
    selectDni.focus();
    }

    // TODO VALIDAR SI ES MENOR
    dniCheck.addEventListener("change", () => {
    if (dniCheck.checked) {
        familyLink.classList.add("isEnable");
        setTimeout(() => {
        fetch(url, {
            method: "GET",
            headers: {
            Accept: "application/json",
            "Content-Type": "application/json; charset=utf-8"
            }
        })
            .then(response => response.json())
            .then(data => obtenerDni(data))
            .catch(e =>
            window.alert("There is no record in partners, to associate.")
            );
        }, 500);
    } else {
        $("#selectDni").html("");
        familyLink.classList.remove("isEnable");
        inputDni.value = "";
        inputDni.focus();
    }
    });

    //TODO MESSAGE
    async function responseAddPartner(data) {
    const exists = data.exists;
    if (!exists) {
        Swal.fire({
        icon: "success",
        title: "Success",
        text: data.messageSuccess,
        backdrop: "#2C3333",
        timer: 5000,
        showCancelButton: false,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#474E68",
        confirmButtonText: "OK",
        showClass: {
            popup: "animate__animated animate__fadeInDown"
        },
        hideClass: {
            popup: "animate__animated animate__fadeOutUp"
        }
        }).then(response => {
        $("#selectDni").html("");
        formAddPartner.reset();
        familyLink.classList.remove("isEnable");
        inputDni.focus();
        });
    } else {
        Swal.fire({
        icon: "error",
        title: "Oops...",
        text: data.errorMessage,
        backdrop: "#2C3333",
        timer: 5000,
        showCancelButton: false,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#474E68",
        confirmButtonText: "OK",
        showClass: {
            popup: "animate__animated animate__fadeInDown"
        },
        hideClass: {
            popup: "animate__animated animate__fadeOutUp"
        }
        }).then(() => {
        inputDni.focus();
        inputDni.select();
        });
    }
    }

    //TODO ADD
    async function addNewPartner(data) {
    const url = `/api/partners/add`;
    fetch(url, {
        method: "POST",
        body: JSON.stringify(data),
        headers: {
        "Content-type": "application/json; charset=UTF-8"
        }
    })
        .then(response => response.json())
        .then(data => responseAddPartner(data))
        .catch(error => console.error(error));
    }

    // TODO VALIDAR FORMS
    async function correctForms(e) {
    e.preventDefault();
    let actualDate = new Date();
    let date = moment(actualDate).format("YYYY/DD/MM");
    console.log(date);
    let data = {
        inputDni: $.trim($("#inputDni").val()),
        inputName: $.trim($("#inputName").val()),
        inputScanner: $.trim($("#inputScanner").val()),
        inputLastname: $.trim($("#inputLastname").val()),
        inputDirection: $.trim($("#inputDirection").val()),
        inputPopulation: $.trim($("#inputPopulation").val()),
        inputPhone: $.trim($("#inputPhone").val()),
        inputPhoneLandline: $.trim($("#inputPhoneLandline").val()),
        inputEmail: $.trim($("#inputEmail").val()),
        actualDate: date
    };
    if (dniCheck.checked) {
        const indice = selectDni.selectedIndex;
        console.log(indice);
        if (indice === -1 || indice === undefined) return;
        if (indice === 0) {
        window.alert("Please select a dni to add to your partner list ");
        return;
        }
        const opcionSeleccionada = selectDni.options[indice];
        console.log(opcionSeleccionada.value);
        let idPartnerFamily = opcionSeleccionada.value;
        let dniFamily = opcionSeleccionada.text;
        data.idPartnerFamily = idPartnerFamily;
        data.dniFamily = dniFamily;
        addNewPartner(data);
        console.log("1 ==> ", { data });
        selectDni.focus();
    } else {
        let idPartnerFamily = "null";
        let dniFamily = "null";
        data.idPartnerFamily = idPartnerFamily;
        data.dniFamily = dniFamily;
        console.log("2 ==> ", { data });
        addNewPartner(data);
    }
    }

    // TODO EVENTO AL ENVIAR FORMULARIO
    try {
        document.addEventListener("DOMContentLoaded", function () {
            formAddPartner.addEventListener("submit", correctForms);
        });
    } catch(error) {}
</script>