<link rel="stylesheet" href="/style/new.css">

<div class="New" id="stateNewPartner">
    <!-- TODO TITTLE FLAG NEW `PARTNER` -->
    <div class="New-title">
        <h1 class="New-h1">Add New Partner</h1>
    </div>
    <div class="New-flag"></div>
    
    <!-- TODO FORMULARIO DE AÑADIR NUEVO PARTNER -->
    <form class="New-form" id="formAddPartner" name"formAddPartner">
        <button type="submit" disabled hidden aria-hidden="true"></button>
        {{> formPartner}}

        <div class="Input-button">
            <input class="Button-cancel" onClick="cerrar()" id="btnCancel"
                type="button" value='CANCEL' tabindex="10" />
            <input class="Button-accept" id="btnAccept" type="submit"
                value='ACCEPT' tabindex="11" />
        </div>

    </form>    

</div>

<script defer src="/scripts/partners/newPartner.js"></script>