node_modules/
package-lock.json
env_example
liburudenda-selfsigned.crt
liburudenda-selfsigned.key
mysql-data/
docker-compose.yml
data/
Dockerfile
docs/
excel/
Procfile
docker-compose PRO.yml
docker-compose_DEV.yml
.gitignore