node_modules/
package-lock.json
liburudenda-selfsigned.crt
liburudenda-selfsigned.key
mysql-data/
docker-compose.yml
data/
Dockerfile
docs/
excel/
Procfile
docker-compose PRO.yml
docker-compose_DEV.yml
.gitignore
otros/
*.csv
exec/
addData*.js
compose*
.git/
scriptAutomatizacion/
env/
*.env
.env/.env