.vscode
containers/
mysql-data/
node_modules/
scriptAutomatizacion/
.dockerignore
.env
*.example
.gitignore
docker-compose.yml
Dockerfile
Liburudenda.code-workspace
package-lock.json
README.md
src/*.env
src/development.env
src/production.env
.git