node_modules/
liburudenda-selfsigned.*
##docs/
env/.env
.gitignore
.mysql-data/
Procfile
mysql-data/
data/
.env
sanmiguel.sql
docker-compose_DEV.yml
docker-compose PRO.yml
.gitignore
.dockerignore
excel/
package copy*
.dockerignore
*.csv
exec/
addData*.js
env/
.env
compose*
.git/