<div class="Error">
    <p>Error no existe la pagina</p>
    <p>Error no existe la pagina</p>
    <p>Error no existe la pagina</p>
    <p>Error no existe la pagina</p>
    <p>Error no existe la pagina</p>
    <p>Error no existe la pagina</p>
    <p>Error no existe la pagina</p>
    <p>Error no existe la pagina</p>
    <p>Error no existe la pagina</p>
    <p>Error no existe la pagina</p>
    <p>Error no existe la pagina</p>
    <p>Error no existe la pagina</p>
</div>