<div class="Error">
    {{!-- <img class="Error-img" src="image/404.svg" alt=""> --}}
    <div class="Error-details">
        <h1 class="Error-h1">NOT FOUND</h1>
        <p class="Error-p">Sorry, but you are looking for something that isn`t here</p>
        <a href="/" class="Error-a"><span>Go Liburutegia</a>
    </div>
</div>
<link rel="stylesheet" href="../style/404.css">
