<div class="New isNew">
    <form class="New-form" action="/api/partners/add" method="post">
        <div class="New-title isEnable">
            <h1 class="New-h1">Add New Partner</h1>
        </div>
        {{> formNewBooking }}
        <div class="Input-button">
            <input class="Button-cancel" onClick="cerrar()" id="btnCancel" type="button" value='CANCEL' tabindex="11" />
            <input class="Button-accept" id="btnAccept" type="submit" value='ACCEPT' tabindex="12" />
        </div>
    </form>
</div>

<link href="/style/new.css" rel="stylesheet">

<script>
    function cerrar() {
        window.location.href = "/workspace/partners"
    }
</script>