{{!-- <link rel="stylesheet" href="style/index.css"> --}}
<div class="Index-container" id="stateHome">

    <div class="Index-text">
        <h1 class="Index-h1">Books are unique portable magic.</h1>
        <p class="Index-p">Any independent bookstore that has managed to survive is the best place to do a reading.</p>
        {{> messages}}
        <a class="Index-a" href="/login" role="button">Go Liburutegia</a>
    </div>
    <div class="Index-img">
        <img loading="lazy" src="image/index-movil.svg">
    </div>
</div>