<body>
    <div class="jumbotron">
        <div class="container">
            <h1>You can reserve a book, add a partner.</h1>
            <br>
            <p><a class="btn btn-primary btn-lg" href="/sharks" role="button">Get Liburudenda</a>
            </p>
        </div>
    </div>

  </body>
