  
    <div class="Index-container" id="stateHome">
        <div class="Index-title">
            <h1 class="Index-title--h1">You can reserve a book, add a partner.</h1>
        </div>
        <div class="Index-button">
            <a class="Index-button--a" href="/login" role="button">Get Liburudenda</a>
        </div>  
    </div>