.Block {
  position: relative;
  padding: 50px 0;
  transition: background .3s ease-in-out;
  min-height: calc(100vh - 418px);
  flex: 1;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
}

.Error {
  width: 500px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
}

.Error-details {
  margin: auto;
  height: auto;
  border-radius: 10px;
  border: solid 2px black;
  background-color: #fff38c;
  color: black;
  font-family: "Courier New";
  padding: 20px;
  letter-spacing: 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: column nowrap;
  overflow: hidden;
  overflow-y: auto;
}

.Error-h1 {
  overflow: hidden;
  white-space: nowrap;
  font-weight: 700;
  border-right: 0.15em solid #18bdec;
  animation: typing 3s steps(38) 1s infinite both, blink 1s steps(1) infinite;
  float: right;
  display: flex;
  align-items: center;
  word-break: break-all;
}

.Error-p {
  overflow: hidden;
  float: right;
  display: flex;
  align-items: center;
  word-break: break-all;
}

.Error-a {
  padding: 10px 15px;
  cursor: pointer;
  text-decoration: none;
  background-color: #c0b236;
  color: var(--negro);
  border-radius: var(--Radius-button);
  border: solid 1px black;
  float: right;
  display: flex;
  align-items: center;
  word-break: break-all;
}

.Error-a:hover {
  background-color: #d9cb50;
  text-decoration: none;
  color: inherit;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 70%;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.Footer {
  display: none;
}

.Header {
  display: none;
}


@media screen and (max-width: 500px) {

  .Block{
    width: 90%;
  }
}