.Error{
    width: 100vw;
    background-color: inherit;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    margin: auto;
    position: relative;
}

.Error-img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    overflow: hidden;
}

.Error-details{
    position: absolute;
    left: 5%;
    top: 40%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    width: 300px;
    height: auto;
    background-color: #FFF38C;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    border: solid 2px black;
}

.Error-p,
.Error-h1{
    padding: 20px;
    margin: 10px 0;
    letter-spacing: 3px;
}

.Error-a{
    padding: 10px;
    margin: 10px 0;
    letter-spacing: 3px;
    cursor: pointer;
    text-decoration: none;
    background-color: #C0B236;
    color: black;
    border-radius: 5px;
    border: solid 1px black;
}

.Error-a:hover{
    background-color: #D9CB50;
    text-decoration: none;
    color: inherit;
    padding: 10px;
}
.Error-h1 {
    width: 0;
    overflow: hidden;
    white-space: nowrap;
    font-size: 2rem;
    font-weight: 700;
    margin: 10px 0;
    letter-spacing: 3px;
    font-family: "Courier New";
    border-right: 0.15em solid #18bdec;
    animation: typing 3s steps(38) 0.5s infinite both, blink 1s steps(1) infinite;
  }
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }

.Footer{
    display: none;
}
.Header{
    display: none;
}

@media screen and (max-width: 950px) {

    .Error-details{
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      width: 300px;
      height: 400px;
    }

    .Error-a,
    .Error-h1,
    .Error-p{
        margin: 10px 0;
    }
  }

@media screen and (max-width: 500px) {
    .Error-img{
        margin-top: 80px;
    }
    .Error-details{
      top: 0;
      left: 0;
      margin: 0 auto;
      width: 400px;
      height: 250px;
      padding: 10px;
      display: flex;
      justify-content: center;
      flex-flow: column nowrap;
      overflow: hidden;
    }

    .Error-a,
    .Error-h1,
    .Error-p{
        margin: 10px 0;
        padding: 10px;
    }
  }