.Error {
  padding: 20px;
  width: 90%;
  height: var(--heigth-forms);
  max-width: var(--maxWidth);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: row-reverse wrap;
  margin: 0 auto;
}
.Error-svg{
  flex: 70%;
}
.Error-details {
  flex: 30%;
  margin: auto;
  height: auto;
  border-radius: 10px;
  border: solid 2px black;
  background-color: #fff38c;
  color: black;
  font-family: "Courier New";
  padding: 20px;
  letter-spacing: 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: column nowrap;
  overflow: hidden;
  overflow-y: auto;
}

.Error-h1 {
  padding: 10px;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  font-weight: 700;
  font-size: 2rem;
  border-right: 0.15em solid #18bdec;
  animation: typing 3s steps(50) 0.5s infinite both, blink 1s steps(1) infinite;
  margin: 10px 0;
  float: right;
  display: flex;
  align-items: center;
  word-break: break-all;
}

.Error-p {
  text-align: center;
  padding: 10px;
  margin: 10px 0;
  font-size: inherit;
  font-family: inherit;
  float: right;
  display: flex;
  align-items: center;
  word-break: break-all;
  font-size: 1rem;
}

.Error-a {
  padding: 10px;
  margin: 10px 0;
  cursor: pointer;
  text-decoration: none;
  background-color: #c0b236;
  color: black;
  font-weight: bold;
  border-radius: 5px;
  border: solid 1px black;
  float: right;
  display: flex;
  align-items: center;
  word-break: break-all;
  font-size: 1rem;
}

.Error-a:hover {
  background-color: #d9cb50;
  text-decoration: none;
  color: inherit;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 70%;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.Footer {
  display: none;
}

.Header {
  display: none;
}

@media screen and (max-width: 950px) {
  .Error{
    flex-flow: column wrap;
    height: 100%;
  }
  .Error-svg{
    width: 80%;
  }
  .Error-details{
    width: 50%;
  }
}

@media screen and (max-width: 500px) {
  .Error{
    flex-flow: column wrap;
    height: 100%;
  }

  .Error-svg{
    width: 100%;
  }
  .Error-details{
    width: 80%;
  }

}
/* @media screen and (max-width: 950px) {

    .Error-details{
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      width: 300px;
      height: 400px;
    }

    .Error-a,
    .Error-h1,
    .Error-p{
        margin: 10px 0;
    }
  }

    .Error{
        height: 100%;
    }

    .Error-details{
      top: 50%;
      left: 0;
      width: auto;
      height: auto;
      display: flex;
      padding: 10px 0;
      flex-flow: column nowrap;
      overflow: hidden;
      overflow-y: auto;
    }

    Body{
      padding: 0;
    }
  } */
