.Cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: row wrap;
    width: 100%;
    height: 100%;
    margin: 20px 10px 30px 10px;
    display: none;
}

.Cards.isVisible {
    display: flex;
}

/* TITULO */
.Cards-data {
    position: relative;
    width: 300px;
    height: 200px;
    background: #fff;
        border: #000 solid 1px;
    /* border: solid 1px var(--color-background-shadow-botton); */
    border-radius: 5px;
    -webkit-box-shadow: var(--box-shadow-forms);
    box-shadow: var(--box-shadow-forms);
    transition-property: height, box-shadow;
    transition-duration: 0.7s;
    transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    margin: 50px 20px;
    cursor: default;
}

.Cards-data:hover {
    height: 330px;
    box-shadow: 2px 12px 16px var(--color-background-shadow-botton),
        -4px -8px 16px var(--color-background-shadow-top-admin);
}

.Cards-data .imgBx {
    position: absolute;
    left: 50%;
    top: -25px;
    transform: translateX(-50%);
    width: 240px;
    height: 60px;
    background: var(--Background-Color-forms-admin-head);
    border-radius: 5px;
    box-shadow: 0 8px 8px var(--color-background-shadow-botton);
    /* overflow: hidden; */
    transition-property: width, height, font-size;
    transition-duration: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-size: 1.5em;
}

.Cards-data:hover .imgBx {
    width: 260px;
    height: 80px;
    font-size: 1.8em;
    transition-duration: 0.5s;
}

.imgBx .card-head {
    color: var(--color-forms-admin-head);
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
}

.Cards-content {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
}

/* TITULO */
.Cards-content .Cards-details {
    padding: 20px;
    text-align: center;
    width: 100%;
    transition-property: transform;
    transition-duration: 0.5s;
    transform: translateY(180px);
    /* transition-delay: 0.2s; */
    transition-timing-function: ease-in;
    -webkit-transition-timing-function: ease-in;
    -moz-transition-timing-function: ease-in;
}

/* FIN TITULO */
.Cards-data:hover .Cards-content .Cards-details {
    transform: translateY(0px);
    transition-delay: 0.2s;
}

.Cards-content .Cards-details h2 {
    font-size: 1.25em;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    color: rgb(56, 56, 56);
    line-height: 1.2em;
    margin: 10px;
    padding: 10px 0;
}

.Cards-content .Cards-details h2 span {
    font-size: 1em;
    font-weight: 500;
    opacity: 0.7;
}

.Cards-content .Cards-details .data {
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* flex-flow: row wrap; */
    padding: 0 10px;
    margin: 20px 0;
}

.Cards-content .Cards-details .data h3 {
    font-size: 1em;
    color: rgb(56, 56, 56);
    line-height: 1.2em;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}

.Cards-content .Cards-details .data span {
    font-size: 1em;
    color: rgb(56, 56, 56);
    line-height: 1.2em;
    font-weight: 500;
    opacity: 0.7;
    font-family: 'Open Sans', sans-serif;
}

.Cards-content .Cards-details .Cards-actionBtn {
    width: 100%;
    padding: 10px;
}

/* BUTTONS STYLE */
.Cards-actionBtn .Cards-actionBtn-main {
    position: relative;
    display: flex;
    justify-content: center;
    gap: 25px;
}

.Cards-actionBtn .Cards-actionBtn-main button {
    position: relative;
    width: 40px;
    height: 40px;
    background: #fff;
    border-radius: 40px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    border: 0;

    box-shadow: 0 4px 4px var(--color-background-shadow-botton);
    transition-property: box-shadow, transform, width;
    transition-duration: 0.5s;
}

.Cards-actionBtn .Cards-actionBtn-main button span i {
    /* padding: 10px; */
    padding: 10px;
    font-size: 15px;
    width: 100%;
    transition: 0.5s;
    transition-delay: 0.25s;
}

.Cards-actionBtn .Cards-actionBtn-main button:hover span i {
    transform: scale(0);
    transition-delay: 0s;
}

.Cards-actionBtn .Cards-actionBtn-main button {
    background: var(--i);
    color: rgb(43, 43, 43);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    outline: none;
}

.Cards-actionBtn .Cards-actionBtn-main button span {
    position: absolute;
}

.Cards-actionBtn .Cards-actionBtn-main button .title {
    color: #fff;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    transform: scale(0);
    font-weight: 600;
    transition: 0.5s;
    transition-delay: 0s;
}

.Cards-actionBtn .Cards-actionBtn-main button:nth-child(3) .title {
    color: #fff;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    transform: scale(0);
    font-weight: 600;
    transition: 0.5s;
    transition-delay: 0s;
}

.Cards-actionBtn .Cards-actionBtn-main button:hover .title {
    transform: scale(1);
    transition-delay: 0.2s;
}

.Cards-actionBtn .Cards-actionBtn-main button::before {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 40px;
    background: linear-gradient(45deg, var(--i), var(--j));
    opacity: 0;
    transition: 0.5s;
}

.Cards-actionBtn .Cards-actionBtn-main button:hover::before {
    opacity: 1;
}

.Cards-actionBtn .Cards-actionBtn-main button::after {
    content: '';
    position: absolute;
    top: 10px;
    width: 100%;
    height: 100%;
    border-radius: 40px;
    background: linear-gradient(45deg, var(--i), var(--j));
    filter: blur(14px);
    opacity: 0;
    z-index: -1;
    transition: 0.5s;
}

.Cards-actionBtn .Cards-actionBtn-main button:hover::after {
    opacity: 0.5;
}

.Cards-actionBtn .Cards-actionBtn-main button:hover {
    box-shadow: 0px 4px 4px var(--color-background-shadow-botton);
    transform: translateY(-5px);
    width: 180px;
}

.Cards-data:hover .imgBx {
    width: 200px;
    height: 60px;
    font-size: 1.6em;
}

.Cards-content .Cards-details {
    padding: 10px;
    width: 100%;
    text-align: center;
    transform: translateY(180px);
}

.Cards-actionBtn .Cards-actionBtn-main button span i {
    font-size: 13px;
}

/* BOTONES */
.Button-cancel {
    text-decoration: none;
}

.Button-cancel:hover {
    text-decoration: none;
}

/* TABLA */

/* titulo */
.col-sm-12,
.col-md-6 {
    text-align: start;
}


.ui {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.col-sm-12 {
    align-items: center;
    padding: 20px;
}

/* SELECT */
.form-select {
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px 30px;
}

/* input */
div.dataTables_wrapper div.dataTables_filter input {
    width: 350px !important;
    height: 50px;
    font-size: 20px;
    border: solid 1px #000;
}

/* TEXTO TABLA */
.odd {
    background-color: #EEEEEE;
    color: #000;
}



/* PIE DE TABLE */
.col-md-7,
.col-md-5 {
    padding: 0;
    display: flex;
    align-items: center;
    width: 100%;
}

.col-md-7 {
    justify-content: flex-end;
}

div.dataTables_wrapper div.dataTables_info {
    font-weight: 600;
    padding: 0 !important;
    display: flex;
    justify-content: flex-start;
}

/* Cargando */
.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid black;
    border-color: black transparent black transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}


/* BTN TABLE */
.btn {
    margin: 0 2px;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media scream and (max-width: 500px) {
    .Workspace-legend {
        flex-flow: column wrap;
        width: 90%;
    }

    div.dataTables_wrapper div.dataTables_length label {
        width: 100%;
        text-align: start;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-top: 10px;
    }

    div.dataTables_wrapper div.dataTables_length label select {
        margin: 0 10px;
    }

    div.dataTables_wrapper div.dataTables_filter label {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    div.dataTables_wrapper div.dataTables_filter input {
        width: 100% !important;
    }

    .Workspace-fieldset {
        padding: 0;
    }

    .col-sm-12 {
        align-items: flex-start;
    }

    .col-md-7 {
        margin: 10px 0;
        order: 1;
    }

    .col-md-5 {
        margin-top: 10px;
        order: 2;
    }

    .form-control {
        padding: 0;
    }

    .Cards-data {
        position: relative;
        width: 300px;
        height: 150px;
        border-radius: 10px;

        transition-property: height, box-shadow;
        /* transition-duration: 0.7s; */
        margin: 40px 10px;
    }

    .Cards-data:hover {
        height: 300px;

    }

    .Cards-data .imgBx {
        position: absolute;
        left: 50%;
        top: -25px;
        transform: translateX(-50%);
        width: 180px;
        height: 40px;
        /* border: solid 1px var(--color-background-shadow-botton); */
        border-radius: 10px;
        overflow: hidden;
        transition-property: width, height;
        /* transition-duration: 0.7s; */

    }

    .Cards-data:hover .imgBx {
        width: 200px;
        height: 60px;
        font-size: 1.6em;
    }

    .Cards-content .Cards-details {
        padding: 10px;
        width: 100%;
        text-align: center;
        transform: translateY(180px);
    }

    .Cards-actionBtn .Cards-actionBtn-main button span i {
        font-size: 13px;
    }

}