.Admin-container {
  /* position: relative; */
  padding: 20px;
  border-radius: var(--Radius-forms);
  overflow: hidden;
  width: 100%;
  height: auto;
  min-height: var(--Heigth-forms);
  position: relative;
  color: rgb(0, 0, 0);
  /* border-radius: 10px 10px 0px 0px; */
  /* padding-top: 20px; */
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  /* border-radius: 0px 0px 10px 10px; */
  box-shadow: rgb(255, 255, 255) 0px 0px 0px, rgba(0, 0, 0, 0.3) 0px 0px 8px;
  padding-top: 4px;
  padding-bottom: 20px;


  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 120px 5% 80px 5%;
}

.Admin-fieldset  {
  width: 100%;
  min-height: var(--Heigth-forms);
  color: #fff;
  border: 1px solid var(--Background-Color-forms-admin);
  border-radius: var(--size-border-radius-fieldset);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  padding: 0px 30px;
  margin: 20px 0;
  height: 100%;
}

.Admin-legend {
  background: var(--Background-Color-forms-admin);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: row wrap;
  border-radius: 5px;
  padding: 10px 0;
  color: var(--color-forms-admin);
  font-family: var(--font-family-legend);
  font-weight: 400;
  letter-spacing: 3px;
  margin: 0;
}

.Admin-span {
  font-weight: 600;
  flex: 40%;
}

.Admin-Username {
  flex: 60%;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-flow: row wrap;
  padding: 5px 0;
}

.Admin-Username-greeting {
  font-weight: 200;
  margin: 0 10px;
}


.Admin-Username-name {
  font-weight: 200;
  background: #057050;
  padding: 8px 12px;
  color: #C1D5A4;
  border-radius: 5px;
  margin: 0 10px;
  text-transform: uppercase;
}

.Admin-container fieldset .container-cards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  /* min-height: 100vh; */
  width: 100%;
  height: 100%;
  margin: 20px 10px 30px 10px;
  /* background: linear-gradient(45deg, #fbda61, #ff5acd); */
}

/* IMAGEN */
/* .container-cards .cards {
  position: relative;
  width: 350px;
  height: 200px;
  background: #fff;
  border-radius: 20px;
  box-shadow: 4px 4px 8px var(--color-background-shadow-botton),
    -4px -4px 8px var(--color-background-shadow-top-admin);
  transition-property: height, box-shadow;
  transition-duration: 0.7s;
  margin: 50px 20px;
  cursor: default;
} */
/* FIN IMAGEN */

/* TITULO */
.container-cards .cards {
  position: relative;
  width: 300px;
  height: 200px;
  background: #fff;
  /* border: solid 1px var(--color-background-shadow-botton); */
  border-radius: 5px;
  box-shadow: rgb(255, 255, 255) 0px 0px 0px, rgba(0, 0, 0, 0.3) 0px 0px 8px;

    transition-property: height, box-shadow;
  transition-duration: 0.7s;
  transition-timing-function: ease-in-out; 
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  margin: 50px 20px;
  cursor: default;
}

/* IMAGEN */

/* .container-cards .cards:hover {
  height: 400px;
  box-shadow: 2px 12px 16px var(--color-background-shadow-botton),
    -4px -8px 16px var(--color-background-shadow-top-admin);
} */
/* titulo */

.container-cards .cards:hover {
  height: 330px;
  box-shadow: 2px 12px 16px var(--color-background-shadow-botton),
    -4px -8px 16px var(--color-background-shadow-top-admin);
}

/* IMAGEN */
/* .container-cards .cards .imgBx {
  position: absolute;
  left: 50%;
  top: -50px;
  transform: translateX(-50%);
  width: 150px;
  height: 150px;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 12px 16px var(--color-background-shadow-botton);
  overflow: hidden;
  transition-property: width, height;
  transition-duration: 0.7s;
} */


/* .container-cards .cards:hover .imgBx {
  width: 200px;
  height: 200px;
}

.imgBx img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

/* FIN IMAGEN */


/* TITULO */

.container-cards .cards .imgBx {
  position: absolute;
  left: 50%;
  top: -25px;
  transform: translateX(-50%);
  width: 240px;
  height: 60px;
  background: var(--Background-Color-forms-admin-head);
  border-radius: 5px;
  box-shadow: 0 8px 8px var(--color-background-shadow-botton);
  /* overflow: hidden; */
  transition-property: width, height, font-size;
   transition-duration: 0.5s; 
   display: flex;
   justify-content: center;
   align-items: center;
   overflow: hidden;
   font-size: 1.5em;
}

.container-cards .cards:hover .imgBx {
  width: 260px;
  height: 80px;
  font-size: 1.8em;
  transition-duration: 0.5s; 
}

.imgBx .card-head{
 
  color: var(--color-forms-admin-head);
  font-weight: 600;
  font-family: 'Roboto', sans-serif;

}

/* FIN TITULO */

.container-cards .cards .card-content{
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
}

/* IMAGEN */
/* .container-cards .cards .card-content .card-details{
  padding: 20px;
  width: 100%;
  text-align: center;
  transition-duration: 0.7s;
  transform: translateY(140px);
} */
/* FIN IMAGEN */

/* TITULO */
.container-cards .cards .card-content .card-details{
  padding: 20px;
  text-align: center;
  width: 100%;
  transition-property: transform;
  transition-duration: 0.5s;
  transform: translateY(180px);
  /* transition-delay: 0.2s; */
  transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  -moz-transition-timing-function: ease-in;
}
/* FIN TITULO */


.container-cards .cards:hover .card-content .card-details{
  transform: translateY(0px);
  transition-delay: 0.2s;
}

.container-cards .cards .card-content .card-details h2{
  font-size: 1.25em;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  color: rgb(56, 56, 56);
  line-height: 1.2em;
  margin: 10px;
  padding: 10px 0;
}

.container-cards .cards .card-content .card-details h2 span{
  font-size: 1em ;
  font-weight: 500;
  opacity: 0.7;
}

.container-cards .cards .card-content .card-details .data{
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* flex-flow: row wrap; */
  padding: 0 10px;
  margin: 20px 0;
}

.container-cards .cards .card-content .card-details .data h3{
  font-size: 1em;
  color: rgb(56, 56, 56);
  line-height: 1.2em;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
}

.container-cards .cards .card-content .card-details .data span{
  font-size: 1em;
  color: rgb(56, 56, 56);
  line-height: 1.2em;
  font-weight: 500;
  opacity: 0.7;
  font-family: 'Open Sans', sans-serif;
}


.container-cards .cards .card-content .card-details .card-actionBtn {
  width: 100%;
  padding: 10px;
  /* margin-top: 20px; */
  /* display: none; */
}

/* BUTTONS STYLE */
.card-actionBtn .card-actionBtn-main {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 25px;
}

.card-actionBtn .card-actionBtn-main button {
  position: relative;
  width: 40px;
  height: 40px;
  background: #fff;
  border-radius: 40px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  border: 0;

  box-shadow: 0 4px 4px var(--color-background-shadow-botton);
  transition-property: box-shadow, transform, width;
  transition-duration: 0.5s;
}

.card-actionBtn .card-actionBtn-main button span i {
  /* padding: 10px; */
  padding: 10px;
  font-size: 15px;
  width: 100%;
  transition: 0.5s;
  transition-delay: 0.25s;
}

.card-actionBtn .card-actionBtn-main button:hover span i {
  transform: scale(0);
  transition-delay: 0s;
}

.card-actionBtn .card-actionBtn-main button {
  background: var(--i);
  color: rgb(43, 43, 43);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  outline: none;
}

.card-actionBtn .card-actionBtn-main button span{
  position: absolute;
}

.card-actionBtn .card-actionBtn-main button .title{
  color: #fff;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  transform: scale(0);
  font-weight: 600;
  transition: 0.5s;
  transition-delay: 0s;
}

.card-actionBtn .card-actionBtn-main button:nth-child(3) .title{
  color: #fff;
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  transform: scale(0);
  font-weight: 600;
  transition: 0.5s;
  transition-delay: 0s;
}

.card-actionBtn .card-actionBtn-main button:hover .title{
  transform: scale(1);
  transition-delay: 0.2s;
}
.card-actionBtn .card-actionBtn-main button::before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 40px;
  background: linear-gradient(45deg, var(--i), var(--j));
  opacity: 0;
  transition: 0.5s;
}

.card-actionBtn .card-actionBtn-main button:hover::before {
  opacity: 1;
}

.card-actionBtn .card-actionBtn-main button::after {
  content: '';
  position: absolute;
  top: 10px;
  width: 100%;
  height: 100%;
  border-radius: 40px;
  background: linear-gradient(45deg, var(--i), var(--j));
  filter: blur(14px);
  opacity: 0;
  z-index: -1;
  transition: 0.5s;
}

.card-actionBtn .card-actionBtn-main button:hover::after {
  opacity: 0.5;
}

.card-actionBtn .card-actionBtn-main button:hover {
  box-shadow: 0px 4px 4px var(--color-background-shadow-botton);
  transform: translateY(-5px);
  width: 180px;
}


/* @media (min-width: 768px){ 

} */
 
/* Móviles en horizontal o tablets en vertical
   ------------------------------------------------------------------------- */
/* @media (max-width: 767px) { 

 } */
 
/* Móviles en vertical
   ------------------------------------------------------------------------- */

  .container-cards .cards:hover .imgBx {
    width: 200px;
    height: 60px;
    font-size: 1.6em;
  }
  

  .container-cards .cards .card-content .card-details{
    padding: 10px;
    width: 100%;
    text-align: center;
    transform: translateY(180px);
  }

  .card-actionBtn .card-actionBtn-main button span i {
    font-size: 13px;
  }

  @media (max-width: 950px) { 
    .Admin-container {
      width: 90%;
      margin: 120px 0;
    }
  }
  @media (max-width: 480px) { 
    .container-cards .cards {
      position: relative;
      width: 300px;
      height: 150px;
      border-radius: 10px;
  
      transition-property: height, box-shadow;
      /* transition-duration: 0.7s; */
      margin: 40px 10px;
    }
  
    .container-cards .cards:hover {
      height: 300px;
  
    }
  
    .container-cards .cards .imgBx {
      position: absolute;
      left: 50%;
      top: -25px;
      transform: translateX(-50%);
      width: 180px;
      height: 40px;
      /* border: solid 1px var(--color-background-shadow-botton); */
      border-radius: 10px;
      overflow: hidden;
      transition-property: width, height;
      /* transition-duration: 0.7s; */
  
    }
  
    .container-cards .cards:hover .imgBx {
      width: 200px;
      height: 60px;
      font-size: 1.6em;
    }
    
  
    .container-cards .cards .card-content .card-details{
      padding: 10px;
      width: 100%;
      text-align: center;
      transform: translateY(180px);
    }
  
    .card-actionBtn .card-actionBtn-main button span i {
      font-size: 13px;
    }
   }