.Book-container {
  font-family: inherit;
  font-size: inherit;
  border-radius: var(--Radius-forms);
  color: var(--Color-forms);
  background-color: var(--Background-Color-forms);
  overflow: hidden;
  width: 90%;
  height: auto;
  margin: 80px auto 0 auto;
  position: relative;
  padding: 50px 0;
  transition: background .3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 100%;
}

.Book-fieldset  {
  width: 100%;
  height: 100%;
  /* color: #fff; */
  border: 1px solid var(--Background-Color-forms-book);
  border-radius: var(--size-border-radius-fieldset);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  padding: 10px 0;
}

.Book-legend {
  background: var(--Background-Color-forms-book);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: row wrap;
  border-radius: 5px;
  padding: 15px;
  color: var(--color-forms-book);
  font-family: var(--font-family-legend);
  font-weight: 400;
  letter-spacing: 3px;
}

.Book-span {
  font-weight: 600;
  flex: 40%;
}

.Book-Username {
  flex: 60%;
  /* width: auto; */
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-flow: row wrap;
  padding: 5px 0;
}

.Book-Username-greeting {
  font-weight: 200;
  margin: 0 10px;
}


.Book-Username-name {
  font-weight: 200;
  background: #057050;
  padding: 8px 12px;
  color: #C1D5A4;
  border-radius: 5px;
  margin: 0 10px;
  text-transform: uppercase;
}

@media all and (max-width: 480px) {
  .row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
  } 
  .row .pagination{
    width: 100%;
  }
  /* .row .col-md-7 .pagination{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
  } */
}