.main-container .books-container {
    padding: 20px;
    margin: 100px 0 0 50px;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: var(--color-text-forms);
    border-radius: var(--size-border-radius);
    overflow: hidden;
    height: 500px;
    width: 90%;
    max-width: 90%;
    box-shadow: 5px 5px 10px var(--color-background-shadow-botton),
      -4px -4px 5px var(--color-background-shadow-top);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .books-container fieldset{
    width: 100%;
    color: #fff;
    border: 1px solid var(--background-forms-books);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
  }
  .books-container fieldset #tipWelcome{
    font-weight: 600;
  }

  .books-container fieldset legend {
    background-color: var(--background-forms-books);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    border-radius: 5px;
    padding: 15px;
  }
  .books-container legend .welcom{
    flex: 50%;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-flow: row wrap;    
  }
  .books-container legend .nameUser{
    flex: 50%;
    display: flex;
    align-items: center;
    justify-content: end;
    flex-flow: row wrap;
  }
  .nameUser span{
    margin: 0px 5px 0 5px;
  }

  @media (max-width: 700px) {
    .main-container .books-container {
      margin: 100px 0 0 0;
    }
  }