.Booking-container {
  position: relative;
  top: var(--size-height-element);
  padding: 20px;
  margin: 50px 20px;
  border-radius: var(--size-border-radius-forms);
  overflow: hidden;
  width: 100%;
  min-width: 90%;
  height: auto;
  box-shadow: 2px 4px 8px var(--color-background-shadow-botton),
    -2px -2px 16px var(--background-forms-bookings);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.Booking-fieldset  {
  width: 100%;
  min-height: 600px;
  color: #fff;
  border: 1px solid var(--background-forms-bookings);
  border-radius: var(--size-border-radius-fieldset);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
}

.Booking-legend {
  background: var(--background-forms-bookings);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: row wrap;
  border-radius: 5px;
  padding: 15px;
  color: var(--color-forms-bookings);
  font-family: var(--font-family-legend);
  font-weight: 400;
  letter-spacing: 3px;
}

.Booking-span {
  font-weight: 600;
  flex: 40%;
}

.Booking-Username {
  flex: 60%;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-flow: row wrap;
  padding: 5px 0;
}

.Username-greeting {
  font-weight: 200;
  margin: 0 10px;
}


.Username-name {
  font-weight: 200;
  background: #224B0C;
  padding: 8px 12px;
  color: #C1D5A4;
  border-radius: 5px;
  margin: 0 10px;
  text-transform: uppercase;
}