@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Convergence&family=Nunito+Sans:wght@400;600;700&family=Oswald:wght@400;600;700&display=swap');

:root {

    /* TODO FUENTES */
    --Font-family-principal: 'Convergence', sans-serif;
    --Font-family-legend: 'Oswald', sans-serif;
    --Font-family-menu: 'Nunito Sans', sans-serif;

    /* TODO COLORES */
    --Color-negro: #303030;
    --Color-texto-negro: #303030;
    --Color-texto-tip: gray;
    --Color-texto-gray: #6E7C7C;
    --Color-texto-blanco: #fff;
    --Color-blanco: #fff;
    --Color-marron: #1d1d1d;
    --Color-azul: #0070cc;
    --Color-hover: rgb(127, 195, 255);
    --Color-Selected: #FAC213;
    --Color-legend: var(--Color-blanco);
    --Color-outline: rgba(0, 0, 0, 0.4);
    --Color-outline-blanco: rgba(255, 255, 255, 0.4);
    --Color-invalid: #D2001A;
    --Color-hover: rgb(97, 97, 97);
    --Success: #76BA99;
    --SuccessHigh: #6de9ad48;
    --Unsuccess: #C21010;
    --Brown: #876445;
    --HovercolorSideMenu: rgba(99, 99, 99, 0.836);
    --Background-Color-forms: #FBFBFB;
    --Color-logo: var(--Color-negro);
    --Color-sideMenu: #000;
    --Background-menu: var(--Background-Color-forms);
    --Background-Color-forms-admin: #A10035;
    --Background-Color-forms-partner: #cea135;
    --Background-Color-forms-book: rgb(58, 76, 156);
    --Color-forms-book:  #E3F6FF;
    --Color-forms-book_hover:  #FFEA20;
    --Background-Color-forms-booking: rgb(124, 25, 108);


    /* TODO OTROS */
    --Max-width: 1600px;
    --Size-font-text: .9em;
    --Size-font-title: 1.2em;
    --Size-font-menu: .8em;
    --Size-font-button: .8rem;

    /* TODO VALIDAS */
    --Margin-top-forms: calc(var(--Size-height-navBar) + 2.5em);
    --Radius: 5px;
    --Width-forms: 90%;
    --Heigth-forms: 600px;
    --Box-shadow-forms: 0 14px 28px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.22);
    
    --Box-shadow-cards: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

    /* todo Button */
    --Letter-spacing: 0.1875em;
    --Box-shadow-button: 8px 10px 10px 1px rgba(0, 0, 0, 0.5);
    --Box-shadow-button-success: -8px 10px 10px 1px rgba(0, 0, 0, 0.5);
    --Box-shadow-btn-nav: rgba(0, 0, 0, 0.6) 0px 2px 4px, rgba(0, 0, 0, 0.5) 0px 7px 13px -3px, rgba(0, 0, 0, 0.1) 0px -3px 0px inset;
    --Box-shadow-nav: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    --Box-shadow-btn-side: rgba(0, 0, 0, 0.6) 0px 2px 4px,
        rgba(0, 0, 0, 0.5) 0px 7px 13px -3px,
        var(--Color-Selected) 0px -3px 0px inset;
    --Box-shadow-side: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
    --Box-shadow-input: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;

    /* TODO NAVIGATION */
    --Size-height-navBar: 80px;
    --Size-element: calc(var(--Size-height-navBar) - 20px);

    /* TODO SIDEMENU */
    --Size-width-sidemenu: 20em;
    --Size-width-sidemenu-collapsed: 4.375em;

}


/* @media (prefers-color-scheme: dark){

  :root {
    --Background-Color-forms: #212E36;
    --Color-negro: #FBFBFE;
    --Color-blanco: #303030;
    --Box-shadow-btn-nav: rgba(255, 255, 255, 0.6) 0px 2px 4px, rgba(255, 255, 255, 0.5) 0px 7px 13px -3px, rgba(255, 255, 255, 0.1) 0px -3px 0px inset;
    --Box-shadow-nav: rgba(255, 255, 255, 0.45) 0px 20px 20px -20px;
    --Box-shadow-btn-side: rgba(255, 255, 255, 0.6) 0px 2px 4px,
      rgba(255, 255, 255, 0.5) 0px 7px 13px -3px,
      var(--Color-Selected) 0px -3px 0px inset;
    --Box-shadow-side: rgba(255, 255, 255, 0.15) 2.4px 2.4px 3.2px;
    --Box-shadow-forms: 0 10px 20px rgba(255, 255, 255, 0.4),
          0 6px 6px rgba(255, 255, 255, 0.4);
  } 
} */


@keyframes text-anim {
    0% {
        opacity: 0;
        transform: translateX(-30%);
    }
}

@keyframes img-anim {
    0% {
        opacity: 0;
        transform: translateX(30%);
    }
}

@keyframes down {
    0% {
        opacity: 1;
        transform: translateY(-30%);
    }
}

@keyframes up {
    0% {
        opacity: 1;
        transform: translateY(30%);
    }
}