/* TODO MODAL EDIT */
.modal.show .modal-dialog {
    max-width: 60%;
    border-radius: var(--Radius);
}

@media screen and (max-width: 950px) {

.show
.modal .show{
    padding-right: 0;
}
.modal.show .modal-dialog {
    max-width: 100%;
}

}
