@charset "UTF-8";
/* TODO MODAL EDIT */
.modal.show .modal-dialog {
    max-width: 60%;
    border-radius: var(--Radius);
}

.modal-dialog {
    overflow-y: initial !important
}

.modal-body {
    height: 250px;
    overflow-y: auto;
}

@media screen and (max-width: 950px) {

.show
.modal .show{
    padding-right: 0;
}
.modal.show .modal-dialog {
    max-width: 100%;
}

}
