.Footer-copyright{
    display: flex;
    width: 100%;
    font-size: 22px;
    font-weight:700;
    color: black;
    background-color: #a8a8a8;
    position: absolute;
    top: 60%;
    left: 60%;
}
.custom-shape-divider-bottom-1663371104 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    z-index: 90;
}

.custom-shape-divider-bottom-1663371104 svg {
    position: relative;
    display: block;
    width: calc(177% + 1.3px);
    height: 134px;
}

.custom-shape-divider-bottom-1663371104 .shape-fill {
    fill: #c9c9c9;
}

/** For mobile devices **/
@media (max-width: 767px) {
    .custom-shape-divider-bottom-1663371104 svg {
        width: calc(177% + 1.6px);
        height:100px;
    }

    .Footer-copyright{
        justify-content: center;
        top: 80%;
        left: auto;
        font-size: 18px;
    }
}