.Footer {
    text-align: center;
    margin-top: auto;
    position: relative;
}

.custom-shape-divider-bottom-1663371104 {
    width: 100%;
    overflow: hidden;
    /* line-height: 0; */
    z-index: 30;
}

.custom-shape-divider-bottom-1663371104 svg {
    display: block;
    width: calc(167% + 1.3px);
    height: 134px;
}

.custom-shape-divider-bottom-1663371104 .shape-fill {
    fill: #eaeaea90;
}

.Footer-copyright {
    font-size: 1.2em;
    font-weight: 700;
    color: black;
    position: absolute;
    top: 50%;
    left: 60%;
    right: 0;
    bottom: 0;
    margin: auto;
}

/** For mobile devices **/
@media (max-width: 950px) {

    .Footer {
        width: auto;
    }

    .custom-shape-divider-bottom-1663371104 {
        width: auto !important;
    }

    .custom-shape-divider-bottom-1663371104 svg {
        width: calc(157% + 1.2px);
        height: 100px;
    }

    .Footer-copyright {
        top: 70%;
        left: 0;
    }

}

@media screen and (max-width: 550px) {

    .Footer-copyright {
        font-size: 1em;
    }
}