.Index-container {
  padding: 20px;
  font-family: inherit;
  font-size: inherit;
  border-radius: var(--size-border-radius-forms);
  color: var(--background-forms);
  overflow: hidden;
  width: 80%;
  height: var(--heigth-forms);
  min-height: var(--heigth-forms);
  margin: var(--margin-top-forms) auto 70px auto;
  /* box-shadow: var(--box-shadow-forms); */
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.Index-text {
  flex: 40%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin: auto 0;
}

.Index-h1 {
  background-color: transparent;
  color: #2c3243;
  font-size: 40px;
  font-weight: 700;
  text-align: left;
  letter-spacing: -2px;
  text-decoration: none;
  white-space: normal;
  background-clip: border-box;
  -webkit-text-fill-color: inherit;
  margin: auto 0;
  font-family: inherit;
  width: 100%;
}

.Index-p {
  text-align: justify;
  margin: auto 0;
  font-family: inherit;
  color: #2c3243;
  font-size: 20px;
  line-height: 28px;
  font-weight: 300;
  letter-spacing: 0;
}

.Index-a {
  border-radius: var(--size-border-radius-button);
  font-size: 17px;
  font-weight: 700;
  font-family: inherit;
  letter-spacing: 4px;
  text-align: center;
  padding: 15px 10px;
  background-color: var(--colour-button-success);
  border: 1px solid var(--negro);
  transition-property: color, background-color, box-shadow, border;
  transition-duration: 00.5s;
  transition-timing-function: ease-in-out;
  color: var(--colour3-boxShadow);
  margin: 20px 0;
  text-transform: uppercase;
}

.Index-a:hover {
  text-decoration: none;
  border: 1px solid var(--blanco);
  color: var(--negro);
  background-color: var(--colour-button-success);
  box-shadow: 0px 2px 8px var(--colour-button-success), -0px -2px 8px var(--colour3-boxShadow);
}

.Index-img {
  flex: 60%;
  padding: 15px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: stretch;
}

.Index-img {
  animation: img-anim 0.8s ease;
}

.Index-text {
  animation: text-anim 0.8s ease;
}

/* // Animation */
@keyframes text-anim {
  0% {
    opacity: 0;
    transform: translateX(-30%);
  }
}

@keyframes img-anim {
  0% {
    opacity: 0;
    transform: translateX(30%);
  }
}

.Index-img img {
  width: 100%;
  height: auto;
  overflow: hidden;
  filter: drop-shadow(8px 8px 4px var(--colour-button-success));
}


@media screen and (max-width: 950px) {
  .Index-container{
    display: flex;
    flex-flow: column-reverse nowrap;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: auto;
    margin: var(--size-height-navBar) auto 60px auto;
}

    .Index-text{
      text-align: center;
    }

    .Index-h1{
      text-align: center;
      padding: 10px 0;
    }

    .Index-p{
      text-align: center;
      padding: 10px 0;
    }
}