.Index-container {
  margin: var(--Margin-top-forms);
  width: var(--Width-forms);
  height: auto;
  display: flex;
  align-items: center;
}

.Index-text {
  flex: 40%;
  height: auto;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin: auto 0;
  color: inherit;
  background-color: inherit;
}

.Index-h1 {
  background-color: transparent;
  color: inherit;
  font-size: 3em;
  font-weight: 700;
  text-align: left;
  text-decoration: none;
  white-space: normal;
  background-clip: border-box;
  -webkit-text-fill-color: inherit;
  margin: 20px 0;
  font-family: inherit;
  width: 100%;
}

.Index-p {
  text-align: justify;
  margin: 20px 0;
  font-family: inherit;
  color: inherit;
  font-size: 1.5em;
  line-height: 28px;
  font-weight: 300;
  letter-spacing: 0;
}

.Index-a {
  width: auto;
  border-radius: var(--Radius-button);
  font-size: var(--Size-font-button);
  font-weight: 700;
  font-family: inherit;
  letter-spacing: 4px;
  text-align: center;
  padding: 15px 10px;
  background-color: var(--Success);
  border: 1px solid var(--negro);
  transition-property: color, background-color, box-shadow, border;
  transition-duration: 00.5s;
  transition-timing-function: ease-in-out;
  color: var(--Brown);
  margin: 20px 0;
  text-transform: uppercase;
}

.Index-a:hover {
  text-decoration: none;
  border: 1px solid var(--blanco);
  color: var(--negro);
  background-color: var(--Success);
  box-shadow: 0px 2px 8px var(--Success), -0px -2px 8px var(--Brown);
}

.Index-img {
  flex: 60%;
  padding: 15px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: stretch;
  animation: img-anim 0.8s ease;
  background-color: inherit;
}

.Index-text {
  animation: text-anim 0.8s ease;
}

.Index-img img {
  width: 100%;
  height: auto;
  overflow: hidden;
  filter: drop-shadow(8px 8px 4px var(--Success));
}


@media screen and (max-width: 950px) {
  .Index-container{
    display: flex;
    flex-flow: column-reverse wrap;
    align-items: center;
    margin: var(--margin-top-forms) auto auto auto;
  }

    .Index-text{
      text-align: center;
    }

    .Index-h1{
      text-align: center;
      padding: 10px 0;
      font-size: 2em;
    }

    .Index-p{
      text-align: center;
      padding: 10px 0;
      font-size: 1.5em;
    }

    .Index-a{
      font-size: var(--Size-font-button__mv)
    }
}

@media screen and (max-width: 500px) {
  .Index-container{
    padding: 0;
    margin: var(--size-height-navBar) auto 50px auto;
  }
}