.main-container .index-container {
    padding: 20px;
    margin: 50px 0;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: var(--background-forms);
    border-radius: 20px;
    /* background-color: var(--background-forms); */
    background-image: url('../img/index.svg');
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    background-position: center;
    background-size: contain;
    height: 400px;
    width: 90%;
    max-width: 90%;
    box-shadow: 5px 5px 10px var(--color-background-shadow-botton),
      -4px -4px 5px var(--color-background-shadow-top);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .main-container .index-container .btn-index {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
  
  .main-container .index-container div a {
    border-style: solid;
    border-color: aquamarine;
    border-width: 1px;
    color: #ffffff;
    background-color: var(--background-forms);
    transition: all 0.3s ease;
  }
  
  .main-container .index-container div a:hover {
    color: #000000;
    box-shadow: 1px 1px 5px aquamarine, -1px -1px 5px aquamarine;
    background-color: #99ce62;
  }
  