@import url("table.css");

.Info-contenedor {
    margin: var(--Margin-top-forms) auto;
    width: 80%;
    height: 100%;
    padding: 0.5em;
    color: var(--Color-negro);
    -webkit-transition: all 0.4s ease;
    transition: all .5s ease;
    background-color: var(--Color-blanco);
    box-shadow: var(--Box-shadow-forms);
    border-radius: var(--Radius);
}

.Slider {
    /* width: 100%; */
    border: 1px solid var(--Color-outline);
    padding: 1em 0;
    margin: 1em;
    border-radius: var(--Radius);
    color: var(--Color-blanco);
    position: relative;
}

.Slider-move {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 1em auto;
    padding: 0 4.5em;
}

.Slider-card {
    width: 14rem;
    height: 4em;
    margin: 0 1em;
    border-radius: var(--Radius);
    border: 1px solid var(--Color-negro);
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all .5s ease;
}

.Slider-card:after{
    content: '';
    display: block;
    width: 1%;
    height: 300%;
    background-color: white;
    position: absolute;
    top: -30px;
    left: 0;
    transform: scale(1.1);
    transform: rotate(45deg) translateY(-50%) translateX(-90px);
    box-shadow: 0 0em 2em 2em white;
    opacity: .3;
    transition: all .8s ease;
}

.Slider-card:hover{
    transform: scale(1.1);
    box-shadow: 0 .5em 1em rgba(0, 0, 0, 1); 
    background-color: var(--Color-azul);
}

.Slider-card:hover::after{
    transform: rotate(45deg) translateY(-50%) translateX(140px);
    opacity: .1;
}

.Slider-card:active{
    transform: scale(1.3);
}

.Slider-card.isActive{
    box-shadow: 0 .5em 1em rgb(0, 0, 0);
}

.Slider-a {
    width: 100%;
    height: 100%;
    padding: .5em;
    font-size: 1.1em;
    font-weight: 700;
    letter-spacing: 0.125em;
    color: var(--Color-negro);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: color .5s ease;
    text-decoration: none;
    outline: none;
}

.Slider-a:hover{
    color: white;
}

.Slider-a.isActivo {
    background-color: var(--Color-azul);
    color: var(--Color-blanco);
    font-weight: 700;
    text-align: center;
}

.Slider-arrow {
    background-color: var(--Color-negro);
    position: absolute;
    top: calc(50% - 2em);
    padding: 1em;
    border-radius: 50%;
    transition: all .5s ease;
    cursor: pointer;
    transform: scale(1);
}

.Slider-arrow:hover {
    transform: scale(.9);
}

.Slider-arrow:active {
    transform: scale(1.2);
}

.Slider-svg {
    width: .8em;
    height: .8em;
    fill: var(--Color-blanco);
}

.isPrev {
    left: 2%;
}

.isNext {
    right: 2%;
}

.Slider-lines {
    width: 90%;
    margin: 2em auto 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap;
    gap: .5em;
}

.Slider-btn {
    width: 2em;
    height: .4em;
    background-color: var(--Color-negro);
    cursor: pointer;
    transition: all .5s ease;
}

.Slider-btn.isActive {
    background-color: var(--Color-azul);
}

.Slider-btn:hover {
    background-color: lightblue;
}

/* TODO BLOQUE CONTENT */
.Info-bloque {
    margin: 1em;
    padding: 1em;
    height: 400px;
    margin: 1em;
    top: 1em;
    border: solid 1px var(--Color-outline);
    color: var(--Color-negro);
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    border-radius: 0.5em;
    background-color: var(--Color-blanco);
    -webkit-box-shadow: var(--box-shadow-forms);
    box-shadow: var(--box-shadow-forms);
    opacity: 0;
    display: none;
}

.Info-bloque.isScroll {
    height: 800px;
    overflow-y: scroll;
}

.Info-bloque.isNormal {
    height: 400px;
    overflow-y: none;
}

.Info-bloque.isActivo {
    opacity: 1;
    display: block;
}

/* TODO STARs */
.stars-outer {
    display: inline-block;
    position: relative;
    font-family: FontAwesome;
}

.stars-outer::before {
    content: "\f006 \f006 \f006 \f006 \f006";
}

.stars-inner {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
}

.stars-inner::before {
    content: "\f005 \f005 \f005 \f005 \f005";
    color: gold;
}

/* MODAL START */
.modal-content .post {
    display: none;
}

.modal-content .text {
    font-size: 25px;
    color: #666;
    font-weight: 500;
}

.modal-content .edit {
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 16px;
    color: #666;
    font-weight: 500;
    cursor: pointer;
}

.modal-content .edit:hover {
    text-decoration: underline;
}

.modal-content .star-widget input {
    display: none;
}

.star-widget label {
    font-size: 40px;
    color: #444;
    padding: 10px;
    float: right;
    transition: all 0.2s ease;
}

input:not(:checked)~label:hover,
input:not(:checked)~label:hover~label {
    color: #fd4;
}

input:checked~label {
    color: #fd4;
}

input#rate-5:checked~label {
    color: #fe7;
    text-shadow: 0 0 20px #952;
}

#rate-1:checked~form header:before {
    content: "I don't like it ";
}

#rate-2:checked~form header:before {
    content: "i like little ";
}

#rate-3:checked~form header:before {
    content: "Alright! ";
}

#rate-4:checked~form header:before {
    content: "I like it! ";
}

#rate-5:checked~form header:before {
    content: "I'm lovin it ";
}

.modal-content form {
    display: none;
}

input:checked~form {
    display: block;
}

/* TEXT DE LAS ESTRELLAS */
form header {
    width: 100%;
    font-size: 25px;
    color: var(--Color-negro);
    font-weight: 500;
    margin: 5px 0 20px 0;
    text-align: center;
    transition: all 0.2s ease;
}

form .textarea {
    height: 100px;
    width: 100%;
    overflow: hidden;
    padding: 10px;
}

form .textarea textarea {
    height: 100%;
    width: 100%;
    outline: none;
    color: #000;
    border: 1px solid #333;
    padding: 10px;
    font-size: 17px;
    resize: none;
}

.textarea textarea:focus {
    border-color: #444;
}

form .btn {
    height: 45px;
    width: 100%;
    margin: 15px 0;
}

form .btn button {
    height: 100%;
    width: 100%;
    border: 1px solid #444;
    border-radius: 50px;
    outline: none;
    background: var(--Success);
    color: #000;
    font-size: 17px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease;
}

form .btn button:hover {
    background: #1b1b1b;
    color: #fff;
}

/* TODO Cargando */
@-webkit-keyframes whirl-book {
    0% {
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }

    50%,
    80% {
        -webkit-transform: rotateY(-180deg);
        transform: rotateY(-180deg);
    }

    90%,
    100% {
        opacity: 0;
        -webkit-transform: rotateY(-180deg);
        transform: rotateY(-180deg);
    }
}

@keyframes whirl-book {
    0% {
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }

    50%,
    80% {
        -webkit-transform: rotateY(-180deg);
        transform: rotateY(-180deg);
    }

    90%,
    100% {
        opacity: 0;
        -webkit-transform: rotateY(-180deg);
        transform: rotateY(-180deg);
    }
}

.book {
    height: 2.5em;
    position: relative;
    width: 2.5em;
    -webkit-perspective: 60px;
    perspective: 60px;
}

.book div {
    -webkit-animation: whirl-book 2s infinite;
    animation: whirl-book 2s infinite;
    background: var(--primary);
    height: 100%;
    position: absolute;
    left: 50%;
    -webkit-transform-origin: left;
    transform-origin: left;
    width: 100%;
}

.book div:nth-child(1) {
    -webkit-animation-delay: 0.15s;
    animation-delay: 0.15s;
}

.book div:nth-child(2) {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.book div:nth-child(3) {
    -webkit-animation-delay: 0.45s;
    animation-delay: 0.45s;
}

.book div:nth-child(4) {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

.book div:nth-child(5) {
    -webkit-animation-delay: 0.75s;
    animation-delay: 0.75s;
}

@media screen and (max-width: 950px) {
    .Info-bloque.isScroll {
        height: 800px;
    }

    .Info-bloque,
    .Info-bloque.isNormal {
        height: 500px;
    }

    .Slider-move {
        position: relative;
        width: 90%;
        height: 4em;
        justify-content: center;
        padding: 0;
    }

    .Slider-card {
        position: absolute;
        width: 100%;
        display: none;
    }


    .Slider-a{
        width: 70%;
        letter-spacing: 2.5px;
        font-size: 1em;
        display: none;
    }

        .Slider-a.isActivo{
            display: flex;
        }
}

@media screen and (max-width: 500px) {

    .Info-contenedor {
        width: 90%;
    }

    .Slider-card {
        width: 60%;
        font-size: 1em;
    }

    .isActive{
        display: flex;
    }

    .Slider-a{
        width: 100%;
    }

    .Info-bloque.isScroll {
        height: 850px;
    }

    .Info-bloque.isNormal {
        height: 550px;
    }
}