@import url("table.css");

.Info-contenedor {
    margin: var(--Margin-top-forms) auto;
    width: 80%;
    height: 100%;
    color: var(--negro);
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    border-radius: var(--Radius);
    background-color: var(--blanco);
    -webkit-box-shadow: var(--box-shadow-forms);
    box-shadow: var(--box-shadow-forms);
}

.Info-tabs {
    width: 100%;
    border: 0.5px solid black;
    padding: 1em;
    border-radius: 0.5em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.Tabs-titles {
    width: 100%;
    padding: 1em;
    border-radius: 0.5em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}



.Info-tab {
    height: 100%;
    padding: 1em;
    margin: 0 2em 0 0;
    color: var(--negro);
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    border: 1px solid black;
    border-radius: 0.5em;
    background-color: var(--blanco);
    -webkit-box-shadow: 0.3em 0.3em 0.6em var(--sombra-ppal), -0.3em -0.3em 0.6em var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
    box-shadow: 0.3em 0.3em 0.6em var(--sombra-ppal), -0.3em -0.3em 0.6em var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    cursor: pointer;
    text-align: center;
}

.Info-tab:hover {
    background-color: lightblue;
}

.Info-tab.activo {
    background-color: rgb(21, 97, 145);
    color: white;
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    text-align: center;
}

.Info-contents {
    width: 100%;
    height: 100%;
    position: relative;
}

.Info-bloque {
    margin: 1em;
    padding: 1em;
    width: 100%;
    height: 400px;
    margin: auto;
    top: 1em;
    color: var(--negro);
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    border-radius: 0.5em;
    background-color: var(--blanco);
    -webkit-box-shadow: var(--box-shadow-forms);
    box-shadow: var(--box-shadow-forms);
    opacity: 0;
    display: none;
}

.Info-bloque.isScroll {
    height: 800px;
    overflow-y: scroll;
}

.Info-bloque.isNormal {
    height: 400px;
    overflow-y: none;
}

.Info-bloque.activo {
    opacity: 1;
    display: block;
}

.Tabs-direcciones {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row nowrap;
    display: none;
    /* padding: 10px 40px;
    margin: 10px; */
}

/* STARs */
.stars-outer {
    display: inline-block;
    position: relative;
    font-family: FontAwesome;
}

.stars-outer::before {
    content: "\f006 \f006 \f006 \f006 \f006";
}

.stars-inner {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
}

.stars-inner::before {
    content: "\f005 \f005 \f005 \f005 \f005";
    color: gold;
}

/* MODAL START */
.modal-content .post {
    display: none;
}

.modal-content .text {
    font-size: 25px;
    color: #666;
    font-weight: 500;
}

.modal-content .edit {
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 16px;
    color: #666;
    font-weight: 500;
    cursor: pointer;
}

.modal-content .edit:hover {
    text-decoration: underline;
}

.modal-content .star-widget input {
    display: none;
}

.star-widget label {
    font-size: 40px;
    color: #444;
    padding: 10px;
    float: right;
    transition: all 0.2s ease;
}

input:not(:checked)~label:hover,
input:not(:checked)~label:hover~label {
    color: #fd4;
}

input:checked~label {
    color: #fd4;
}

input#rate-5:checked~label {
    color: #fe7;
    text-shadow: 0 0 20px #952;
}

#rate-1:checked~form header:before {
    content: "I don't like it ";
}

#rate-2:checked~form header:before {
    content: "i like little ";
}

#rate-3:checked~form header:before {
    content: "Alright! ";
}

#rate-4:checked~form header:before {
    content: "I like it! ";
}

#rate-5:checked~form header:before {
    content: "I'm lovin it ";
}

.modal-content form {
    display: none;
}

input:checked~form {
    display: block;
}

/* TEXT DE LAS ESTRELLAS */
form header {
    width: 100%;
    font-size: 25px;
    color: #000;
    font-weight: 500;
    margin: 5px 0 20px 0;
    text-align: center;
    transition: all 0.2s ease;
}

form .textarea {
    height: 100px;
    width: 100%;
    overflow: hidden;
    padding: 10px;
}

form .textarea textarea {
    height: 100%;
    width: 100%;
    outline: none;
    color: #000;
    border: 1px solid #333;
    padding: 10px;
    font-size: 17px;
    resize: none;
}

.textarea textarea:focus {
    border-color: #444;
}

form .btn {
    height: 45px;
    width: 100%;
    margin: 15px 0;
}

form .btn button {
    height: 100%;
    width: 100%;
    border: 1px solid #444;
    border-radius: 50px;
    outline: none;
    background: var(--Success);
    color: #000;
    font-size: 17px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease;
}

form .btn button:hover {
    background: #1b1b1b;
    color: #fff;
}

/* TODO Cargando */
#spinner {
    margin: 30px 0;
}

.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid black;
    border-color: black transparent black transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

/* TODO LOADIN */
@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* <===================================================================> */
@media screen and (max-width: 950px) {
    .Info-bloque.isScroll {
        height: 800px;
    }

    .Info-bloque,
    .Info-bloque.isNormal {
        height: 500px;
    }
}

@media screen and (max-width: 500px) {
    .Info-tabs {
        overflow: auto;
        width: 100%;
        height: 100%;
    }

    .Tabs-titles {
        position: relative;
        height: 120px;
        width: 100%;
    }

    .Info-tab {
        text-align: center;
        width: 80%;
        height: 60px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: none;
    }

    .Info-tab.isActive {
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .Tabs-direcciones {
        display: flex;
        padding: 0;
    }

    .Info-bloque.isScroll {
        height: 850px;
    }

    .Info-bloque.isNormal {
        height: 550px;
    }
}