/* CONTENEDOR DE LOGIN*/
.Singin,
.Authentication {
    width: var(--width-auth-forms);
    height: auto;
    margin: var(--margin-top-forms) auto 70px auto;
    padding: 20px;
    color: inherit;
    background-color: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.Register,
.Login,
.Reset {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-flow: column wrap;
    height: auto;
    width: 100%;
    box-shadow: var(--box-shadow-forms);
    border-radius: var(--size-border-radius-forms);
    padding: 20px;
    background-color: var(--blanco);
    overflow: hidden;
}

.Login{
    margin-right: 40px;
    animation: text-anim var(--duraction-animations) ease;
}

.Reset{
    visibility: hidden;
}

/* COVER DE IMG */
.Auth-cover {
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    width: 50%;
    z-index: 20;
    transition: all var(--duraction-animations);
    transform-origin: left;
    transform-style: preserve-3d;
    background-color: inherit;
    animation: img-anim var(--duraction-animations) ease;
}

.Authentication #flip:checked~.Auth-cover {
    transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    /* IE 9 */
    -moz-transform: rotateY(-180deg);
    /* Firefox */
    -webkit-transform: rotateY(-180deg);
    /* Safari and Chrome */
    -o-transform: rotateY(-180deg);
    /* Opera */
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.Auth-cover--front,
.Auth-cover--back {
    position: absolute;
    top: 0;
    left: 0;
    height: inherit;
    width: 100%;
    overflow: hidden;
    background-color: inherit;
}

.Auth-cover--back {
    transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    /* IE 9 */
    -moz-transform: rotateY(180deg);
    /* Firefox */
    -webkit-transform: rotateY(180deg);
    /* Safari and Chrome */
    -o-transform: rotateY(180deg);
    /* Opera */
}

.Auth-img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: contain;
    overflow: hidden;
    border-radius: var(--size-border-radius-forms);
    z-index: 10;
    background-color: inherit;
}

/* ANIMACIONES FORMS AUTH */
.Authentication #flip:checked~.Reset {
    animation: img-anim 1s ease;
    visibility: visible;
    margin-left: 40px;
}

.Authentication #flip:checked~.Login {
    animation: img-anim 1s ease;
    visibility: hidden;
    margin: 0;
    margin-left: 0px;
}

/* FORMS */
.Login-content,
.Reset-content {
    width: 100%;
    overflow: hidden;
}

.Register-content {
    width: 60%;
    overflow: hidden;
}


.Register-title,
.Login-title,
.Reset-title {
    position: relative;
    font-size: 24px;
    font-weight: 500;
    color: inherit;
    padding: 0 20px;
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
}

.Reset-title::before,
.Register-title::before,
.Login-title::before {
    content: '';
    position: absolute;
    left: 0x;
    bottom: -5px;
    height: 3px;
    width: 25px;
    background: gold;
}

.Input-boxes {
    margin-top: 30px;
    width: 100%;
    height: 100%;
    padding: 20px;
    align-items: center;
    overflow: hidden;
}

.Input-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: var(--size-height-box);
    width: 100%;
    margin: 20px 0;
}

.Input-error {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-flow: row wrap;
    text-align: center;
    height: var(--size-height-box);
    width: 100%;
    position: relative;
    display: none;
}

.Error-p {
    align-items: center;
    font-size: 15px;
    text-align: center;
    padding: 10px 0;
    margin: 0;
}

.Error-p__isActivo {
    display: block;
    color: brown;
}

.Box-input {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    padding: 0 10px;
    margin: 0 20px;
    font-size: 17px;
    font-weight: 500;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.Box-input:focus,
.Box-input:valid {
    border-color: rgb(32, 162, 202);
}

.Box-i {
    color: inherit;
    font-size: var(--size-font-icon);
    cursor: pointer;
}



.Box-label {
    margin-top: 30px;
    color: inherit;
    font-weight: 600;
    font-size: 17px;
    cursor: pointer;
    text-align: center;
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0;
}


.Reset-button {
    border-radius: var(--size-border-radius-button);
    padding: 10px;
    color: var(--blanco);
    background-color: var(--backgroundcolor-buttons-unsuccess);
    border: 1px solid #fff;
    cursor: pointer;
    transition-property: background-color, box-shadow, color;
    transition-duration: 00.5s;
    transition-timing-function: ease;
    font-size: var(--size-font-button);
    font-weight: 700;
    font-family: 'Nunito Sans', sans-serif;
    letter-spacing: 5px;
    text-align: center;
    align-items: center;
    width: 100%;
}

.Login-button {
    border-radius: var(--size-border-radius-button);
    padding: 10px;
    color: inherit;
    background-color: var(--backgroundcolor-buttons-success);
    border: 1px solid #fff;
    cursor: pointer;
    font-size: var(--size-font-button);
    font-weight: 700;
    font-family: 'Nunito Sans', sans-serif;
    letter-spacing: 5px;
    text-align: center;
    width: 100%;
    transition-property: background-color, box-shadow, color;
    transition-duration: 00.5s;
    transition-timing-function: ease;
    color: var(--colour3-boxShadow);
}

/* Pertenece al REGISTRO */
.Input-select{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.Select-label {
    font-size: inherit;
    text-align: center;
    padding: 10px;
    margin: 0;
    width: 50%;
    font-weight: 700;
    font-family: 'Nunito Sans', sans-serif;
    letter-spacing: 2px;}

.Select-rol {
    background: #FCE38A;
    border-radius: var(--size-border-radius-button);
    font-size: inherit;
    text-align: center;
    padding: 10px;
    width: 50%;
    color: #000000;
    font-weight: 400;
    font-family: 'Nunito Sans', sans-serif;
    letter-spacing: 5px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.Select-rol:hover{
    background-color: #FCE38A;
    box-shadow: 0px 2px 8px gold, -0px -2px 8px goldenrod
}

.Select-rol:focus {
    outline: none;
}

.Select-option {
    color: #000000;
    background-color: #EAFFD0;
    cursor: pointer;

}

.Input-button {
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 20px;
    margin: 20px 0;
}

.Button-cancel {
    border-radius: var(--size-border-radius-button);
    padding: 10px;
    color: var(--blanco);
    background-color: var(--backgroundcolor-buttons-unsuccess);
    border: 1px solid #fff;
    cursor: pointer;
    font-size: var(--size-font-button);
    font-weight: 700;
    font-family: 'Nunito Sans', sans-serif;
    letter-spacing: 5px;
    text-align: center;
    align-items: center;
    width: 40%;
    transition-property: background-color, box-shadow, color;
    transition-duration: 00.5s;
    transition-timing-function: ease;
}

.Button-accept {
    border-radius: var(--size-border-radius-button);
    padding: 10px;
    color: inherit;
    background-color: var(--backgroundcolor-buttons-success);
    border: 1px solid #fff;
    cursor: pointer;
    font-size: var(--size-font-button);
    font-weight: 700;
    font-family: 'Nunito Sans', sans-serif;
    letter-spacing: 5px;
    text-align: center;
    width: 40%;
    transition-property: background-color, box-shadow, color;
    transition-duration: 00.5s;
    transition-timing-function: ease;
    color: var(--colour3-boxShadow);
}

.Reset-button:hover,
.Button-cancel:hover {
    color: var(--backgroundcolor-buttons-success);
    background-color: var(--backgroundcolor-buttons-unsuccess);
    box-shadow: 0px 2px 8px var(--backgroundcolor-buttons-unsuccess), -0px -2px 8px var(--colour3-boxShadow);
}

.Button-accept:hover,
.Login-button:hover {
    color: var(--blanco);
    background-color: var(--backgroundcolor-buttons-success);
    box-shadow: 0px 2px 8px var(--backgroundcolor-buttons-success), -0px -2px 8px var(--colour3-boxShadow);
}

.Authentication #flip {
    display: none;
}

/* Móviles en vertical
     ------------------------------------------------------------------------- */
     @media all and (max-width: 950px) {

        .Auth-cover {
            display: none;
        }
  
        .Singin,
        .Authentication {
            display: flex;
            flex-flow: column wrap;
            align-items: center;
            justify-content: center;
            width: 80%;
            padding: 0 20px;
        }

        .Login {
            margin: 0;
            animation-name: down;
            animation-duration: 1s;
            animation-fill-mode: forwards;

        }
        .Reset
         {
            margin: 0;
            display: none;
        }

        .Authentication #flip:checked~.Login {
            display: none;
        }


        .Authentication #flip:checked~.Reset {
            display: block;
            animation-name: up;
            animation-duration: 1s;
            animation-fill-mode: forwards;
            margin: 0;
            margin-bottom: 30px;
        }

        /* Reggistros */

        .Register-content {
            width: 100%;
            margin: 0;
        }

        .Select-label{
            width: 100%;
        }
    }
    

@media all and (max-width: 500px) {

    .Singin,
    .Authentication {
        width: 100%;
    }
}