/* TODO CONTENEDOR DE LOGIN*/
.Singin,
.Authentication {
    margin: var(--Margin-top-forms) auto;
    font-size: 1em;
    font-family: var(--Font-family-principal);
    padding-top: 1.25em;
    width: 70%;
    position: relative;
    display: flex;
    justify-content: space-between;
}

/* TODO COVER DE IMG */
.Auth-cover {
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    width: 50%;
    z-index: 20;
    transition: all 1s;
    transform-origin: left;
    transform-style: preserve-3d;
    background-color: inherit;
    animation: img-anim 1s ease;
}

#flip:checked~.Auth-cover {
    transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    /* IE 9 */
    -moz-transform: rotateY(-180deg);
    /* Firefox */
    -webkit-transform: rotateY(-180deg);
    /* Safari and Chrome */
    -o-transform: rotateY(-180deg);
    /* Opera */
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.Auth-cover--front,
.Auth-cover--back {
    position: absolute;
    top: 0;
    left: 0;
    height: inherit;
    width: 100%;
    overflow: hidden;
    background-color: inherit;
}

.Auth-cover--back {
    transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    /* IE 9 */
    -moz-transform: rotateY(180deg);
    /* Firefox */
    -webkit-transform: rotateY(180deg);
    /* Safari and Chrome */
    -o-transform: rotateY(180deg);
    /* Opera */
    display: none;
}

#flip:checked~.Auth-cover .Auth-cover--back {
    display: block;
}

.Auth-img {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
    border-radius: var(--Radius-forms);
    z-index: 10;
    background-color: inherit;
}

.Auth-cover--back .Auth-img {
    object-fit: contain;
}

#flip {
    display: none;
}

#flip:checked~.Reset {
    animation: img-anim 1s ease;
    visibility: visible;
    margin-left: 40px;
}

#flip:checked~.Login {
    animation: img-anim 1s ease;
    visibility: hidden;
    margin: 0;
    margin-left: 0px;
}

.Login {
    width: 100%;
    font-size: inherit;
    font-family: inherit;
    box-shadow: var(--Box-shadow);
    border-radius: var(--Radius);
    padding: 1.5em;
    background-color: var(--blanco);
    margin-right: 2.5em;
    animation: text-anim 1s ease;
    height: auto;
}

.Reset {
    width: 100%;
    font-size: inherit;
    font-family: inherit;
    box-shadow: var(--Box-shadow);
    border-radius: var(--Radius);
    padding: 1.25em;
    background-color: var(--blanco);
    height: 36.25em;
}

.Reset {
    visibility: hidden;
}

/* FORMS */
.Login-content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-flow: column nowrap;
}

.Login-content {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.Reset-content {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.Reset-title,
.Login-title,
.Register-title {
    font-size: 1.5rem;
    font-family: "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-weight: 600;
    letter-spacing: 2px;
    color: inherit;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0.625em 0;
    position: relative;
}

.Reset-title::before,
.Register-title::before,
.Login-title::before {
    content: '';
    position: absolute;
    left: 0x;
    bottom: -5px;
    height: 0.1875em;
    width: 2em;
    background: var(--Color-Selected);
}

.Input-boxes {
    width: 100%;
    height: 100%;
    font-size: inherit;
    align-items: center;
    overflow: hidden;
    margin: 1em 0;
}

.Box {
    margin: 2.5em 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.Box-i {
    color: inherit;
    font-size: 1em;
    cursor: pointer;
}

.Box-input {
    font-size: 1.2em;
    font-family: inherit;
    color: inherit;
    padding: 1em .5em;
    border-radius: var(--Radius);
    border: none;
    transition: all 0.3s ease;
    margin: 0 1em;
    outline: none;
    width: 100%;
    border-bottom: 3px solid var(--Color-shadow-input);
}

.Box-label {
    position: absolute;
    top: 1em;
    left: 2.5em;
    margin: 0;
}

.Box-input:focus+.Box-label,
.Box-input:valid+.Box-label {
    top: 0;
    left: 0;
    transform: translate(15px, -15px) scale(0.8);
    color: var(--blanco);
    padding-inline: 8px;
    background-color: var(--negro);
    border-radius: var(--Radius);
    font-size: 1.2em;
    letter-spacing: .1em;
    margin: 0;
    padding: 0;
}

.Box-input:is(:focus, :valid) {
    border-radius: var(--Radius);
    border-bottom: 3px solid var(--Color-Selected);
    box-shadow: 0 .8em .8em var(--Color-shadow-input);
}

.isText,
.isButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    margin: 1.5em 0;
}

.Reset-button,
.Login-button {
    width: auto;
    border-radius: var(--Radius);
    font-size: var(--Size-font-button);
    font-weight: 700;
    font-family: inherit;
    letter-spacing: var(--Letter-spacing);
    text-align: center;
    padding: 1em;
    background-color: var(--Success);
    border: 1px solid var(--blanco);
    transition-property: color, background-color, box-shadow, border;
    transition-duration: 00.5s;
    transition-timing-function: ease-in-out;
    color: var(--Brown);
    margin: 1em 0;
    text-transform: uppercase;
}

.Reset-button {
    background-color: var(--Unsuccess);
    color: var(--blanco);
}

.Reset-button:hover {
    color: var(--Success);
    background-color: var(--Unsuccess);
    box-shadow: 0px 2px 8px var(--Unsuccess), -0px -2px 8px var(--Brown);
}

.Login-button:hover {
    color: var(--blanco);
    background-color: var(--Success);
    box-shadow: 0px 2px 8px var(--Success), -0px -2px 8px var(--Brown);
}

.Input-label {
    color: inherit;
    font-weight: 600;
    font-size: 1em;
    cursor: pointer;
    text-align: center;
    width: 100%;
    margin: 0;
}

.Input-label:hover {
    color: var(--Color-Selected);
}

.Input-error {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-flow: row wrap;
    text-align: center;
    height: var(--size-height-box);
    width: 100%;
    height: 20px;
    position: relative;
    display: none;
}

.Error-p {
    align-items: center;
    font-size: 15pautox;
    text-align: center;
    padding: 0;
    margin: 0;
}

.errorActivo {
    display: block;
    color: var(--Brown);
}

/* TODO RECORD */
.Singin {
    width: 60%;
    flex-flow: column nowrap;
}

.Register {
    height: auto;
    width: 100%;
    font-size: inherit;
    font-family: inherit;
    box-shadow: var(--Box-shadow);
    border-radius: var(--Radius);
    padding: 1.25em;
    background-color: var(--blanco);
}

/* TODO Pertenece al REGISTRO */
.Input-select {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-top: 10px;
}

.Select-label {
    font-size: inherit;
    text-align: center;
    padding: 10px;
    margin: 0;
    width: 50%;
    font-weight: 700;
    font-family: var(--Font-family-principal);
    letter-spacing: 2px;
}

.Select-rol {
    background: #FCE38A;
    border-radius: var(--Radius-button);
    font-size: inherit;
    text-align: center;
    padding: 10px;
    width: 50%;
    color: var(--negro);
    font-weight: 400;
    font-family: var(--Font-family-principal);
    letter-spacing: 5px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.Select-rol:hover {
    background-color: #FCE38A;
    box-shadow: 0px 2px 8px var(--Color-Selected), -0px -2px 8px var(--Color-Selected)
}

.Select-rol:focus {
    outline: none;
}

.Select-option {
    color: var(--negro);
    background-color: var(--blanco);
    cursor: pointer;

}

#alertNotLogin {
    display: flex;
    align-items: center;
    flex-flow: column wrap;
}

#btnCloseAlert {
    margin-bottom: 20px;
}

/* Móviles en vertical
     ------------------------------------------------------------------------- */
@media all and (max-width: 950px) {

    .Auth-cover {
        display: none;
    }

    .Singin,
    .Authentication {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: space-between;
        margin: var(--Margin-top-forms) 0;
    }

    .Singin {
        width: 80%;
    }

    .Authentication {
        width: 70%;
    }

    .Box {
        margin: 3em 0;
    }

    .Login {
        margin: 0;
        animation-name: down;
        animation-duration: 1s;
        animation-fill-mode: forwards;
        margin-bottom: 3.125em;
        height: auto;
    }

    .Reset {
        margin: 0;
        display: none;
        height: auto;
    }

    #flip:checked~.Login {
        display: none;
    }

    #flip:checked~.Reset {
        margin: 0;
        display: block;
        animation-name: up;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }

    /* TODO Reggistros */
    .Register-content {
        width: 100%;
        margin: 0;
    }

    .Select-label {
        width: 100%;
    }
}


@media all and (max-width: 500px) {

    .Singin,
    .Authentication {
        width: 90%;
        margin: var(--Margin-top-forms) auto 1.25em auto;
    }

    .Login{
        width: auto;
        height: auto;    }

    .Reset{
        height: auto;
    }

}