/* TODO CONTENEDOR DE LOGIN*/
.Authentication {
    margin: var(--Margin-top-forms) auto 0;
    width: 80%;
    font-size: 1em;
    font-family: var(--Font-family-principal);
    padding: 1em;
    height: 43.75em;
    min-height: 43.75em;
    position: relative;
    display: flex;
    justify-content: space-between;
}

/* TODO COVER DE IMG */
.Auth-cover {
    position: absolute;
    top: -3.5em;
    left: 50%;
    height: 100%;
    width: 50%;
    z-index: 20;
    transition: all 1s;
    transform-origin: left;
    transform-style: preserve-3d;
    animation: img-anim 1s ease;
}

#flip:checked~.Auth-cover {
    transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    /* IE 9 */
    -moz-transform: rotateY(-180deg);
    /* Firefox */
    -webkit-transform: rotateY(-180deg);
    /* Safari and Chrome */
    -o-transform: rotateY(-180deg);
    /* Opera */
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.Auth-cover--front,
.Auth-cover--back {
    position: absolute;
    top: 0;
    left: 0;
    height: inherit;
    width: 100%;
    overflow: hidden;
    background-color: inherit;
}

.Auth-cover--back {
    transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    /* IE 9 */
    -moz-transform: rotateY(180deg);
    /* Firefox */
    -webkit-transform: rotateY(180deg);
    /* Safari and Chrome */
    -o-transform: rotateY(180deg);
    /* Opera */
    display: none;
}

#flip:checked~.Auth-cover .Auth-cover--back {
    display: block;
}

.Auth-img {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
    border-radius: var(--Radius);
    z-index: 10;
    background-color: inherit;
}

.Auth-cover--back .Auth-img {
    object-fit: contain;
}

#flip {
    display: none;
}

#flip:checked~.Reset {
    animation: img-anim 1s ease;
    visibility: visible;
    margin-left: 2.5em;
}

#flip:checked~.Login {
    animation: img-anim 1s ease;
    visibility: hidden;
    margin: 0;
    margin-left: 0px;
}

.Login {
    width: 100%;
    font-size: inherit;
    font-family: inherit;
    box-shadow: var(--Box-shadow-forms);
    border-radius: var(--Radius);
    padding: 1.5em;
    background-color: var(--Color-texto-blanco);
    margin-right: 2.5em;
    animation: text-anim 1s ease;
    height: 31em;
}

.Reset {
    width: 100%;
    font-size: inherit;
    font-family: inherit;
    box-shadow: var(--Box-shadow-forms);
    border-radius: var(--Radius);
    padding: 1.25em;
    background-color: var(--Color-texto-blanco);
    height: 24em;
    /* 43.75rem */
}

.Reset {
    visibility: hidden;
}

/* FORMS */
.Login-content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-flow: column nowrap;
}

.Login-content {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.Reset-content {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.Reset-title,
.Login-title {
    font-size: 1.5em;
    font-family: "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-weight: 600;
    letter-spacing: 2px;
    color: var(--Color-texto-negro);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0.625em 0;
    position: relative;
}

.Reset-title::before,
.Login-title::before {
    content: '';
    position: absolute;
    left: 0x;
    bottom: -5px;
    height: 0.1875em;
    width: 2em;
    background: var(--Color-Selected);
}

.Input-boxes {
    width: 100%;
    height: 100%;
    align-items: center;
    margin: 0;
    padding: 1em;
    overflow: hidden;
}

.Input-exists{
    display: none;
}

.Input-exists.isExists{
    display: block;
}

.Box {
    height: 3.75em;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 3em 0 0;
}

.Box-i {
    color: var(--Color-texto-negro);
    font-size: 1em;
    cursor: pointer;
    transition: text-shadow .5s ease;
}

.Box-i:hover{
    text-shadow: 1px 1px 2px var(--Color-Selected);
}

.Animation {
    width: 100%;
    height: 100%;
    margin: 0 1em;
    text-align: center;
    position: relative;
}

.Animation-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-family: inherit;
    font-size: 1em;
    color: var(--Color-texto-negro);
    border-radius: var(--Radius);
    padding: 0 1em;
    border-bottom: 3px solid var(--Color-outline);
    outline: none;
    transition: all 0.3s ease;
}

.Animation-label {
    width: auto;
    position: absolute;
    top: calc(50% - .7em);
    left: 1em;
    cursor: text;
    letter-spacing: .2em;
    color: var(--Color-texto-negro);
    transition-property: top, font-size, color, background-color, border-radius, padding, left, width;
    transition-duration: .5s;
    transition-timing-function: ease;
    vertical-align: baseline;
}

.Animation-input:focus~.Animation-label,
.Animation-input:not(:placeholder-shown).Animation-input:not(:focus)~.Animation-label {
    top: -1.2em;
    font-size: .7em;
    color: var(--Color-texto-blanco);
    background-color: var(--Color-texto-negro);
    border-radius: var(--Radius);
    padding: .1em 2em;
    text-align: start;
}

.Animation-input:is(:focus, :valid) {
    outline: .1em solid var(--Color-outline);
    border-bottom: 3px solid var(--Color-Selected);
    box-shadow: var(--Box-shadow-input);
}

.Animation-input:not(:placeholder-shown).Animation-input:is(:invalid) {
    border-bottom: 3px solid var(--Color-invalid);
}

.Error {
    width: 100%;
    margin: .5em 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.Error-text {
    padding: .5em;
    font-size: .9em;
    color: var(--Color-invalid);
}

.Error-icon {
    color: var(--Color-invalid);
    font-size: .9em;
}

.Animation-input.isError{
    outline: .1em solid var(--Color-invalid);
    border-bottom: 3px solid var(--Color-invalid);
}

.Error.isActive {
    display: flex;
}

.isText,
.isButton {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    margin: 1em 2em 1em;
    cursor: pointer;
}

.isText{
    margin: 2.5em 0 1.5em;
}

.isDisable{
    display: none;
}

.isEnable{
    display: flex;
}

.Reset-button,
.Login-button {
    width: 65%;
    border-radius: var(--Radius);
    font-size: var(--Size-font-button);
    font-weight: 700;
    font-family: inherit;
    letter-spacing: var(--Letter-spacing);
    text-align: center;
    padding: 1em;
    background-color: var(--Success);
    border: 1px solid var(--Color-outline);
    transition-property: color, box-shadow, border, transform;
    transition-duration: .5s;
    transition-timing-function: ease;
    color: var(--Brown);
    margin: 0;
    text-transform: uppercase;
    cursor: pointer;
}

.Reset-button {
    background-color: var(--Unsuccess);
    color: var(--Color-blanco);
}

.Reset-button:hover {
    color: var(--Success);
    box-shadow: var(--Box-shadow-button);
    border: 1px solid var(--Color-outline-blanco);
    transform: scale(1.05);
}

.Reset-button:active {
    transform: scale(1.2);
}

.Login-button:hover {
    color: var(--Color-texto-negro);
    box-shadow: var(--Box-shadow-button-success);
    border: 1px solid var(--Color-outline-blanco);
    transform: scale(1.05);
}

.Login-button:active {
    transform: scale(1.2);
}

.Input-label {
    color: var(--Color-texto-negro);
    font-weight: 600;
    font-size: 1em;
    cursor: pointer;
    text-align: center;
    width: 100%;
    margin: 0;
    letter-spacing: 2px;
    transition: text-shadow .5s ease
}

.Input-label:hover {
    text-shadow: 1px 1px 2px var(--Color-Selected);
}

.Login-notifications {
    position: fixed;
    width: 40%;
    top: calc(20% - 1em);
    left: 30%;
    z-index: 999999;
    margin: auto;
    background-color: #749F82;
    color: var(--Color-texto-negro);
    border-radius: var(--Radius);
    transition: all 0.3s;
}

.Alert{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}

.Alert-header{
    text-align: center;
    width: 100%;
}

.Alert-heading{
    font-size: 1.3em;
    font-weight: 600;
    padding: 0;
    margin: 0;
    text-align: center;
}

.Alert-close i{
    color: var(--Color-texto-negro);
    text-decoration:none;
    font-size: 1.5em;
}

.Alert-close i:hover{
    color: var(--Color-texto-blanco);
}

hr {
    margin: 0;
}

.Notification-content{
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
    align-items: center;
    padding: 1em;
}

.Notification-span{
    margin: .2em 0;
    font-size: 1em;
    font-weight: 400;
}

#alert2{
    display: none;
}

#alert2.isEnable{
    display: block;
}
/* Móviles en vertical
     ------------------------------------------------------------------------- */
@media all and (max-width: 59.375em) {

    .Auth-cover {
        display: none;
    }

    .Authentication {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: space-between;
        /* margin: var(--Margin-top-forms) 0; */
    }

    .Authentication {
        width: 70%;
    }

    .Login {
        margin: 0;
        animation-name: down;
        animation-duration: 1s;
        animation-fill-mode: forwards;
        margin-bottom: 3.125em;
        height: auto;
    }

    .Reset {
        margin: 0;
        display: none;
        height: auto;
    }

    #flip:checked~.Login {
        display: none;
    }

    #flip:checked~.Reset {
        margin: 0;
        display: block;
        animation-name: up;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }

    .Select-label {
        width: 100%;
    }


    .Reset-button,
    .Login-button{
        width: 100%;
    }
}

@media screen and (max-width: 34.375em) {

    .Authentication {
        width: 90%;
    }

    .Input-boxes{
        padding: 0 0 1em;
    }

    .Login {
        width: 100%;
    }

    .Reset {
        height: 26em;
    }

    .Animation-label {
        letter-spacing: .1em;
        font-size: .9em;
    }

    .Animation-input:focus~.Animation-label,
    .Animation-input:not(:placeholder-shown).Animation-input:not(:focus)~.Animation-label {
        font-size: .6em;
        left: 1em;
        width: 90%;
    }

    .Box{
        margin: 3em 0 0;
    }

    .Error-text{
        font-size: .7em;
    }
    
    .Login-notifications {
        width: 90%;
        /* top: calc(20% - 1em); */
        left: calc(10% - 1em);
    }

    .isText{
        margin: 2.5em 0;
    }
}