/* Googlefont Poppins CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('styles.css');
nav{
  position: fixed;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
  height: 70px;
  box-shadow: 0 1px 2px rgba(250, 239, 239, 0.2);
  z-index: 99;
  overflow: hidden;
}

nav .navbar{
  overflow: hidden;
  font-size: 30px;
  text-decoration: none;
  font-weight: 500;
  width: 100%;
  height: 100%;
  padding: 0 50px;
  
}


nav .navbar #title-nav a{
  text-decoration: none;
  color: var(--color-text-form);
}

nav #btn-menu{
  font-size: 20px;
  color: var(--color-text-form);
}

nav .navbar .nav-links{
  line-height: 70px;
  height: 100%;
}
nav .navbar .links{
  display: flex;
}
nav .navbar .links li{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 0 14px;
}
nav .navbar .links li a{
  height: 100%;
  text-decoration: none;
  white-space: nowrap;
  color: var(--color-text-form);
  font-size: 15px;
  font-weight: 500;
}