/*  Código de nuestro menu */
.Header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: fixed;
  z-index: 99;
  top: 0;
  width: 100%;
  height: var(--Size-height-navBar);
  background-color: var(--Background-menu);
  color: var(--Color-negro);
  min-height: var(--Size-height-navBar);
  box-shadow: var(--Box-shadow-nav);
  padding: 0 1em;
  font-family: var(--Font-family-menu);
  font-size: var(--Size-font-menu);
}

/* LOGO */
.Header-logo {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
}

/* BOTON PARA EXPANDIR SIDEMENU*/
.Header-button--toggle,
.Header-button--sidemenu {
  color: inherit;
  background-color: inherit;
  height: var(--Size-element);
  width: var(--Size-element);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  vertical-align: middle;
  font-size: 1.5em;
}

.Header-button--toggle i,
.Header-button--sidemenu i {
  font-size: var(--Size-font-menu);
  font-weight: bold;
}

.Header-button--toggle:hover,
.Header-button--sidemenu:hover {
  background-color: rgb(97, 97, 97);
  color: var(--Success);
  border-radius: 50%;
}

.Header-button--toggle:focus:not(:focus-visible),
.Header-button--sidemenu:focus:not(:focus-visible) {
  outline: none;
}

.Header-button--toggle {
  display: none;
}

/*  LOGO */
.Header-a--logo {
  margin: 0 1em;
  width: 13.75em;
  height: auto;
}

.Header-a--logo svg {
  margin: 0;
  padding: 0;
}

/* NAV */
.Header-nav {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.Header-ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: 0;
  padding: 1em 0;
}

.Header-li {
  margin: 0 1em;
  text-transform: uppercase;
  width: max-content;
  text-align: center;
  padding: 1em 0;
}

.Header-a {
  width: 100%;
  height: 100%;
  font-size: 1em;
  font-weight: 700;
  font-family: var(--Font-family-menu);
  border-radius: var(--Radius);
  letter-spacing: 0.1875em;
  text-align: center;
  transition-property: color;
  transition-duration: .5s;
  transition-timing-function: ease;
  position: relative;
}

.Header-a:hover {
  color: var(--Success);
}

/* Linea cuando se pasa por el menu */
.isToogle::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.125em;
  background: linear-gradient(to right, var(--Success), var(--Brown), var(--Success));
  z-index: 1;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.5s ease-in-out;
  text-decoration: none;
}

.isToogle:hover::before {
  transform: scaleX(1);
}

.isFocus::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.25em;
  background: var(--Color-Selected);
  opacity: 0;
  text-decoration: none;
}

.isSelected::after {
  opacity: 0.8;
  box-shadow: var(--Box-shadow-btn-side);
}

.Header-a.isActiveLogin {
  background-color: var(--Success);
  border: 1px solid rgba(0, 0, 0, 0.356);
  color: var(--Brown);
  padding: 1em;
  transform: scale(1);
  transition-property: color, border, box-shadow, transform;
  transition-duration: .5s;
  transition-timing-function: ease;
}

.Header-a.isActiveLogin:hover {
  color: #000;
  border: 1px solid #fff;
  box-shadow: var(--Box-shadow-btn-side);
  transform: scale(1.05);
}

.Header-a.isActiveLogin:active {
  transform: scale(1.2);
}

.Header-a.isActiveLogout {
  background-color: var(--Unsuccess);
  border: 1px solid rgba(0, 0, 0, 0.4);
  color: #fff;
  padding: 1em;
  transform: scale(1);
  transition-property: color, border, box-shadow, transform;
  transition-duration: .5s;
  transition-timing-function: ease;
}

.Header-a.isActiveLogout:hover {
  color: var(--Success);
  border: 1px solid rgb(255, 255, 255);
  box-shadow: var(--Box-shadow-btn-side);
  transform: scale(1.05);
}

.Header-a.isActiveLogout:active {
  transform: scale(1.2);
}

/*  TRIBUTO PARA DESACTIVAR BOTONES */
.isDisabled {
  display: none;
}

/* Móviles en horizontal o tablets en vertical
   ------------------------------------------------------------------------- */
@media all and (max-width: 950px) {
  .isDisabled {
    display: block;
  }

  .Header-button--sidemenu {
    display: none;
  }

  .Header-button--toggle {
    display: block;
  }

  .Header-button--toggle:focus:not(:focus-visible) {
    outline: none;
  }

  .Header-nav {
    border-top: solid 3px var(--Success);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: fixed;
    left: 0;
    top: var(--Size-height-navBar);
    width: 70%;
    align-items: center;
    background-color: inherit;
    height: 100%;
    overflow-y: auto;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
  }

  .Header-ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
  }

  .Header-li {
    margin: 15px 0;
    padding: 10px 0;
  }

  .Header-a {
    padding: 15px;
  }

  .Header-nav__isActive {
    opacity: 1;
    pointer-events: auto;
    animation: text-anim 1s ease;
  }

  .Header-logo {
    margin: 0;
  }

  .Header-a--logo {
    margin: 0;
    padding: 0;
  }

  .Header-a--logo svg {
    margin: 0;
    padding: 0;
    width: 12.5em;
    height: 15em;
  }

  .Header-button--toggle {
    margin: 0 20px;
  }

}