/*  Código de nuestro menu */
.Header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: fixed;
  z-index: 99;
  top: 0;
  background-color: inherit;
  color: inherit;
  width: 100%;
  /* max-width: var(--maxWidth); */
  /* margin: 0 auto; */
  height: var(--size-height-navBar);
  min-height: var(--size-height-navBar);
  box-shadow: 0 0 15px #0000004f;
  padding: 0 16px;
}

/* LOGO */
.Header-logo {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
}

/* BOTON PARA EXPANDIR SIDEMENU*/
.Header-button--toggle,
.Header-button--sidemenu {
  color: inherit;
  background-color: inherit;
  height: var(--size-element);
  width: var(--size-element);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  vertical-align: middle;
}

.Header-button--toggle i,
.Header-button--sidemenu i{
  font-size: var(--size-font-menu);
  font-weight: bold;
}

.Header-button--toggle:hover,
.Header-button--sidemenu:hover{
  background-color: rgb(97, 97, 97);
  color: var(--Success);
  border-radius: 50%;
}

.Header-button--toggle:focus:not(:focus-visible),
.Header-button--sidemenu:focus:not(:focus-visible){
  outline: none;
}

.Header-button--toggle{
  display: none;
}

/*  LOGO */
.Header-a--logo {
  height: 100%;
  margin: 0 10px;
}

.Header-a--logo img{
  width: 220px;
  height: 100%;
  margin: 0;
  padding: 0;
}


/* NAV */
.Header-nav {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.Header-ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: 0;
  padding: 10px 0;
}

.Header-li {
  margin: 0 10px;
  text-transform: uppercase;
  width: max-content;
  text-align: center;
  padding: 20px 0;
}

.Header-a {
  color: inherit;
  border-radius: var(--Radius-button);
  transition-property: background-color, color;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  font-size: var(--size-font-menu-button);
  font-weight: 700;
  font-family: var(--font-family-menu);
  letter-spacing: 5px;
  text-align: center;
  width: 100%;
  height: 100%;
  position: relative;
}

.Header-a:hover{
  background-color: transparent;
  color: var(--Success);
  text-decoration: none;
}

/* Linea cuando se pasa por el menu */
.isToogle::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, var(--Success), var(--Brown), var(--Success));
  z-index: 1;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.5s ease-in-out;
  text-decoration: none;
}

.isToogle:hover::before {
  transform: scaleX(1);
}

/* Linea cuando esta activa la pagina */
.isFocus::after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: var(--Color-Selected);
  opacity: 0;
  text-decoration: none;
}

.isSelected::after {
  opacity: 0.8;
}

.activeLogin{
  background-color: var(--Success);
  border: 1px solid #fff;
  color: var(--Brown);
  text-align: center;
  padding: 15px 10px;
  transition-property: color, background-color, box-shadow;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}

.activeLogin:hover{
  color: var(--blanco);
  background-color: var(--Success);
  box-shadow: var(--box-shadow-buttons-success);
}

.activeLogout{
  background-color: var(--Unsuccess);
  color: var(--blanco);
  border: 1px solid #fff;  
  text-align: center;
  padding: 15px 10px;
  transition-property: background-color, box-shadow;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}

.activeLogout:hover{
  background-color: var(--Unsuccess);
  box-shadow: var(--box-shadow-buttons-unsuccess)
}

/*  TRIBUTO PARA DESACTIVAR BOTONES */
.isDisabled{
  display: none;
}

/* Móviles en horizontal o tablets en vertical
   ------------------------------------------------------------------------- */
   @media all and (max-width: 950px) {
    .isDisabled{
      display: block;
    }
  
    .Header-button--sidemenu {
      display: none;
    }
  
    .Header-button--toggle {
      display: block;
    }
    
    .Header-button--toggle:focus:not(:focus-visible){
      outline: none;
    }
  
    .Header-nav {
      border-top: solid 3px var(--Success);
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
      flex-flow: column wrap;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: flex-start;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      position: fixed;
      left: 0;
      top: var(--size-height-navBar);
      width: 70%;
      align-items: center;
      background-color: inherit;
      height: 100%;
      overflow-y: auto;
      opacity: 0;
      pointer-events: none;
      transition: opacity 0.3s;
    }
  
    .Header-ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 0;
    }
  
    .Header-li {
      margin: 15px 0;
    }

    .Header-a {
      padding: 15px;
    }
    
    .Header-nav__isActive {
      opacity: 1;
      pointer-events: auto;
      animation: text-anim 1s ease;
    }

    .Header-logo {
      margin: 0;
    }
  
    .Header-a--logo{
      margin: 0; 
      width: 100%;
      height: 100%;
    }

    .Header-button--toggle{
      margin: 0 20px;
    }
    
  }

