.New {
    margin: var(--Margin-top-forms) auto 4em;
    width: 70%;
    padding: 2em 0;
    border-radius: var(--Radius);
    background-color: var(--Color-texto-blanco);
    box-shadow: var(--Box-shadow-forms);
    position: relative;
}

.New-title {
    position: absolute;
    top: -1em;
    left: -4em;
    width: 100%;
    z-index: 1;
}

.New-h1 {
    background-color: var(--Background-Color-forms-partner);
    color: var(--Color-texto-blanco);
    padding: .5em 1em;
    margin: 0;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    text-shadow: 0 0 5px var(--Color-forms-partner);
    border-top-right-radius: var(--Radius);
    border-top-left-radius: var(--Radius);
    border-bottom-right-radius: var(--Radius);
    width: 60%;
    border-bottom: 1px solid var(--Color-outline);
}

.New-flag {
    position: absolute;
    top: 3.8em;
    left: -4em;
    width: 2em;
    height: 2em;
    border-top: 5em solid rgb(145, 113, 38);    
    border-left: 5em solid transparent;
    z-index: 0;
}

@media screen and (max-width: 550px) {

    .New {
        width: 90%;
    }

}