.New-form {
    margin-top: 1.4em;
    background-color: var(--Color-texto-blanco);
    position: relative;
    z-index: 2;
}

.Family {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
    height: 7.5em;
}

.Family-check {
    display: flex;
    align-items: center;
    justify-content: start;
    text-align: center;
    width: 50%;
}

.Family-label {
    margin: 0 1em;
    padding: 0;
}

.Family-links {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    text-align: center;
    padding: 1em;
    width: 50%;
}

.Family-links span {
    width: 100% !important;
    font-size: 1em;
}

.Family-links label{
    color: gray;
}

.Family-links {
    display: none;
}

.Family-links.isEnable {
    display: flex;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    left: 95%;
}

.New-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.New-boxes {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
    padding: 1.5em 2em 0;
    align-items: center;
    overflow: hidden;
}

.Input-box {
    width: 50%;
    /* height: 150px; */
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2em;
    /* justify-content: space-between; */
    /* margin: 3em 0 0; */
}

.Input-box.isActiveError {
    height: 9.375em;
    margin: 0;
}

.Box {
    height: 3.75em;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
}

.Box-i {
    color: var(--Color-texto-negro);
    font-size: 1em;
    cursor: pointer;
    transition: text-shadow .5s ease;
}

.Box-i:hover {
    text-shadow: 1px 1px 2px var(--Color-Selected);
}

.Animation {
    width: 100%;
    height: 100%;
    margin: 0 1em;
    text-align: center;
    position: relative;
}

.Animation-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 95%;
    height: 100%;
    font-family: inherit;
    font-size: 1em;
    color: var(--Color-texto-negro);
    border-radius: var(--Radius);
    padding: 0 1em;
    margin-left: .5em;
    margin-right: .5em;
    border-bottom: 3px solid var(--Color-outline);
    outline: none;
    transition: all 0.3s ease;
}

.Animation-label {
    padding: 0 1em;
}

.Animation-closeInfo,
.Animation-info,
.Animation-label {
    width: auto;
    position: absolute;
    top: calc(50% - .7em);
    left: 0.5em;
    cursor: text;
    font-size: 1em;
    letter-spacing: .2em;
    color: var(--Color-texto-tip);
    transition-property: top, font-size, color, background-color, border-radius, padding, left, width;
    transition-duration: .5s;
    transition-timing-function: ease;
    vertical-align: baseline;
}

.Animation-input:focus~.Animation-label,
.Animation-input:not(:placeholder-shown).Animation-input:not(:focus)~.Animation-label {
    top: -1.4em;
    left: 3em;
    font-size: .7em;
    color: var(--Color-texto-blanco);
    background-color: var(--Color-texto-negro);
    border-radius: var(--Radius);
    padding: .1em 2em;
    text-align: start;
}

.Animation-info {
    cursor: pointer;
    display: none;
}

.Animation-closeInfo {
    cursor: pointer;
    display: none;
}

.Animation-input:focus~.Animation-closeInfo,
.Animation-input:focus~.Animation-info,
.Animation-input:not(:placeholder-shown).Animation-input:not(:focus)~.Animation-closeInfo,
.Animation-input:not(:placeholder-shown).Animation-input:not(:focus)~.Animation-info {
    left: 0.5em;
    top: -.65em;
    font-size: 1.5em;
    color: var(--Color-invalid);
    background-color: #fff;
    border-radius: var(--Radius);
    padding: 0;
    text-align: start;
}

.Animation-info.isVisible {
    display: flex;
}

.Animation-closeInfo.isVisible {
    display: flex;
}

.Animation-input:is(:focus, :valid) {
    outline: .1em solid var(--Color-outline);
    border-bottom: 3px solid var(--Color-Selected);
    box-shadow: var(--Box-shadow-input);
}

.Animation-input:not(:placeholder-shown).Animation-input:is(:invalid) {
    border-bottom: 3px solid var(--Color-invalid);
}

.Error {
    width: 100%;
    margin: .5em 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.Error-text {
    padding: .5em;
    font-size: .9em;
    color: var(--Color-invalid);
}

.Error-icon {
    color: var(--Color-invalid);
    font-size: .9em;
}

.Animation-input.isError {
    outline: .1em solid var(--Color-invalid);
    border-bottom: 3px solid var(--Color-invalid);
}

.Error.isActive {
    display: flex;
}

.Input-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    margin: 1.5em 0;
}

.Button-cancel,
.Button-accept {
    width: 20%;
    height: 3em;
    border: 1px solid var(--Color-outline);
    border-radius: var(--Radius);
    font-size: var(--Size-font-button);
    font-weight: 600;
    font-family: inherit;
    letter-spacing: var(--Letter-spacing);
    text-align: center;
    background-color: var(--Success);
    transition-property: color, box-shadow, border, transform;
    transition-duration: .5s;
    transition-timing-function: ease;
    color: var(--Brown);
    margin: 1em 2em;
    text-transform: uppercase;
}

.Button-cancel {
    background-color: var(--Unsuccess);
    color: var(--Color-texto-blanco);
}

.Button-cancel:hover {
    color: var(--Success);
    box-shadow: var(--Box-shadow-button-success);
    border: 1px solid var(--Color-outline-blanco);
    transform: scale(1.05);
}

.Button-cancel:active {
    transform: scale(1.2);
}

.Button-accept:hover {
    color: var(--Color-texto-negro);
    box-shadow: var(--Box-shadow-button);
    border: 1px solid var(--Color-outline-blanco);
    transform: scale(1.05);
}

.Button-accept:active {
    transform: scale(1.2);
}

@media screen and (max-width: 950px) {

    .Family {
        padding: 1em 0;
    }

    .New-boxes {
        width: 100%;
        padding: 0;
        margin: 0;
        flex-flow: column nowrap;
    }

    .Input-box {
        width: 100%;
        padding: 1em 0;
        margin: 0;
    }

    .Input-box.isActiveError{
        height: auto;
    }
    
    .Box {
        margin: .5em 0;
    }

    .New-h1 {
        font-size: 1.7em;
    }

    .New-flag {
        top: 2.80em;
    }

    .New-form {
        padding: 1em 1em 1em 2em;
        margin-top: .75em;
    }
}

@media screen and (max-width: 550px) {

    .Family {
        padding: 1em 0 1em .5em;
        flex-direction: column;
    }

    .Family-check,
    .Family-links {
        width: 100%;
        margin: 0;
        ;
    }


    .New-content {
        padding: 0 0 0 .5em;
    }

    .New-title {
        left: -1em;
        top: -1em;
    }

    .New-flag {
        top: 2.35em;
        left: -1.01em;
    }

    .New-h1 {
        font-size: 1.5em;
    }

    .New-form {
        margin-top: 0.3em;
        padding: 1em;
    }

    .Animation-label {
        letter-spacing: .1em;
        font-size: .9em;
        left: 1em;
        margin: 0;
    }

    .Animation-input {
        padding: .5em;
    }

    .Animation-input:focus~.Animation-label,
    .Animation-input:not(:placeholder-shown).Animation-input:not(:focus)~.Animation-label {
        top: -1.6em;
        font-size: .6em;
        left: 4.1em;
    }

    .Animation-input:focus~.Animation-info,
    .Animation-input:focus~.Animation-closeInfo,
    .Animation-input:not(:placeholder-shown).Animation-input:not(:focus)~.Animation-closeInfo,
    .Animation-input:not(:placeholder-shown).Animation-input:not(:focus)~.Animation-info {
        top: -.6em;
        font-size: 1.6em;
        padding: 0;
    }
    .Input-button {
        width: 100%;
    }

    .Button-cancel,
    .Button-accept {
        width: 100%;
        margin: 1em 0.5em;
    }
}