.New-form {
    margin-top: 1.89em;
    background-color: var(--Color-texto-blanco);
    /*display: flex;
    align-items: center;
    flex-flow: column nowrap;*/
    display: grid;
    grid-template-columns: repeat(1, minmax(200px, 1fr));
    gap: 1em;
    position: relative;
    z-index: 2;
}

.Family {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em 2em 0;
    height: 7.5em;
}

.Family-check {
    text-align: start;
    width: 50%;
}

.Family-check input,
.Family-check label {
    font-weight: 600;
    cursor: pointer;
}

.Family-label {
    margin: 0 1em;
    padding: 0;
}

.Family-links {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    text-align: center;
    padding: 1em;
    width: 50%;
}

.Family-links {
    display: none;
    opacity: 0;
    transition: opacity 500ms ease;
}

.Family-links span {
    width: 100% !important;
    font-size: 1em;
}

.Family-links label {
    color: gray;
}

.Family-links.isEnable {
    display: flex;
    opacity: 1;
    margin: 0 1em 0 4em;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    left: 95%;
}

.New-content {
    /*display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;*/
    display: grid;
    grid-template-columns: auto;
    width: 100%;
    height: 100%;
    /* padding-top: 1.5em; */
    overflow: hidden;
}

.New-boxes {
    /*display: flex;
    align-items: center;
    flex-flow: row wrap;
    justify-content: space-between;*/
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1.25rem;
    width: 100%;
    height: auto;
    padding: 1.5em 2em 0;
    align-items: center;
    overflow: hidden;
}

.Input-box {
    width: 100%;
    margin-bottom: 2em;
}

.Input-box.isActiveErrorDni {
    height: 15em;
    min-height: 10em;
    margin: 0;
}

.Input-box.isActiveError {
    height: auto;
    min-height: 10em;
    margin: 0;
}


.Box {
    height: 3.75em;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
}

.select2-container {
    width: 100% !important;
    height: 3.75em;
    /* margin: 0 0.5em; */
}

.select2-container .select2-selection--single {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    outline: 0.1em solid var(--Color-outline);
    border-bottom: 3px solid var(--Color-Selected);
    box-shadow: var(--Box-shadow-input);
    border-radius: var(--Radius);
}

.select2-container .select2-selection--single.isSelectError {
    outline: 0.1em solid var(--Color-invalid);
    border-bottom: 3px solid var(--Color-invalid);
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    right: 2em;
    top: auto;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    font-family: inherit;
    font-size: 1em;
    color: var(--Color-texto-negro);
    padding: 0 1em;
}

.Box-i {
    color: var(--Color-texto-negro);
    font-size: 1em;
    cursor: pointer;
    transition: text-shadow .5s ease;
}

.Box-i:hover {
    text-shadow: 1px 1px 2px var(--Color-Selected);
}

.Animation {
    width: 100%;
    height: 100%;
    margin: 1em .5em 0 1em;
    text-align: center;
    position: relative;
}

.Animation-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-family: inherit;
    font-size: 1em;
    color: var(--Color-texto-negro);
    border-radius: var(--Radius);
    padding: 0 1em;
    margin: 0 .5em;
    border-bottom: 3px solid var(--Color-outline);
    outline: none;
    transition: all 0.3s ease;
}

.Animation-closeInfo,
.Animation-info,
.Animation-label {
    width: auto;
    position: absolute;
    top: calc(50% - 1em);
    left: 0.5em;
    cursor: text;
    letter-spacing: .2em;
    font-size: .8em;
    color: var(--Color-texto-tip);
    transition-property: top, font-size, color, background-color, border-radius, padding, left, width;
    transition-duration: .5s;
    transition-timing-function: ease;
    vertical-align: baseline;
}

.Animation-label {
    padding: 0 1em;
}

.Animation-input:focus~.Animation-label,
.Animation-input:not(:placeholder-shown).Animation-input:not(:focus)~.Animation-label {
    top: -1.3em;
    left: 3em;
    font-size: .6em;
    color: var(--Color-texto-blanco);
    background-color: var(--Color-texto-negro);
    border-radius: var(--Radius);
    padding: .1em 2em;
    text-align: start;
}

.Animation-info {
    cursor: pointer;
    display: none;
}

.Animation-closeInfo {
    cursor: pointer;
    display: none;
}

.Animation-input:focus~.Animation-closeInfo,
.Animation-input:focus~.Animation-info,
.Animation-input:not(:placeholder-shown).Animation-input:not(:focus)~.Animation-closeInfo,
.Animation-input:not(:placeholder-shown).Animation-input:not(:focus)~.Animation-info {
    left: 0.5em;
    top: -.65em;
    font-size: 1.2em;
    color: var(--Color-invalid);
    background-color: var(--Color-texto-blanco);
    border-radius: var(--Radius);
    padding: 0;
    text-align: start;
}

.Animation-info.isVisible {
    display: flex;
}

.Animation-closeInfo.isVisible {
    display: flex;
}

.Animation-input:is(:focus, :valid) {
    outline: .1em solid var(--Color-outline);
    border-bottom: 3px solid var(--Color-Selected);
    box-shadow: var(--Box-shadow-input);
}

.Animation-input:not(:placeholder-shown).Animation-input:is(:invalid) {
    border-bottom: 3px solid var(--Color-invalid);
}

.Error {
    width: 100%;
    height: auto;
    margin: 1em 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.Error-text {
    padding: .5em;
    font-size: .9em;
    color: var(--Color-invalid);
}

.Error-icon {
    color: var(--Color-invalid);
    font-size: .9em;
}

.Animation-input.isError {
    outline: .1em solid var(--Color-invalid);
    border-bottom: 3px solid var(--Color-invalid);
}

.isTextarea-boxes {
    width: 100%;
    gap: 0;
    height: 12em;
}

.isTextarea-box {
    height: 100%;
}

.isTextarea {
    width: 100%;
    height: 100%;
}

.isTextarea-input {
    width: 100%;
    padding: 1.5em;
    resize: none;
}

.Error.isActive {
    display: flex;
}

.Input-button {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1.25rem;
    justify-content: center;
    height: auto;
    margin: 1em 2em;

}

.Button-cancel,
.Button-accept {
    width: 70%;
    height: 3.5em;
    border: 1px solid var(--Color-outline);
    border-radius: var(--Radius);
    font-size: var(--Size-font-button);
    font-weight: 600;
    font-family: inherit;
    letter-spacing: var(--Letter-spacing);
    text-align: center;
    background-color: var(--Success);
    transition-property: color, box-shadow, border, transform;
    transition-duration: .5s;
    transition-timing-function: ease;
    color: var(--Brown);
    margin: 1em auto;
    text-transform: uppercase;
}

.Button-cancel {
    background-color: var(--Unsuccess);
    color: var(--Color-texto-blanco);
}

.Button-cancel:hover {
    color: var(--Success);
    box-shadow: var(--Box-shadow-button-success);
    border: 1px solid var(--Color-outline-blanco);
    transform: scale(1.05);
}

.Button-cancel:active {
    transform: scale(1.2);
}

.Button-accept:hover {
    color: var(--Color-texto-negro);
    box-shadow: var(--Box-shadow-button);
    border: 1px solid var(--Color-outline-blanco);
    transform: scale(1.05);
}

.Button-accept:active {
    transform: scale(1.2);
}

div[data-error] {
    /* background-color: chartreuse; */
    height: auto;
    min-height: 10em;
    margin: 0;
}
@media screen and (max-width: 950px) {

    .New-form{
        margin-top: 1.1em;
    }

    .Family {
        padding: 1em 2em 0;
    }

    .New-boxes {
        grid-template-columns: auto;
        padding: 0 2em 0;
        margin: 0;
        flex-flow: column nowrap;
    }

    .Input-box {
        width: 100%;
        padding: 1em 0;
        margin: 0;
    }

    .Input-box.isInvisible {
        display: none;
    }

    .Input-box.isActiveErrorDni,
    .Input-box.isActiveError {
        height: auto;
    }

    .Box {
        margin: .5em 0;
    }

    .New-h1 {
        font-size: 1.7em;
        width: 70%;
    }

    .New-flag {
        top: 3.1em;
    }

    .select2-container .select2-selection--single {
        margin: 0 0 0 .5em;
    }

}

@media screen and (max-width: 550px) {

    .Family {
        padding: 1em 0 1em .5em;
        flex-direction: column;
        height: auto;
    }

    .Family-check,
    .Family-links {
        width: 100%;
        margin: 0;
        ;
    }


    .New-content {
        padding: 0 0 0 .5em;
    }

    .New-title {
        left: -1em;
        top: -1em;
        width: fit-content;
    }

    .New-flag {
        top: 2.6em;
        left: -1em;
    }

    .New-h1 {
        font-size: 1.5em;
        width: 100%;
    }

    .New-form {
        margin-top: 0.6em;
        padding: 1em;
    }

    .New-boxes {
        padding: 0;
        grid-template-columns: none;
    }

    .Animation-label {
        letter-spacing: .1em;
        left: 1em;
        margin: 0;
    }

    .Animation-input {
        padding: .5em;
        margin: 0;
    }

    .Animation-input:focus~.Animation-info,
    .Animation-input:focus~.Animation-closeInfo,
    .Animation-input:not(:placeholder-shown).Animation-input:not(:focus)~.Animation-closeInfo,
    .Animation-input:not(:placeholder-shown).Animation-input:not(:focus)~.Animation-info {
        top: -.6em;
        padding: 0;
    }

    .Input-button {
        grid-template-columns: auto auto;
        margin: auto;
    }

    .Button-cancel,
    .Button-accept {
        width: 100%;
        padding: 1em;
        margin: 1em 0.5em;
    }
    
    .select2-container {
        width: 97% !important;
    }

    .select2-container .select2-selection--single {
        margin: 0;
    }

    input:disabled, input[readonly], textarea:disabled, textarea[readonly] {
        margin: 0;
    }

    .Family-links.isEnable {
        margin: 0;
    }
}