.Partner-container {
  position: relative;
  top: var(--size-height-element);
  padding: 20px;
  margin: var(--margin-forms);
  border-radius: var(--size-border-radius-forms);
  overflow: hidden;
  width: 90vw;
  height: auto;
  box-shadow: 2px 4px 8px var(--color-background-shadow-botton),
  -2px -2px 16px var(--background-forms-partner);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.Partner-fieldset  {
  width: 100%;
  min-height: 30vh;
  color: #fff;
  border: 1px solid var(--background-forms-partner);
  border-radius: var(--size-border-radius-fieldset);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
}

.Partner-legend {
  background: var(--background-forms-partner);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: row wrap;
  border-radius: 5px;
  padding: 15px;
  color: var(--color-forms-partner);
  font-family: var(--font-family-legend);
  font-weight: 400;
  letter-spacing: 3px;
}

.Partner-span {
  font-weight: 600;
  flex: 40%;
}

.Partner-Username {
  flex: 60%;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-flow: row wrap;
  padding: 5px 0;
}

.Partner-Username-greeting {
  font-weight: 200;
  margin: 0 10px;
}


.Partner-Username-name {
  font-weight: 200;
  background: #057050;
  padding: 8px 12px;
  color: #C1D5A4;
  border-radius: 5px;
  margin: 0 10px;
  text-transform: uppercase;
}

.container-fluid{
  color: black;
}
/* .dataTables_wrapper{
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
} */
.dataTables_length{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row wrap;
  width: 50%;
  margin-bottom: 20px;
}

.dataTables_length label{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row wrap;
  width: 100%;
}

.dataTables_length label select{
  margin: 0 10px;
  width: 3em;
  text-align: center;
  height: 3em;

}

.dataTables_filter{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row nowrap;
  width: 50%;
  margin-bottom: 20px;
}

.dataTables_filter label{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row nowrap;
  width: 100%;
}

.dataTables_filter label input{
  margin: 0 30px;
  justify-content: center;
  width: 20em;
  height: 3em;
  font-size: 14px;
}
@media (max-width: 480px) { 

  .dataTables_filter{
    width: 100%;
  }
  .dataTables_length{
    
      width: 100%;
  }
}