
  .body-expanded{
    margin-right: calc(var(--width) - var(--width-collapsed) );
  }
  .Aside{
    height: 100%;
  }

  .Sidemenu{
    position: fixed;
    z-index: 2;
    top:var(--size-height-navBar);
    background: var(--bgcolor-menu);
    height: 100%;
  }
  
  .Sidemenu-a{
    color: #fff;
    text-decoration: none;   
  }

  .Sidemenu-profile{
    border-bottom: solid 1px var(--hovercolor);
    text-align: center;
  }
  
  .Sidemenu-name--profile{
    font-size: 24px;
    padding: var(--padding) 0;
    overflow: hidden;
    color: #56b14e;
    font-weight: 600;
    font-family: 'Poppins' sans-serif;
    margin: 10px 0;
  }
  
  .Sidemenu-container--items{
    overflow: hidden;
    width: 100%;
  }
  
  .Sidemenu-item{
    width: 100%;
    margin: 10px 0;
    height: 50px;
    position: relative;
  }
  
  .Sidemenu--isFocus::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: white;
    opacity: 0;
    text-decoration: none;
  }
  
  .Sidemenu--isSelected::after {
    opacity: 0.8;
  }

  .Sidemenu-icon--item{
    display: inline-block;
  }
  
  .Sidemenu-icon--item,
  .Sidemenu-title--item{
    font-size: 14px;
    vertical-align: middle;
    overflow: hidden;
    display: inline-block;
  }
  
  .Sidemenu-a{
    display: block;
  }
  
  .Sidemenu-a:hover{
    background: var(--hovercolor);
    border-radius: 7px;
    transition: all 0.5s ease;
  }
  
  
  .Sidemenu-icon--item {
    box-sizing: border-box;
    padding: var(--padding);
    width: var(--width-collapsed);
  }
  
  .Sidemenu-title--item {
    padding: var(--padding) 0;
  }
  
  .Sidemenu-separator{
    height: 1px;
    border-bottom: solid 1px var(--hovercolor);
    margin: 0;
  }
  
  .menu-expanded{
    width: var(--width);
    box-shadow: 0 0 10px rgb(0,0,0,0.5);
    /* overflow-y: auto;
    overflow: auto; */
    top: var(--size-height-navBar);
  }

  .menu-expanded .Sidemenu-item{
    padding: 0 20px;
    margin: 10px 0;
    text-align: left;
  }

  .menu-expanded .Sidemenu-separator{
    margin: 0;
    padding: 0;
  }
  
  .menu-expanded .Sidemenu-name--profile{
    width: 100%;
  }
  
  .menu-collapsed{
    width: var(--width-collapsed);
    overflow-y: auto;
    overflow: auto;
  }
  
  .menu-collapsed .Sidemenu-name--profile{
    display: none;
  }
  
  .menu-collapsed .Sidemenu-item{
    width: 100%;
  }
  .menu-collapsed .Sidemenu-title--item{
    display: none;
  }
  @media (max-width: 950px){
    .Aside .Sidemenu {
      display: none;
      width: 0;
      height: 0;
    }

    .Main{
      width: 100%;
      display: flex;
      justify-content: center;
      flex-flow: column wrap;
      align-items: center;
    }
  }