

  .Aside{
    height: 100%;
    display: none;
  }

  .Sidemenu{
    position: fixed;
    z-index: 99;
    top:var(--size-height-navBar);
    left: 0;
    background: var(--blanco);
    height: 100%;
    color: var(--color-menu);
    box-shadow: 0 0 10px rgb(0,0,0,0.5);
    width: var(--size-width-sidemenu);

  }

  
  .Sidemenu-a{
    color: inherit;
    text-decoration: none;   
  }

  .Sidemenu-profile{
    border-bottom: solid 1px var(--hovercolor);
    text-align: center;
  }
  
  .Sidemenu-name--profile{
    font-size: 24px;
    padding: var(--padding) 0;
    overflow: hidden;
    color: #56b14e;
    font-weight: 600;
    font-family: 'Poppins' sans-serif;
    margin: 10px 0;
  }
  
  .Sidemenu-container--items{
    overflow: hidden;
    width: 100%;
  }
  
  .Sidemenu-item{
    width: 100%;
    margin: 10px 0;
    height: 50px;
    position: relative;
  }
  
  .Sidemenu--isFocus::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: var(--colour-lineSelected);
    opacity: 0;
    text-decoration: none;
  }
  
  .Sidemenu--isSelected::after {
    opacity: 0.8;
  }

  .Sidemenu-icon--item{
    display: inline-block;
  }
  
  .Sidemenu-icon--item,
  .Sidemenu-title--item{
    font-size: 14px;
    vertical-align: middle;
    overflow: hidden;
    display: inline-block;
    color: inherit;
    text-decoration: none;
    font-size: 15px;
    font-weight: 700;
    font-family: 'Nunito Sans', sans-serif;
    letter-spacing: 4px;  }
  
  .Sidemenu-a{
    display: block;
  }
  
  .Sidemenu-a:hover{
    background: var(--hovercolor);
    border-radius: 7px;
    transition: all 0.5s ease;
    text-decoration: none;
  }
  
  
  .Sidemenu-icon--item {
    box-sizing: border-box;
    padding: var(--padding);
    width: var(--size-width-sidemenu-collapsed);
  }
  
  .Sidemenu-title--item {
    padding: var(--padding) 0;
  }
  
  .Sidemenu-separator{
    height: 1px;
    border-bottom: solid 1px var(--hovercolor);
    margin: 0;
  }
  
  .menu-expanded{
    display: block;
    top: var(--size-height-navBar);
  }


  .menu-expanded .Sidemenu-title--item span{
    color: inherit;
    opacity: 1;
  }

  .menu-expanded .Sidemenu--isSelected{
    border-right: 5px solid var(--colour-lineSelected);
    background-color: var(--colour-button-successHigh);
    border-radius: 5px;
  }

  .menu-expanded .Sidemenu--isFocus::after,
  .menu-expanded .Sidemenu--isSelected::after{
    opacity: 0;
  }

  .menu-expanded .Sidemenu-item{
    padding: 0 20px;
    margin: 10px 0;
    text-align: left;
  }

  .menu-expanded .Sidemenu-separator{
    margin: 0;
    padding: 0;
  }
  
  .menu-expanded .Sidemenu-name--profile{
    width: 100%;
  }
  
  .menu-collapsed{
    visibility:hidden;
    width: var(--size-width-sidemenu-collapsed);
    overflow-y: auto;
    overflow: auto;
  }
  
  .menu-collapsed .Sidemenu-name--profile{
    display: none;
  }
  
  .menu-collapsed .Sidemenu-item{
    width: 100%;
  }

  .menu-collapsed .Sidemenu-title--item{
    display: none;
  }

  @media (max-width: 950px){
    .Aside .Sidemenu {
      display: none;
      width: 0;
      height: 0;
    }

    .Main{
      width: 100%;
      display: flex;
      justify-content: center;
      flex-flow: column wrap;
      align-items: center;
    }
  }