/* TODO CONTENEDOR DE LOGIN*/
.Singup {
    margin: calc(var(--Margin-top-forms) + 2em) auto;
    width: 60%;
    border-radius: var(--Radius);
    background-color: var(--Color-texto-blanco);
    box-shadow: var(--Box-shadow-forms);
}

.Register {
    width: 100%;
    height: auto;
    font-size: 1em;
    font-family: var(--Font-family-principal);
    color: var(--Color-texto-negro);
    padding: 2em;
}

.Register-content {
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
}

.Register-title {
    width: 80%;
    font-size: 1.5em;
    font-weight: 600;
    letter-spacing: 2px;
    text-align: start;
    color: var(--Color-texto-negro);
    margin: 1em;
    position: relative;
}

.Register-title::before {
    content: '';
    left: 0x;
    bottom: -5px;
    height: 0.1875em;
    width: 2em;
    background: var(--Color-Selected);
    position: absolute;
}

.Input-boxes {
    width: 70%;
    margin: 1em 0;
}

.Box {
    height: 3.75em;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2em 0 .5em;
}

.Box-i {
    color: var(--Color-texto-negro);
    font-size: 1em;
    cursor: pointer;
}

.Animation {
    width: 100%;
    height: 100%;
    margin: 0 1em;
    text-align: center;
    position: relative;
}

.Animation-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-family: inherit;
    font-size: 1.2em;
    color: var(--Color-texto-negro);
    border-radius: var(--Radius);
    padding: 0 1em;
    border-bottom: 3px solid var(--Color-outline);
    outline: none;
    transition: all 0.3s ease;
}

.Animation-label {
    width: auto;
    position: absolute;
    top: calc(50% - .7em);
    left: 1em;
    cursor: text;
    letter-spacing: .2em;
    color: var(--Color-texto-negro);
    transition-property: top, font-size, color, background-color, border-radius, padding, left, width;
    transition-duration: .5s;
    transition-timing-function: ease;
}

.Animation-input:focus~.Animation-label,
.Animation-input:not(:placeholder-shown).Animation-input:not(:focus)~.Animation-label {
    top: -1.2em;
    font-size: .7em;
    color: var(--Color-texto-blanco);
    background-color: var(--Color-texto-negro);
    border-radius: var(--Radius);
    padding: .1em 2em;
    text-align: start;
}

.Animation-input:is(:focus, :valid) {
    outline: .1em solid var(--Color-outline);
    border-bottom: 3px solid var(--Color-Selected);
    box-shadow: var(--Box-shadow-input);
}

.Input-error {
    text-align: start;
    width: 100%;
    height: 1.25em;
    position: relative;
    display: none;
}

.Error-p {
    padding: 0;
    margin: 0 2em;
}

.errorActivo {
    display: block;
    color: var(--Color-invalid);
}

/* TODO Pertenece al REGISTRO */
.Input-select {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin: 1em 0;
}

.Select-label {
    font-size: inherit;
    text-align: center;
    padding: 10px;
    margin: 0;
    width: 100%;
    font-weight: 700;
    font-family: var(--Font-family-principal);
    letter-spacing: 2px;
}

.Select-rol {
    background: #FCE38A;
    border-radius: var(--Radius);
    text-align: center;
    padding: 1em;
    width: 50%;
    color: var(--Color-texto-negro);
    letter-spacing: 5px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.Select-rol:hover {
    background-color: #FCE38A;
    box-shadow: 0px 2px 8px var(--Color-Selected), -0px -2px 8px var(--Color-Selected)
}

.Select-rol:focus {
    outline: none;
}

.Select-option {
    color: var(--Color-texto-negro);
    background-color: var(--Color-texto-blanco);
    cursor: pointer;

}

.Input-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: auto;
    margin: 1.5em 0;
}

.Button-cancel,
.Button-accept {
    width: 100%;
    border: 1px solid var(--Color-outline);
    border-radius: var(--Radius);
    font-size: var(--Size-font-button);
    font-weight: 700;
    font-family: inherit;
    letter-spacing: var(--Letter-spacing);
    text-align: center;
    padding: 1em;
    background-color: var(--Success);
    transition-property: color, box-shadow, border, transform;
    transition-duration: .5s;
    transition-timing-function: ease;
    color: var(--Brown);
    margin: 1em 2em;
    text-transform: uppercase;
}

.Button-cancel {
    background-color: var(--Unsuccess);
    color: var(--Color-texto-blanco);
}

.Button-cancel:hover {
    color: var(--Success);
    box-shadow: var(--Box-shadow-button-success);
    border: 1px solid var(--Color-outline-blanco);
    transform: scale(1.05);
}

.Button-cancel:active {
    transform: scale(1.2);
}

.Button-accept:hover {
    color: var(--Color-texto-negro);
    box-shadow: var(--Box-shadow-button);
    border: 1px solid var(--Color-outline-blanco);
    transform: scale(1.05);
}

.Button-accept:active {
    transform: scale(1.2);
}

@media all and (max-width: 950px) {

    .Singup {
        margin: var(--Margin-top-forms) 0;
        width: 80%;
    }

    .Register-title {
        width: 100%;
    }

    /* TODO Reggistros */
    .Register-content {
        width: 100%;
        margin: 0;
    }

    .Input-boxes {
        width: 90%;
        margin: 0;
    }
}

@media all and (max-width: 550px) {

    .Singup {
        width: 90%;
        margin: var(--Margin-top-forms) auto;
    }

    .Register {
        padding: 1em;
    }

    .Input-boxes {
        width: 90%;
        margin: 0;
    }

    .Animation-label {
        letter-spacing: .1em;
        font-size: .9em;
        left: 0;
    }

    .Animation-input:focus~.Animation-label,
    .Animation-input:not(:placeholder-shown).Animation-input:not(:focus)~.Animation-label {
        font-size: .6em;
        left: 1em;
        width: 90%;
    }

    .Select-rol {
        width: 100%;
    }

    .Button-cancel,
    .Button-accept {
        width: 100%;
        margin: 1em 0.5em;
    }
}