@import url('//fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root {
  --background-forms: #474668;
  --bg-scope-table: #013d55;
  --color-text-forms: white;
  --color-bg-th-table: #f1ed9bc9;
  --color-text-th-table: #000000;
  --color-sub-text: rgb(117, 117, 117);
  --color-txt-btn: rgba(0, 0, 0, 0.89);
  --color-border: rgb(67, 61, 150);
  --size-txt-welcome: 15px;
  --width-collapsed: 50px;
  --color-background-shadow-botton: #18191abe;
  --color-background-shadow-top: #4578d6cc;
  --size-border-radius: 10px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins';
  font-size: 20px;
  margin: 0;
  padding: 0;
}

h2,
h1 {
  margin: 0;
  padding: 0;
}

/* MAIN.HBS, contiene el contenido de la WEB*/
.main-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* background-color: #013d55; */
}

.sidemenu {
  background-color: rgb(230, 230, 46);
  padding: 20px;
  margin: 0px;
}

.main-container .alert{
  /* margin-top: 100px; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-right: 25px;;
}

.main-container .alert .alert-headers{
  width: 100%;
}

.main-container .alert hr{
  width: 100%;
}

.main-container .index-container {
  padding: 20px;
  margin-top: 100px;
  font-family: 'Poppins';
  font-size: 18px;
  color: var(--color-text-forms);
  border-radius: var(--size-border-radius);
  background-color: var(--background-forms);
  background-image: url('../img/index.jpg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 400px;
  width: 70%;
  max-width: 70%;
  box-shadow: 5px 5px 10px var(--color-background-shadow-botton), -4px -4px 5px var(--color-background-shadow-top);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main-container .index-container .btn-index {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}


.main-container .index-container div a {
  border-style: solid;
  border-color: aquamarine;
  border-width: 1px;
  color: #ffffff;
  background-color: var(--background-forms);;
  transition: all 0.3s ease;
}

.main-container .index-container div a:hover {
  color: #000000;
  box-shadow: 1px 1px 5px aquamarine, -1px -1px 5px aquamarine;
  background-color: #99ce62;
}

/*  FORM REGISTER */
/* Estilos boton CANCELAR*/
.btn-cancel{
  width: 50%;
  padding: 15px;
  background-color: #9CA3AF;
  border: 0;
  box-sizing: border-box;
  cursor: pointer;
  font-weight: bold;
  font-size:medium;
  color: #ffffff;
  text-align: center;
  margin-top: 20px;
  /* Para dar la apariencia de un boton */
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  text-decoration: none;  
}
.btn-cancel:hover,.btn-cancel:active{
  color:#fff;
  background-color: #6B7280;
  border-color:#6B7280
;
}
.btn-cancel:focus{
  box-shadow:0 0 0 3px #6B7280;
}

/* Estilos boton GUARDAR*/
.btn-save{
  width: 50%;
  padding: 15px;
  background-color: #1D4ED8;
  border: 0;
  box-sizing: border-box;
  cursor: pointer;
  font-weight: bold;
  font-size:medium;
  color: #ffffff;
  margin-top: 20px;
  /* Para dar la apariencia de un boton */
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  text-decoration: none;  
}
.btn-save:hover,.btn-save:active{
  color:#fff;
  background-color: #1E3A8A;
  border-color:#1E3A8A;
}
.btn-save:focus{
  box-shadow:0 0 0 3px #1E3A8A;
}

/* form User Registration */
.register-form{
  width: 400px;
  margin-top: 100px;
  padding: 0px 20px 60px 20px;
  font-family: roboto;  
  text-align: left !important;
 box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22); 
}

.register-form h1 {
  text-align: left;
  color:midnightblue ;
  font-size: 22px;
  padding: 70px 0 10px 0;
}
.register-form input[type="password"],
.register-form input[type="email"],
.register-form input[type="text"] {
  width: 100%;
  padding: 15px;
  border: 1px solid #ced4da;
  margin-bottom: 10px;
  box-sizing:border-box;
}

footer {
  padding-top: 20px;
  margin-left: 30px;
  margin-right: 30px;
  text-align: center;
}

/* CONTENEDOR DE LOGIN*/
.login-container {
  position: relative;
  margin-top: 100px;
  max-width: 70%;
  width: 70%;
  /* height: 400px; */
  background-color: #ffffff;
  padding: 40px 30px;
  border-radius: var(--size-border-radius);
  box-shadow: 5px 5px 10px var(--color-background-shadow-botton), -4px -4px 5px var(--color-background-shadow-top);
  perspective: 2700px;
}

.login-container .cover {
  position: absolute;
  top: 0;
  left: 50%;
  border-radius: var(--size-border-radius);
  box-shadow: 5px 5px 10px var(--color-background-shadow-botton), -4px -4px 5px var(--color-background-shadow-top);
  height: 100%;
  width: 50%;
  z-index: 98;
  transition: all 1s ease;
  transform-origin: left;
  transform-style: preserve-3d;
}

.login-container .cover::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: var(--size-border-radius);
  box-shadow: 5px 5px 10px var(--color-background-shadow-botton), -4px -4px 5px var(--color-background-shadow-top);
  background: var(--background-forms);
  opacity: 0.5;
  z-index: 100;
}

.login-container .cover::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: var(--size-border-radius);
  box-shadow: 5px 5px 10px var(--color-background-shadow-botton), -4px -4px 5px var(--color-background-shadow-top);
  background: var(--background-forms);
  opacity: 0.5;
  z-index: 100;
  transform: rotateY(180deg);
}

.login-container #flip:checked ~ .cover {
  transform: rotateY(-180deg);
}

.login-container .cover img {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: var(--size-border-radius);
  z-index: 12;
  backface-visibility: hidden;
}

.login-container .cover .back .backImg {
  transform: rotateY(180deg);
}

.login-container .cover .text{
  position: absolute;
  z-index: 111;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cover .text .text-1,
.cover .text .text-2{
  font-size: 26px;
  font-weight: 600;
  color: #fff;
  text-align: center;
  backface-visibility: hidden;
}

.cover .back .text .text-1,
.cover .back .text .text-2{
  transform: rotateY(180deg);
}

.cover .text .text-2{
  font-size: 15px;
  font-weight: 500;
}

.login-container form {
  height: 100%;
  width: 100%;
  background: #ffffff;
}
.login-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* .login-container .form-content {
  display: flex;
  align-items: center;
  justify-content: start;
}

.login-container .form-content-f {
  display: flex;
  align-items: center;
  justify-content: start;
  position: relative;
} */

.form-content .login-form{
  width: calc(100% / 1 - 25px);
  /* background: red; */
}

.form-content-f .forgot-form{
  margin-left: 25px;
}

.form-content-f form .forgot-form{
  margin-left: 25px;
  margin-right: 25px;
}
form .form-content .title-login,
form .form-content-f .title-forgot {
  position: relative;
  font-size: 24px;
  font-weight: 500;
  color: #333;
}

form .form-content-f .title-forgot::before,
form .form-content .title-login::before {
  content: '';
  position: absolute;
  left: 0px;
  bottom: -5px;
  height: 3px;
  width: 25px;
  background: var(--background-forms);;
}

form .form-content-f .input-boxes,
form .form-content .input-boxes {
  margin-top: 30px;
}

form .form-content-f .input-box,
form .form-content .input-box {
  display: flex;
  align-items: center;
  height: 50px;
  width: 100%;
  margin: 10px 0;
  position: relative;
}

.form-content-f .input-box input,
.form-content .input-box input {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  padding: 0 30px;
  font-size: 16px;
  font-weight: 500;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.form-content-f .input-box input:focus,
.form-content-f .input-box input:valid,
.form-content .input-box input:focus,
.form-content .input-box input:valid {
  border-color: var(--background-forms);;
}

.form-content-f .input-box i,
.form-content .input-box i {
  color: var(--background-forms);;
  font-size: 17p
}

.form-content-f .input-box #icon-eye-new:hover,
.form-content-f .input-box #icon-eye-repeat:hover,
.form-content .input-box #icon-eye:hover {
  cursor: pointer;

}

.form-content-f .input-box #icon-logo,
.form-content .input-box #icon-logo {
  position: absolute;
}

form .form-content-f .text
form .form-content .text {
  font-size: 14px;
  font-weight: 500;
  color: #333;
}

form .form-content-f .text label,
form .form-content .text label {
  text-decoration: none;
}
form .form-content-f .text label:hover,
form .form-content .text label:hover {
  text-decoration: underline;
  cursor: pointer;
}
form .form-content-f .button,
form .form-content .button {
  margin-top: 40px;
  color: #ffffff;
  width: 100%;
  border-radius: 6px;
}

form .form-content-f .button input,
form .form-content .button input {
  border-style: solid;
  border-color: aquamarine;
  border-width: 1px;
  border-radius: 6px;
  padding: 0;
  color: #ffffff;
  background: #3abb78;
  cursor: pointer;
  transition: all 0.3s ease;
}

form .form-content-f .button input:hover,
form .form-content .button input:hover {
  color: #000000;
  box-shadow: 1px 1px 5px aquamarine, -1px -1px 5px aquamarine;
  background-color: #99ce62;
}

/* form .form-content-f .login-text, */
form .form-content-f .sing-up-text,
/* form .form-content .login-text, */
form .form-content .sing-up-text {
  text-align: center;
  margin-top: 25px;
}

.login-container #flip{
  display: none;
}

@media (max-width: 700px) {
  #sidemenu {
    display: none;
  }

  .hamburger {
    display: none;
  }

  .hamburger2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .index-container {
    margin-top: 100px;
    flex-direction: column;
    width: 100%;
  }

  .index-container .btn-index {
    justify-content: center;
    align-items: center;
  }

  footer{
    margin-left: 0;
    margin-right: 0;
  }

  .login-container .cover {
    display: none;
  }

  .login-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  form .form-content .login-form{
    margin-right: 25px;
  }
  form .form-content-f .forgot-form{
    display: none;
  }

  .login-container #flip:checked ~ form .form-content-f .forgot-form{
    display: block;
    width: 100%;
    margin-left: 0;
    margin-right: 25px;
  }

  .login-container #flip:checked ~ form .form-content .login-form{
    display: none;
  }


}

@media (min-width: 700px) {
  .hamburger2 {
    display: none;
  }

}