:root{
  --background-form : #0048CD;
  --color-text-form : white;
}

.jumbotron {
    width: 90%;
    max-width: 90%;
    background: var(--background-form);
    color: var(--color-text-form);
    text-align: center;
    margin: 0 0 0 6em;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.411), 0 15px 12px rgba(0,0,0,0.22); 
  }

  /* PARA REGISTRO Y LOGIN */ 

.base-form{
  width: 400px;
  max-width: auto;
  padding: 00px 20px 60px 20px;
  background: var(--background-form);
  color: var(--color-text-form);
  text-align: center;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.411), 0 15px 12px rgba(0,0,0,0.22); 
}

.base-form h1 {
  text-align: center;
  color: var(--color-text-form);
  font-size: 26px;
  padding: 20px 0;
}
.base-form input[type="email"],
.base-form input[type="password"] {
  width: 100%;
  padding: 20px;
  border-radius: 5px;
  border: 3px solid #8e97ecb4;
  box-sizing:border-box;
}


/* DATA TABLE */
.container .container-fluid{
  overflow: hidden;
}

div.dataTables_wrapper div.dataTables_length label {
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
  color: #5c5700;
  margin-bottom: 10px;
}

div.dataTables_info {
  padding-top: 0.85em;
  white-space: nowrap;
  font-weight: bold;
}

div.dataTables_wrapper div.dataTables_filter label {
    font-weight: normal;
    white-space: nowrap; 
    text-align: left;
    color: #5c5700;
    align-items: center;
  }

  div.dataTables_wrapper input[type="search"]{
    padding: 10px;
    align-items: center;
    border-radius: 3px;
    border: 2px solid #5c5700;
    box-sizing:border-box;  
    margin-bottom: 10px;
  }
