@charset "UTF-8";

/* TODO CSS PARA TABLE */
.Dashboard {
    margin: 3em 0;
    padding: 1em 1.5em;
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
    width: 100%;
    height: 100%;
    font-size: 1em;
    /* font-family: var(--Font-family-principal); */
    overflow: hidden;
}

.Dashboard-a {
    width: max-content;
    text-align: center;
    padding: 1em;
    margin: 1em .5em 1.5em;
    border-radius: var(--Radius);
    background-color: #1746A2;
    color: var(--Color-texto-blanco);;
    font-size: var(--Size-font-button);
    transition: all 0.5s ease;
}

.Dashboard-a:hover {
    text-decoration: none;
    background-color: #5F9DF7;
    color: black;
    transform: translateX(8px);
}

.Dashboard-i {
    margin-right: 10px;
}

.Dashboard-row {
    width: 100%;
    /* height: 25em; */
    height: auto;
    max-height: 100%;
    margin: 0;
    /* overflow: auto; */
}

.Dashboard-head {
    background-color: #222831;
    color: var(--Color-texto-blanco);;
    border: none;
    position: sticky;
    top: 0;
    z-index: 97;
    font-size: .9em;
}

.Dashboard-foot {
    background-color: #222831;
    color: var(--Color-texto-blanco);;
    border: none;
    font-size: .9em;
}

.Dashboard-table {
    width: 100%;
    font-size: .9em;
    text-align: start;
}

.ui.buttons {
    display: flex;
    justify-content: space-between;
}

tbody tr td button,
.ui.buttons button {
    margin: 0 .5em;
    border-radius: var(--Radius) !important;
}

.even {
    background-color: rgba(235, 235, 235, 0.671)
}

/*TODO ✅ PIE DATATABLE STYLE FOR NO dom: ' Bfrtip' */

.small-6 .dataTables_length {
    width: 100%;
    height: 100%;
}

.small-6 .dataTables_length label {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
}

.small-6 .dataTables_length label select {
    color: var(--Color-texto-negro);
    border: 2px solid var(--Color-outline);
    border-radius: var(--Radius);
    margin: 0 1em;
}

.small-6 .dataTables_filter {
    width: 100% !important;
    height: 100%;
}

.small-6 .dataTables_filter label {
    text-align: center !important;
}

.small-6 {
    padding: 1em;
}

.small-6 .dataTables_paginate {
    margin: 1em 0 !important;
}

/* TODO ✅ DATATABLE STYLE FOR dom: ' Bfrtip' */
div.dt-buttons {
    /* width: 50%; */
    float: left;
    margin: 0;
}

div.dt-buttons .dt-button {
    font-size: var(--Size-font-button);
}

div.dataTables_wrapper div.dataTables_filter {
    float: right;
    width: 50%;
    margin: 1em 0 2em;
}

div.dataTables_wrapper div.dataTables_filter label {
    text-align: right;
    padding: 0;
    margin: 0;
    width: 100%;
}

div.dataTables_wrapper div.dataTables_filter input {
    width: 70% !important;
    border: solid 1px var(--Color-outline);
    font-size: 1.2em;
}

/*TODO ✅ DATATABLE STYLE FOR dom: ' Bfrtip' >>> PIE DE TABLE */
div.dataTables_wrapper div.dataTables_info {
    text-align: start;
    font-weight: 600;
    margin: 1em 0;
    padding: 0;
}

/*TODO ✅ ESTILOS APRA BUTTONS */
.dt-buttons .dt-button {
    background-image: linear-gradient(to right, #383838 0%, #5a5a5a 51%, #383838 100%) !important;
    margin: 0 0.5em;
    padding: 0.5em;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: var(--Color-texto-blanco);
    box-shadow: 0 0 20px var(--Color-texto-blanco);;
    border-radius: var(--Radius);
    display: block;
}

.dt-buttons .dt-button:hover {
    background-position: right center;
    color: var(--Color-texto-blanco);;
    text-decoration: none;
}

div.button-group.stacked.dropdown-pane a.button {
    margin: 1em 0;
    width: 100%;
}

.dt-buttons .dt-button.buttonCopy {
    background-image: none !important;
    border-radius: var(--Radius);
    background-color: #2B3A55;
    color: #E8C4C4;
    transform: all 5s ease;
}

.dt-buttons .dt-button.buttonCopy:hover {
    background-color: #2B3A55;
    color: #00ABB3;
}

.dt-buttons .dt-button.buttonCsv {
    background-image: none !important;
    border-radius: var(--Radius);
    background-color: #A2B5BB;
    color: #2B3A55;
    transform: all 5s ease;
}

.dt-buttons .dt-button.buttonCsv:hover {
    background-color: #A2B5BB;
    color: #205375;
}

.dt-buttons .dt-button.buttonExcel {
    background-image: none !important;
    border-radius: var(--Radius);
    background-color: #68B984;
    color: #CFFDE1;
    transform: all 5s ease;
}

.dt-buttons .dt-button.buttonExcel:hover {
    background-color: #68B984;
    color: #FED049;
}

.dt-buttons .dt-button.buttonPdf {
    background-image: none !important;
    border-radius: var(--Radius);
    background-color: #CF0A0A;
    color: #EEEEEE;
    transform: all 5s ease;
}

.dt-buttons .dt-button.buttonPdf:hover {
    background-color: #CF0A0A;
    color: #DC5F00;
}

.dt-buttons .dt-button.buttonPrint {
    background-image: none !important;
    border-radius: var(--Radius);
    background-color: #3C4048;
    color: #EEEEEE;
    margin-bottom: 1.5em;
    transform: all 5s ease;
}

.dt-buttons .dt-button.buttonPrint:hover {
    background-color: #3C4048;
    color: #CF0A0A;
}

/*TODO ✅ ESTILO PARA LA COLLECTIONS */
div.dt-button-collection {
    width: auto;
}

div.dt-button-collection .button-page-length,
div.dt-button-collection .buttons-columnVisibility {
    background-image: none !important;
    color: #3C4048;
    border-radius: var(--Radius);
}

div.dt-button-collection .button-page-length:hover,
div.dt-button-collection .buttons-columnVisibility:hover {
    background-image: none !important;
    background-color: #FED049;
    color: #3D5656;
}

div.dt-button-collection .active {
    background-image: none !important;
    background-color: #395B64 !important;
    color: #eee !important;
}

div.dt-button-collection .active:hover {
    color: #B2B2B2 !important;
}

.select-info {
    color: #1746A2;
}

.Links {
    color: #007185;
    font-size: 1em;
    border-radius:3px;
    padding:0 2px;
}

.Links:hover {
    cursor: pointer;
    color: #C7511F;
    text-decoration: underline;
}

.Linked {
    color: #001253;
    font-size: 1em;
    border-radius:3px;
    padding:0 2px;
}

.Linked:hover {
    cursor: pointer;
    color: #820000;
    text-decoration: underline;
}

/*START*/
.Review-on {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 0 2em;
    width: fit-content;
    height: auto;
    margin: 0;
}

.Review-data {
    width: 200px;
    height: auto;
    word-break: break-word;
    white-space: pre-wrap;
    -moz-white-space: pre-wrap;
}

.stars-outer {
    display: inline-block;
    position: relative;
    font-family: FontAwesome;
}

.stars-outer::before {
    content: "\f006 \f006 \f006 \f006 \f006";
}

.stars-inner {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
}

.stars-inner::before {
    content: "\f005 \f005 \f005 \f005 \f005";
    color: gold;
}

@media screen and (max-width: 980px) {

    .Dashboard {
        padding: 0 1em;
        overflow: hidden;
    }

    .Dashboard-a {
        margin-top: 2em;
    }
}

@media screen and (max-width: 950px) {
    .Dashboard-a {
        margin-top: 4em;
    }

    /*TODO ✅ PIE DATATABLE STYLE FOR NO dom: ' Bfrtip' */

    .dataTables_wrapper .row .dataTables_filter label {
        text-align: start;
    }

    .dataTables_wrapper .row .dataTables_filter input {
        width: 100%;
    }



    div.dataTables_wrapper div.dataTables_filter {
        width: 100%;
    }

}

@media screen and (max-width: 550px) {
    div.dt-buttons {
        width: 100%;
        display: table-row-group;
    }

    div.dt-buttons .dt-button {
        margin: 1em 0;
    }

    .grid-x>.small-6 {
        width: 100%;
    }

    .badge {
        margin: .5em;
    }

    .dtr-data {
        display: flex;
        flex-direction: column;
    }

    .btn {
        margin: .5em;
    }
}

table.dataTable.stripe>tbody>tr.odd.selected>*,
table.dataTable.display>tbody>tr.odd.selected>* {
    box-shadow: inset 0 0 0 9999px #5A8F7B;
}

table.dataTable.stripe>tbody>tr.even.selected>*,
table.dataTable.display>tbody>tr.even.selected>* {
    box-shadow: inset 0 0 0 9999px #5A8F7B;
}

table.dataTable.hover>tbody>tr.selected:hover>*,
table.dataTable.display>tbody>tr.selected:hover>* {
    box-shadow: inset 0 0 0 9999px #81CACF;
    color: var(--Color-texto-negro);
}