@import url('https://fonts.googleapis.com/css2?family=DynaPuff&family=Montserrat:wght@400;500;600;700&family=Nunito+Sans:wght@400;600;700&family=Oswald:wght@400;700&family=Open+Sans:wght@300;400&family=Poppins&family=Roboto:wght@400;500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400&display=swap');

:root {

  --negro: #393939;
  --blanco: #fff;
  --sombra-ppal: #c9c9c9;
  --sombra-sec: #00000050;
  --borde-negro: #00000050;
  --marcado: rgb(127, 195, 255);
  /* Tipografía */
  --tipo-principal: Helvetica, Arial, sans-serif;
  /* ALL */
  --Max-width: 1600px;
  --font-size: 2em; 

  
  --box-shadow-buttons-success: 0px 2px 8px var(--colour-button-success), -0px -2px 8px var(--Brown);
  --box-shadow-buttons-unsuccess: 0px 2px 8px var(--Unsuccess), -0px -2px 8px var(--Brown);
  --Radius-button: 8px;
  --size-font-menu-button: 1em;
  --size-font-menu-button__mv: 1em;

  /* VALIDAS */
  --Margin-top-forms: calc(var(--size-height-navBar) + 20px);
  --Radius: 8px;
  --Width-forms: 90%;
  --Color-legend: var(--blanco);
  --Font-family-legend: 'Oswald', sans-serif;
  --Background-Color-forms-admin: #A10035;
  --Background-Color-forms-partner: #cea135;
  --Background-Color-forms-book: rgb(58, 76, 156);
  --Background-Color-forms-booking: rgb(124, 25, 108);
  --Heigth-forms: 600px;
  --Box-shadow: 0.3em 0.3em 0.6em var(--sombra-ppal), -0.3em -0.3em 0.6em var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
  --Success: #76BA99;
  --SuccessHigh: #6de9ad48;
  --Unsuccess: #C21010;
  --Size-font-button: 1em;
  --Brown: #876445;



  --Background-Color-forms-admin-head: #222222;
  --color-forms-admin-head: #000000;
  --Background-Color-forms-book-head: rgb(58, 76, 156);
  --color-forms-book-head: #ffffff;
  --Background-Color-forms-booking-head: rgb(124, 25, 108);
  --color-forms-booking-head: 3ffffff;
  --Background-Color-forms-partner-head: rgb(206, 157, 22);
  --color-forms-partner-head: #ffffff;
  --color-forms-booking: #ffffff;
  --color-forms-book: #ffffff;
  --color-forms-partner: #ffffff;
  --color-forms-admin: #ffffff;
  --Background-Color-forms: #f6f0e6;
  --Color-forms: rgb(0, 0, 0);
  --width-auth-forms: 80%;
  --width-singin-forms: 80%;
  --margin-forms: 30px 30px;
  

  /* BODY */
  --letra-principal: 'Karla', sans-serif;
  --negro: #393939;


  /* NAVIGATION */
  --Color-logo: #000;
  --Color-sideMenu: #000;
  --size-height-navBar: 80px;
  --size-element: calc(var(--size-height-navBar) - 20px);
  --Color-Selected: #dbcf20;
  --Font-family-menu: 'Nunito Sans', sans-serif;
  --size-font-menu: 2em;
  --size-font-menu__mv: 1.5em;

  --background-menu: var(--Background-Color-forms);

  /* SIDEMENU */
  --size-width-sidemenu: 280px;
  --size-width-sidemenu-collapsed: 60px;

  /* FORM AUTH*/
  --size-height-box: 60px;
  --size-font-icon: 17px;
  --duraction-animations: 1s;



  /* ------------------------------------------------------------------------------------------------ */
  /* ------------------------------------------------------------------------------------------------ */
  --bg-scope-table: #013d55;
  --color-bg-th-table: #f1ed9bc9;
  --color-text-th-table: #000000;
  --color-sub-text: rgb(117, 117, 117);
  --color-txt-btn: rgba(0, 0, 0, 0.89);
  --color-border: rgb(67, 61, 150);
  --size-txt-welcome: 15px;
  --color-background-shadow-botton: #18191abe;
  /* COLORES EMCABEZADO FIELSET */


  /* COLORES PARA SOMNRA SUPERIOR */
  --color-background-shadow-top: #18191abe;
  --color-background-shadow-top-admin: var(--Background-Color-forms-admin-head);
  --color-background-shadow-top-book: var(--Background-Color-forms-admin-head);
  --color-background-shadow-top-partner: var(--Background-Color-forms-admin-head);
  --color-background-shadow-top-booking: var(--Background-Color-forms-admin-head);

  /* RADIUS BORDER */
  --size-border-radius-fieldset: 5px;
  --size-border-radius-cards: 5px;
  --size-border-radius-cards-head: 5px;
  --size-border-radius-menu: 8px;


  /* FUENTES */

  /* MARGENES */

  --padding: 10px;
  --hovercolor: rgba(99, 99, 99, 0.836);
}

@media (prefers-color-scheme: dark) {
  :root {
    --negro: #ececec;
    --blanco: #303030;
    --sombra-ppal: #242424;
    --sombra-sec: #3c3c3c;
    --borde-negro: #FFFFFF50;
  }
}


/* // Animation */
@keyframes text-anim {
  0% {
    opacity: 0;
    transform: translateX(-30%);
  }
}


@keyframes img-anim {
  0% {
    opacity: 0;
    transform: translateX(30%);
  }
}

@keyframes down {
  0% {
    opacity: 1;
    transform: translateY(-30%);
  }
}

@keyframes up {
  0% {
    opacity: 1;
    transform: translateY(30%);
  }
}