@import url("table.css");

.Workspace-container {
  margin: var(--Margin-top-forms) auto 4em;
  width: 100%;
  padding: 0 1em;
}

.Workspace-fieldset {
  width: 100%;
  height: auto;
  border: 1px solid var(--Background-Color-forms-admin);
  margin-top: 12em;
  position: relative;
  border-radius: var(--Radius);
  background-color: var(--Color-texto-blanco);
  box-shadow: var(--Box-shadow-forms);
}

.Workspace-legend {
  width: 90%;
  border-radius: var(--Radius);
  padding: .5em 1em;
  color: var(--Color-legend);
  font-family: var(--Font-family-legend);
  font-weight: 400;
  letter-spacing: 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: row wrap;
  position: absolute;
  top: calc(0% - 2.5em);
  left: 5%;
}

.isColorAdmin {
  background: var(--Background-Color-forms-admin);
}

.isColorBook {
  background: var(--Background-Color-forms-book);
}

.isColorBooking {
  background: var(--Background-Color-forms-booking);
}

.isColorPartner {
  background: var(--Background-Color-forms-partner);
}

.Workspace-span {
  font-weight: 600;
}

.Username {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  /* padding: 10px; */
}

.Username-greeting {
  font-weight: 200;
  margin: 10px;
}

.Username-name {
  font-weight: 200;
  background: #057050;
  padding: .5em;
  color: #C1D5A4;
  border-radius: var(--Radius);
  margin: .5em;
  text-transform: uppercase;
}

/* TODO Cargando */
#spinner {
  margin: 30px 0;
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid black;
  border-color: black transparent black transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

/* TODO LOADIN */
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media all and (max-width: 500px) {
  .Workspace-fieldset {
    padding: 0;
  }

  .Workspace-legend {
    justify-content: center;
  }

  .Username {
    font-size: 0.75em;
  }

}