<div class="Workspace-container" id="statePartners">
  {{> messages}}
  <fieldset class="Workspace-fieldset">
    <legend class="Workspace-legend colorPartner" id="lengedWorkspace">
      <span class="Workspace-span">Partner Dashboard</span>
      {{#if loggedIn}}
      <div class="Workspace-Username">
        <span class="Workspace-Username-greeting">Hi, Welcome </span>
        <span id="tipName" class="Workspace-Username-name">{{userName}}</span>
      </div>
      {{/if}}
    </legend>
    {{> partners }}
  </fieldset>
</div>

