<div class="Partner-container" id="statePartner">
  <fieldset class="Partner-fieldset">
    <legend class="Partner-legend" id="lengedPartner">
      <span class="Partner-span">Partner Dashboard</span>
      {{#if login}}
      <div class="Partner-Username">
        <span class="Partner-Username-greeting">Hi, Welcome </span>
        <span id="tipName" class="Partner-Username-name">{{nameUser}}</span>
      </div>
      {{/if}}
    </legend>
      {{!-- {{> partners }} --}}
  </fieldset>