<div class="Workspace-container" id="stateBookings">
    {{> messages}}
  <fieldset class="Workspace-fieldset">
    <legend class="Workspace-legend colorBooking" id="lengedWorkspace">
      <span class="Workspace-span">Booking Dashboard</span>
      {{#if loggedIn}}
      <div class="Workspace-Username">
        <span class="Workspace-Username-greeting">Hi, Welcome </span>
        <span id="tipName" class="Workspace-Username-name">{{userName}}</span>
      </div>
      {{/if}}
    </legend>
      {{> bookings }}
  </fieldset>
</div>
{{!-- <link rel="stylesheet" href="../style/admin.css"> --}}

<script>
  $(document).ready(function () {
    $('#tableBooking').DataTable({
      responsive: true,
      lengthMenu: [[5, 10, 15, 25, 50, -1], [5, 10, 15, 25, 50, "All"]],
      pageLength: 15,
      //"pagingType": "simple_numbers"
    });
  });
</script>