<div class="Workspace-container" id="statePartners">
  {{> messages}}
  <fieldset class="Workspace-fieldset">
    <legend class="Workspace-legend isColorPartner" id="lengedWorkspace">
      <span class="Workspace-span">Partner Dashboard</span>
      {{#if loggedIn}}
      <div class="Workspace-Username Username">
        <span class="Username-greeting">Hi, Welcome </span>
        <span class="Username-name" id="tipName">{{userName}}</span>
      </div>
      {{/if}}
    </legend>
    {{> partners }}
  </fieldset>
</div>

<link rel="stylesheet" href="/style/workspace.css">