<div class="Admin-container" id="stateBooks">
  <fieldset class="Admin-fieldset">
    <legend class="Admin-legend colorBook" id="lengedAdmin">
      <span class="Admin-span">Book Dashboard</span>
      {{#if loggedIn}}
      <div class="Admin-Username">
        <span class="Admin-Username-greeting">Hi, Welcome </span>
        <span id="tipName" class="Admin-Username-name">{{userName}}</span>
      </div>
      {{/if}}
    </legend>
      {{> books }}
  </fieldset>
</div>
<link rel="stylesheet" href="../style/admin.css">

<script>
  $(document).ready(function () {
    $('#example').DataTable({
      responsive: true,
      lengthMenu: [[5, 10, 15, 25, 50, -1], [5, 10, 15, 25, 50, "All"]],
      pageLength: 15,
      //"pagingType": "simple_numbers"
    });
  });
</script>