<body>
  <div class="index-container">
    <fieldset>
      <legend id="lengedBooking">
        <div><span id="tipWelcome">Welcome</span><span id="tipName" class="badge badge-success">{{nuevoUser}}</span>
        </div>
      </legend>
      <div class="row">
        <div class="col">
          <h1>{{ msg }}</h1>
        </div>
      </div>
    </fieldset>
  </div>
  </body>