<link rel="stylesheet" href="/style/workspace.min.css">

<div class="Workspace-container" id="stateBookings">
  <fieldset class="Workspace-fieldset">
    <legend class="Workspace-legend isColorBooking" id="lengedWorkspace">
      <span class="Workspace-span">Booking Dashboard</span>
      {{#if loggedIn}}
      <div class="Workspace-Username Username">
        <span class="Username-greeting">Hi, Welcome </span>
        <span class="Username-name" id="tipName">{{userName}}</span>
      </div>
      {{/if}}
    </legend>
    {{> bookings }}
  </fieldset>
</div>
