
<div class="Admin-container" id="stateAdmin">
  <fieldset class="Admin-fieldset">
    <legend class="Admin-legend" id="lengedAdmin">
      <span class="Admin-span">Admin Dashboard</span>
      {{#if login}}
      <div class="Admin-Username">
        <span class="Admin-Username-greeting">Hi, Welcome </span>
        <span id="tipName" class="Admin-Username-name">{{nameUser}}</span>
      </div>
      {{/if}}
    </legend>
    {{#if existData}}
      {{> admin }}
    {{else}}  
      <h1 style="color: #000;">No hay data</h1>
    {{/if}}
  </fieldset>
</div>
  <link rel="stylesheet" href="../style/admin.css">
