<body>
  <div class="admin-container">
    <fieldset>
      <legend id="lengedAdmin">
        <div class="titleField">
          <span>Admin Dashboard</span>
        </div>
        {{#if login}}
        <div class="nameUser">
          <span>Hi, Welcome </span>
          <span id="tipName" class="badge badge-success">{{nameUser}}</span>
        </div>
        {{/if}}
      </legend>
      {{> admin }}
    </fieldset>
    <script>
     // const cardDetails = document.querySelectorAll(".card-details");
 // const card = document.querySelectorAll(".cards")


 // function enterUser(comp) {
  //  let id = comp.id;
   // for (var i = 0; i < card.length; i++) {
   //   var item = card[i];
    //  if (item.id == id) {
        //  (`#card-button${item.id}`).fadeIn(2000);

        //console.log(cardDetails);
        // $('.cards').fadeIn(1000, function() {
        ///  $(`#card-button${item.id}`).fadeIn(1000);
        // });

     //   return;
     // }
   // }
 // }

//  function leaveUser(comp) {
  //  let id = comp.id;
   // for (var i = 0; i < card.length; i++) {
    //  var item = card[i];
    //  if (item.id == id) {
        //$(`#card-button${item.id}`).fadeOut(1000);
        //$(`#card-button${item.id}`).fadeOut(700);
    //    return;
   //   }
   // }
  //}
    </script>
</body>