<div class="Workspace-container" id="stateWorkspace">
      {{> messages}}
<fieldset class="Workspace-fieldset">
    <legend class="Workspace-legend" id="lengedWorkspace">
      <span class="Workspace-span">Workspace Dashboard</span>
      {{#if loggedIn}}
      <div class="Workspace-Username">
        <span class="Workspace-Username-greeting">Hi, Welcome </span>
        <span id="tipName" class="Workspace-Username-name">{{userName}}</span>
      </div>
      {{/if}}
    </legend>
      {{> admin }}
  </fieldset>
</div>
{{!-- <link rel="stylesheet" href="../style/admin.css"> --}}
