<div class="Booking-container" id="stateBookings">
  <fieldset class="Booking-fieldset">
    <legend class="Booking-legend" id="lengedBooking">
      <span class="Booking-span">Booking Dashboard</span>
      {{#if login}}
      <div class="Booking-Username">
        <span class="Booking-Username-greeting">Hi, Welcome </span>
        <span id="tipName" class="Booking-Username-name">{{nameUser}}</span>
      </div>
      {{/if}}
    </legend>
  </fieldset>
</div>
<link rel="stylesheet" href="../style/bookings.css">
