<body>
  <div class="container" id="container-form">
    <fieldset>
      <legend id="lengedPartner">
        <span class="titlePartner">Partners</span>
        {{#if nameUser}}
        <div><span id="tipWelcome">Welcome</span><span id="tipName" class="badge badge-success">{{nameUser}}</span>
        </div>
        {{/if}}
      </legend>
      <div class="row">
        <div class="col">
          {{> partners}}
        </div>
      </div>
    </fieldset>
  </div>

  <script>
    // MOSTRAR DATOS
    $(document).ready(function () {
      var tabla = $("#table-partners").DataTable({
        'searching': true,
        'ordering': true,
        'info': true,
        'responsive': true,
        "scrollCollapse": true,
        "order": [[0, "desc"]],
        "lengthMenu": [[5, 10, 15, 25, 50, -1], [5, 10, 15, 25, 50, "All"]],
        "pageLength": 5,
        'ajax': '/api/partners',
        columns: [
          { data: 'id_partner' },
          { data: 'dni' },
          { data: 'nombre' },
          { data: 'apellidos' },
          { data: 'direccion' },
          { data: 'telefono' },
          { data: 'email' },
          {
            defaultContent: `
                    <div class="ui buttons">
                      <button id="btnEditPartner" type="button"  class="btn btn-outline-info" data-toggle="modal" data-target="#modalPARTNER" title="Edit partner"><i class="fa-regular fa-pen-to-square"></i></button>
                      <div class="or" data-text="or">                          
                    </div>
                      <button id="btnDeleteBook" class="btn btn-outline-danger" title="Delete book"><i class="fa-solid fa-trash-can"></i></button>
                    </div>`
          }
        ]
      });
    });
    //EDITAR        
    $(document).on("click", "#btnEditPartner", function () {
      opcion = 'edit';
      fila = $(this).closest("tr");
      id_partner = fila.find('td:eq(0)').text();
      dni = fila.find('td:eq(1)').text();
      firtname = fila.find('td:eq(2)').text();
      lastname = fila.find('td:eq(3)').text();
      direction = fila.find('td:eq(4)').text();
      phone = fila.find('td:eq(5)').text();
      email = fila.find('td:eq(6)').text();
      $("#id_partner").val(id_partner);
      $("#dni").val(dni);
      $("#firtname").val(firtname);
      $("#lastname").val(lastname);
      $("#direction").val(direction);
      $("#phone").val(phone);
      $("#email").val(email);
      $(".modal-header").css("background-color", "#7303c0");
      $(".modal-header").css("color", "white");
      $(".modal-title").text("Edit Partner");
    });

    //DELETE
    $(document).on("click", "#btnDeleteBook", function () {
      fila = $(this).closest("tr");
      id_partner = fila.find('td:eq(0)').text();
      dni = fila.find('td:eq(1)').text();
      Swal.fire({
        title: 'Are you sure?',
        text: "Are you sure you want to delete the PARTNER!",
        icon: 'warning',
        showConfirmButton: true,
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes, delete it!'
      }).then((result) => {
        if (result.isConfirmed) {
          Swal.fire(
            'Deleted! Partner for DNI ' + dni,
            'Your partner has been deleted.',
            'success',
          ).then((result) => {
            window.location = '../workspace/partners';
          });
        }
      });
    });

    //submit para el CREAR y EDITAR
    $('#formu').submit(function (e) {
      e.preventDefault();
      opcion = "edit"
      url = "/api/partners/"
      id_partner = $.trim($('#id_partner').val());
      dni = $.trim($('#dni').val());
      firtname = $.trim($('#firtname').val());
      lastname = $.trim($('#lastname').val());
      direction = $.trim($('#direction').val());
      phone = $.trim($('#phone').val());
      email = $.trim($('#email').val());
      if (opcion == 'edit') {
        $.ajax({
          url: url + id_partner,
          method: 'put',
          contentType: 'application/json',
          data: JSON.stringify({
            id_partner: id_partner, dni: dni, firtname: firtname, lastname: lastname, direction: direction, phone: phone, email: email
          }
          )
        });
        $(document).ajaxStop(function () {
          location.reload(true);
        });
      }
      $('#modalPARTNER').hide();
    });

  </script>
</body>