<link rel="stylesheet" href="/style/workspace.min.css">

<div class="Workspace-container" id="stateAdmin">
  <fieldset class="Workspace-fieldset">
    <legend class="Workspace-legend isColorAdmin" id="lengedWorkspace">
      <span class="Workspace-span">Admin Dashboard</span>
      {{#if loggedIn}}
        <div class="Workspace-Username Username">
          <span class="Username-greeting">Hi, Welcome </span>
          <span class="Username-name" id="tipName">{{userName}}</span>
        </div>
      {{/if}}
    </legend>
    {{> admin }}
  </fieldset>
</div>
