<link rel="stylesheet" href="style/books.css">

<div class="Book-container" id="stateBooks">
  <fieldset class="Book-fieldset">
    <legend class="Book-legend" id="lengedBook">
      <span class="Book-span">Book Dashboard</span>
      {{#if login}}
      <div class="Book-Username">
        <span class="Book-Username-greeting">Hi, Welcome </span>
        <span id="tipName" class="Book-Username-name">{{nameUser}}</span>
      </div>
      {{/if}}
    </legend>
    {{>books}}
  </fieldset>
</div>

<script>
  $(document).ready(function () {
    $('#example').DataTable({
      responsive: true,
      lengthMenu: [[5, 10, 15, 25, 50, -1], [5, 10, 15, 25, 50, "All"]],
      pageLength: 15,
      //"pagingType": "simple_numbers"
    });
  });
</script>