{{> modalDeliver}}

<div class="Dashboard" id="stateBookings" style="margin-top: 2em;">
    <a class="Dashboard-a" href="#" hidden><i class="Dashboard-i fa-solid fa-user-plus"></i>New Booking</a>
    <div class="Dashboard-row" style="margin-top: 2em;">
        <!-- TODO LOADING -->
        <div id="spinner">
            {{> loading}}
        </div>

        <!-- TODO TABLE BOOKINGS -->
        <table id="tableBookings" class="Dashboard-table table table-bordered  display nowrap" cellspacing="0" width="100%" style="margin-top: 3em;">
            <thead class="Dashboard-head">
                <tr>
                    <th>BOOKING ID</th>
                    <th>BOOK ID</th>
                    <th>TITLE</th>
                    <th>PARTNER DNI</th>
                    <th>FULL NAME</th>
                    <th>RESERVATION DATE</th>
                    <th>DELIVERED DATE</th>
                    <th>STATUS</th>
                    <th>OBSERVATION</th>
                    <th>ACTIONS</th>
                </tr>
            </thead>
            <tbody id="tbodyBookings">
            </tbody>
            <tfoot  class="Dashboard-foot">
                <tr>
                    <th>BOOKING ID</th>
                    <th>BOOK ID</th>
                    <th>TITLE</th>
                    <th>PARTNER DNI</th>
                    <th>FULL NAME</th>
                    <th>RESERVATION DATE</th>
                    <th>DELIVERED DATE</th>
                    <th>STATUS</th>
                    <th>OBSERVATION</th>
                    <th>ACTIONS</th>
                </tr>
            </tfoot>
        </table>  
    </div> 
</div>    

<script defer src="/scripts/Globals/funcGlobals.js" type="text/javascript"></script>

<script defer src="/scripts/bookings/bookings.js"></script>
