<div class="Dashboard">
    <a class="Dashboard-a" href="/workspace/books/new"><i class="Dashboard-i fa-solid fa-user-plus"></i>New Booking</a>
    <div class="Dashboard-row">
        <!-- TODO LOADING -->
        <div id="spinner">
            {{> loading}}
        </div>

        <!-- TODO TABLE BOOKINGS -->
        <table id="tableBooking" class="Dashboard-table table table-bordered  display nowrap" cellspacing="0" width="100%">
            <thead class="Dashboard-head">
                <tr>
                    <th hidden>bookingID</th>
                    <th>BOOK ID</th>
                    <th>TITLE</th>
                    <th>PARTNER DNI</th>
                    <th>NAME</th>
                    <th>RESERVATION DATE</th>
                    <th>DELIVER DATE</th>
                    <th>ACTIONS</th>
                </tr>
            </thead>
            <tbody id="tbodyBookings">
            </tbody>
            <tfoot  class="Dashboard-foot">
                <tr>
                    <th hidden>bookingID</th>
                    <th>BOOK ID</th>
                    <th>TITLE</th>
                    <th>PARTNER DNI</th>
                    <th>NAME</th>
                    <th>RESERVATION DATE</th>
                    <th>DELIVER DATE</th>
                    <th>ACTIONS</th>
                </tr>
            </tfoot>
        </table>  
    </div> 
</div>    

<script defer src="/scripts/bookings.js"></script>