<!--TODO Modal para CRUD-->
<div id="modalBook" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalBookLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalBookLabel"></h5>
      </div>
      <div class="New">
        <form class="New-form" id="formu">
          {{> formBook}}
          <div class="modal-footer">
            <button type="button" class="Button-cancel btn btn-secondary" data-dismiss="modal" tabindex="10">Cancel</button>
            <button type="submit" id="btnGuardar" class="Button-accept btn btn-dark" tabindex="11">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- TODO DATA BOOKS FOR LIBURUTEGIA-->
<div class="Dashboard">
  <a class="Dashboard-a" href="/workspace/books/new"><i class="Dashboard-i fa-solid fa-user-plus"></i>New Book</a>
  <div class="Dashboard-row">
      <!-- TODO LOADING -->
      {{> loading}}

      <!-- TODO TABLE BOOKS -->
      <table id="tableBook" class="Dashboard-table table table-bordered  display nowrap" cellspacing="0" width="100%">
        <thead  class="Dashboard-head">
          <tr>
            <th>id_book</th>
            <th>ISBN</th>
            <th>TITLE</th>
            <th>AUTHOR</th>
            <th>LANGUAGE</th>
            <th>RESERVED</th>
            <th>ACTIONS</th>
          </tr>
        </thead>
        <tbody id="tbodyBooks">
        </tbody>
        <tfoot  class="Dashboard-foot">
          <tr>
            <th>id_book</th>
            <th>ISBN</th>
            <th>TITLE</th>
            <th>AUTHOR</th>
            <th>LANGUAGE</th>
            <th>RESERVED</th>
            <th>ACTIONS</th>
          </tr>
        </tfoot>
      </table>
  </div>
</div>

<script defer src="/scripts/books.js"></script>