<div class="container-fluid">
    <a id="btnNew" class="btn btn-outline-primary mt-4 mb-4"><i class="fa-solid fa-circle-plus"></i><span>New
            Booking</span></a>
    <table id="table-bookings" class="display responsive nowrap" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th scope="col" colspan="9" id="titleScope">
                    List of Bookings
                </th>
            </tr>
            <tr>
                <th>RESERVATION ID</th>
                <th>BOOK ID</th>
                <th>BOOK TITLE</th>
                <th>PARTNER DNI</th>
                <th>PARTNER NAME</th>
                <th>PARTNER LASTNAME</th>
                <th>DELIVER DATE <span id="dateTip">(YYYY-MM-DD)</span></th>
                <th>ACTIONS</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
        <tfoot>
            <tr>
                <th>RESERVATION ID</th>
                <th>BOOK ID</th>
                <th>BOOK TITLE</th>
                <th>PARTNER DNI</th>
                <th>NAME</th>
                <th>LASTNAME</th>
                <th>DELIVER DATE <span id="dateTip">(YYYY-MM-DD)</span></th>
                <th>ACTIONS</th>
            </tr>
        </tfoot>
    </table>
</div>
<!--Modal para CRUD-->
<div id="modalCRUD" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalBOOKINGLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalBOOKINGLabel"></h5>
            </div>
            <form id="formu">
                <div class="modal-body">
                    <input id="id_booking" hidden>

                    <label for="" class="col-form-label">BOOK ID</label>
                    <input type="text" class="form-control" id="id_book" placeholder="Readonly input here…" readonly>

                    <label for="" class="col-form-label">TITLE:</label>
                    <input type="text" class="form-control" id="title_book" placeholder="Readonly input here…" readonly>

                    <input id="dni" hidden>

                    <label for="" class="col-form-label">PARTNER NAME:</label>
                    <input type="text" class="form-control" id="firtname" placeholder="Readonly input here…" readonly>

                    <label for="" class="col-form-label">LASTNAME</label>
                    <input id="lastname" type="text" step="0.01" class="form-control" placeholder="Readonly input here…"
                        readonly>
                    <label for="" class="col-form-label"> DELIVER DATE</label>
                    <input id="deliver_date" type="text" step="0.01" class="form-control">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" id="btnGuardar" class="btn btn-dark">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>
