<div class="container-fluid">
    <button id="btnCrear" class="btn btn-dark mb-4">ADD New Reservation</button>
</div>

        <table id="bookingsTable" class="table table-striped" class="display" style="width:100%">
            <thead>
                <tr>
                    <th scope="col" colspan="9" class="bg-indigo-900 text-white"
                        style="background-color: #0048CD;   border-top-left-radius: 10px; border-top-right-radius: 10px; border: 0px">
                        List of bookings
                    </th>
                </tr>
                <tr class="bg-table-tr">
                    <th>ID BOOKING</th>
                    <th>ID BOOK</th>
                    <th>TITLE</th>
                    <th>DNI</th>
                    <th>FIRT NAME</th>
                    <th>LAST NAME</th>
                    <th>RESERVATION DATE</th>
                    <th>DATE OF DELIVERY</th>
                    <th>ACTIONS</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
            <tfoot>
                <tr class="bg-table-tr">
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </tfoot>
        </table>


<!--Modal para CRUD-->

<div id="modalCRUD" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"></h5>
            </div>
            <form id="formu">
                <div class="modal-body">
                    <input id="id_booking" hidden>

                    <label for="" class="col-form-label">ID BOOK:</label>
                    <input type="text" class="form-control" id="id_book">

                    <label for="" class="col-form-label">TITLE:</label>
                    <input type="text" class="form-control" id="title">

                    <label for="" class="col-form-label">DNI</label>
                    <input id="dni" type="text" step="0.01" class="form-control">

                    <label for="" class="col-form-label">NAME</label>
                    <input id="name" type="text" class="form-control">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" id="btnGuardar" class="btn btn-dark">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>


<script>
    // MOSTRAR DATOS
    $(document).ready(function () {
        var tabla = $("#bookingsTable").DataTable({
            ajax: '/api/bookings',
            columns: [
                { data: 'id_booking' },
                { data: 'id_book' },
                { data: 'titulo' },
                { data: 'dni' },
                { data: 'nombre' },
                { data: 'apellidos' },
                { data: 'fecha_reserva' },
                { data: 'fecha_entrega' },
                {
                    defaultContent: `<div class="ui buttons">
                            <button class="btnEdit ui yellow button active" href="#edit" title="Edit booking"><i class="edit outline icon"></i></button>
                            <div class="or" data-text="or"></div>
                            <button class="btnDelete ui red button" href="#delete" title="Delete booking"><i class="delete outline icon"></i></button>
                            </div>`
                }
            ]
        });
    });
    //EDITAR        
    $(document).on("click", ".btnEdit", function () {
        console.log("editar")
        opcion = 'edit';
        fila = $(this).closest("tr");
        id_booking = fila.find('td:eq(0)').text();
        id_book = fila.find('td:eq(1)').text();
        title = fila.find('td:eq(2)').text();
        dni = fila.find('td:eq(3)').text();
        name = fila.find('td:eq(4)').text();
        apellido = fila.find('td:eq(5)').text();
        $("#id_booking").val(id_booking);
        $("#id_book").val(id_book);
        $("#title").val(title);
        $("#dni").val(dni);
        $("#name").val(name + " " + apellido);
        $(".modal-header").css("background-color", "#7303c0");
        $(".modal-header").css("color", "white");
        $(".modal-title").text("Edit Booking");
        $('#modalCRUD').modal('show');
    });
    //submit para el CREAR y EDITAR
    $('#formu').submit(function (e) {
        e.preventDefault();
        url = "api/books/"
        id_book = $.trim($('#id_book').val());
        console.log("ID BOOK ", id_book)
        titulo = $.trim($('#titulo').val());
        autor = $.trim($('#autor').val());
        tipo = $.trim($('#tipo').val());
        if (opcion == 'edit') {
            console.log("EDITAR");
            $.ajax({
                url: url + id_book,
                method: 'put',
                contentType: 'application/json',
                data: JSON.stringify({
                    id_book: id_book, titulo: titulo, autor: autor, tipo: tipo, idioma: idioma
                }
                )
            });
            $(document).ajaxStop(function () {
                location.reload(true);
            });
        }
        $('#modalCRUD').modal('hide');
    });
</script>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>