<div  class="container-form">
    <a id="btnNewBook" class="btn btn-outline-primary mt-4 mb-4"><i class="fa-solid fa-circle-plus"></i><span>New Book {{msg}}</span></a>
    <table id="example" class="display responsive nowrap" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th scope="col" colspan="8" id="titleScope">
                    List of Books
                </th>
            </tr>
            <tr>
                <th>BOOK ID</th>
                <th>TITLE</th>
                <th>AUTHOR</th>
                <th>TYPE</th>
                <th>LANGUAGE</th>
                <th>PURCHASE DATE <span id="dateTip">(YYYY-MM-DD)</span></th>
                <th>AVAILABLE</th>
                <th>ACTIONS</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
        <tfoot>
            <tr id="bg-tr-table">
                <th>ID</th>
                <th>TITLE</th>
                <th>AUTHOR</th>
                <th>TYPE</th>
                <th>LANGUAGE</th>
                <th>AVAILABLE</th>
                <th>AVAILABLE</th>
                <th>ACTIONS</th>
            </tr>
        </tfoot>
    </table>
</div>

<!--Modal para CRUD-->
<div id="modalCRUD" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="bookModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="bookModalLabel"></h5>
            </div>
            <form id="formu">
                <div class="modal-body">
                    <input id="id_book" hidden>

                    <label for="" class="col-form-label" >Title:</label>
                    <input type="text" class="form-control" id="title_book">
                    <label for="" id="lTitle"></label>
                    <label for="" class="col-form-label">Author:</label>
                    <input type="text" class="form-control" id="author">

                    <label for="" class="col-form-label">Type</label>
                    <input id="type" type="text" step="0.01" class="form-control">

                    <label for="" class="col-form-label">Language</label>
                    <input id="language" type="text" class="form-control">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" id="btnGuardar" class="btn btn-dark">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>