<div class="container-fluid">
<div class="row">
    <div class="col-lg-12">
    <table id="example" class="table table-bordered  display nowrap" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Position</th>
                <th>Office</th>
                <th>Age</th>
                <th>Start date</th>
                <th>Salary</th>
                <th>Salary</th>
                <th>Salary</th>
                <th>Salary</th>
                <th>Salary</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
        <tfoot>
            <tr>
                <th>Name</th>
                <th>Position</th>
                <th>Office</th>
                <th>Age</th>
                <th>Start date</th>
                <th>Salary</th>
                <th>Salary</th>
                <th>Salary</th>
                <th>Salary</th>
                <th>Salary</th>
            </tr>
        </tfoot>
    </table>  
    
    </div>
</div> 
</div>

<script>
     $(document).ready(function (e) {
      $('#example').DataTable({
        'searching': true,
        'ordering': true,
        'info': true,
        'responsive': true,
        "order": [[0, "desc"]],
        "lengthMenu": [[5, 10, 15, 25, 50, -1], [5, 10, 15, 25, 50, "All"]],
        "pageLength": 5,
        'ajax': '/api/books/',
        columns: [
        { data: 'data.id_book' },
        { data: 'data.title' },
        { data: 'data.author' },
        { data: 'data.type' },
        { data: 'data.language' },
        { data: 'data.purchase_date' },
        { data: 'data.reserved' },
          {
            data: null,
            render: function (data, type) {
              return `
                      <div class="ui buttons">
                        <button id="btnEditBook" onClick=mostrar(`+ data.id_book + `) type="button"  class="btn btn-outline-info" data-toggle="modal" data-target="#modalCRUD" href="#edit" title="Edit book"><i class="fa-regular fa-pen-to-square"></i></button>
                        <div class="or" data-text="or">                          
                        </div>
                        <button id="btnDeleteBook" onClick=deleteBook(`+ data.id_book + `) class="btn btn-outline-danger" title="Delete book"><i class="fa-solid fa-trash-can"></i></button>
                      </div>
                      `
            }
          }
        ]
      });
    });
</script>