<div class="Dashboard">
    <a class="Dashboard-a" href="/workspace/books/new"><i class="Dashboard-i fa-solid fa-user-plus"></i>New Booking</a>
        <div class="Dashboard-row">
        <table id="tableBooking" class="Dashboard-table table table-bordered  display nowrap" cellspacing="0" width="100%">
            <thead class="Dashboard-head">
                <tr>
                    <th hidden>id_booking</th>
                    <th>BOOK ID</th>
                    <th>TITLE</th>
                    <th>PARTNER DNI</th>
                    <th>NAME</th>
                    <th>RESERVATION DATE</th>
                    <th>DELIVER DATE</th>
                    <th>ACTIONS</th>
                </tr>
            </thead>
            <tbody>
                {{!-- LOADING --}}
                <div id="spinner">
                    <div class="lds-dual-ring">&nbsp</div>
                </div>
            </tbody>
            <tfoot  class="Dashboard-foot">
                <tr>
                    <th hidden>id_booking</th>
                    <th>BOOK ID</th>
                    <th>TITLE</th>
                    <th>PARTNER DNI</th>
                    <th>NAME</th>
                    <th>RESERVATION DATE</th>
                    <th>DELIVER DATE</th>
                    <th>ACTIONS</th>
                </tr>
            </tfoot>
        </table>  
    </div> 
</div>    

<script>
    $(document).ready(function () {
        $('#tableBooking').DataTable({
            responsive: true,
            lengthMenu: [[5, 10, 15, 25, 50, -1], [5, 10, 15, 25, 50, "All"]],
            pageLength: 15,
        });
    });
</script>