<div class="Footer-border"></div>
{{!-- <section class="Footer-section">
  <div class="Footer-items">
    <a href="" class="Footer-items--a">
      <i class="fab fa-instagram h3 m-2"></i>
    </a>
    <a href="https://www.linkedin.com/in/jose-alvaro-cede%C5%88o-panchana-06319495/" class="Footer-items--a">
      <i class="fab fa-linkedin h3 m-2"></i>
    </a>
    <a href="https://github.com/lopuma" class="Footer-items--a">
      <i class="fab fa-github h3 m-2"></i>
    </a>
  </div>
</section> --}}
<div class="Footer-copyright">
  © 2022 Copyright - Library San Miguel
</div>