<div class="New-content">
    <input type="text" class="form-control" id="id_partner" tabindex="0" hidden>
    <div class="New-boxes">
        <div class="New-box">
            <input class="New-input" type="text" name="dni" id="dni" value="" tabindex="2" autofocus required>
            <label for="dni" class="Input-new">Enter Dni *</label>

        </div>
        <div class="New-box">
            <input class="New-input" type="text" name="scanner" id="scanner" value="" tabindex="3">
            <label for="scanner" class="Input-new">Enter Scanner</label>
        </div>
    </div>
    <div class="New-boxes">
        <div class="New-box">
            <input class="New-input" type="text" name="name" id="name" value="" tabindex="4" required>
            <label for="name" class="Input-new">Enter Name *</label>
        </div>
        <div class="New-box">
            <input class="New-input" type="text" name="lastname" id="lastname" value="" tabindex="5" required>
            <label for="lastname" class="Input-new">Enter Last name *</label>
        </div>
    </div>
    <div class="New-boxes">
        <div class="New-box">
            <input class="New-input" type="text" name="population" id="population" value="" tabindex="6">
            <label for="population" class="Input-new">Enter Population</label>
        </div>
        <div class="New-box">
            <input class="New-input" type="text" name="direction" id="direction" value="" tabindex="7">
            <label for="direction" class="Input-new">Enter Direction</label>
        </div>
    </div>
    <div class="New-boxes">
        <div class="New-box">
            <input class="New-input" type="tel" name="phone1" id="phone1" value="" tabindex="8" placeholder="123456789">
            <label for="phone1" class="Input-new">Enter Phone (mobile)</label>
        </div>
        <div class="New-box">
            <input class="New-input" type="tel" name="phone2" id="phone2" value="" tabindex="9">
            <label for="phone2" class="Input-new">Enter Phone (ladline)</label>
        </div>
    </div>
    <div class="New-boxes">
        <div class="New-box">
            <input class="New-input" type="email" name="email" id="email" value="" tabindex="10">
            <label for="email" class="Input-new">Enter Email</label>
        </div>
    </div>
</div>