<div class="New-content">

    <div class="New-boxes" id="newBoxesID">
        <!-- TODO BOOK ID -->
        <div class="Input-box" hidden>
            <div class="Box">
                <i class="Box-i fa-solid fa-key"></i>
                <div class="Box-animation Animation">
                    <input class="Animation-input"  type="text" id="bookID" tabindex="0" readonly value="null">
                    <label class="Animation-label" for="bookID">Your Partner ID</label>
                    <label class="Animation-info" for="bookID" id="infoID"><i
                            class="fa-solid fa-circle-info"></i></label>
                    <label class="Animation-closeInfo" for="bookID"
                        id="closeinfoID"><i class="fa-solid fa-circle-info"></i></label>
                </div>
            </div>
        </div>
        <!-- TODO PURCHASE DATE -->
        <div class="Input-box">
            <div class="Box">
                <i class="fa-solid fa-calendar-days"></i>
                <div class="Box-animation Animation Creation-date" id="purchaseDate">
                    <input class="Animation-input" type="date" id="actualPurchaseDate">
                    <label class="Animation-label" for="date">Creation Date</label>
                </div>
            </div>
        </div>
    </div>
    <div class="New-boxes">
        <!-- TODO Title -->
        <div class="Input-box" id="inputBoxTitle">
            <div class="Box">
                <i class="Box-i fa-regular fa-address-card"></i>
                <div class="Box-animation Animation">
                    <input class="Animation-input" name="inputTitle" id="inputTitle"
                        type="text"
                        placeholder=" " autocomplete="valorNoValido"
                        required="required" tabindex="1" autofocus onChange="changeField(this, 'Title')">
                    <label class="Animation-label" for="inputTitle">Enter Title *</label>
                    <label class="Animation-info" for="inputTitle" id="infoTitle"><i
                            class="fa-solid fa-circle-info"></i></label>
                    <label class="Animation-closeInfo" for="inputTitle"
                        id="closeInfoTitle"><i class="fa-solid fa-circle-info"></i></label>
                </div>
            </div>
            <div class="Input-error Error fieldErr" id="validationTitle">
                <div class="Error-text">
                    <span id="errorTitle" class="fieldErrText">Title cannot be
                        empty.</span>
                </div>
            </div>
        </div>
        <!-- TODO ISBN -->
        <div class="Input-box" id="inputBoxISBN">
            <div class="Box">
                <i class="Box-i fa-solid fa-qrcode"></i>
                <div class="Box-animation Animation">
                    <input class="Animation-input" name="inputISBN"
                        id="inputISBN" type="text"
                        placeholder=" " autocomplete="valorNoValido"
                        tabindex="2" >
                    <label class="Animation-label" for="inputISBN">Enter
                        ISBN</label>
                    <label class="Animation-info" for="inputISBN"
                        id="infoISBN"><i class="fa-solid fa-circle-info"></i></label>
                    <label class="Animation-closeInfo" for="inputISBN"
                        id="closeInfoISBN"><i class="fa-solid
                            fa-circle-info"></i></label>
                </div>
            </div>
        </div>
    </div>
</div>

<link rel="stylesheet" href="/style/newForm.css">