<link rel="stylesheet" href="/style/loading.css">

<div class="book">
    <div class="page"></div>
    <div class="page"></div>
    <div class="page"></div>
    <div class="page"></div>
    <div class="page"></div>
    <div class="page"></div>
    <br>
    <br>
    <span>Loanding..</span>
</div>