<div id="spinner">
    <div class="book">
        <div class="page"></div>
        <div class="page"></div>
        <div class="page"></div>
        <div class="page"></div>
        <div class="page"></div>
        <div class="page"></div>
        <br>
        <br>
        <span>Loanding..</span>
    </div>
</div>    