<!-- TODO VALIDACION DE DATOS ERRONEOS -->
{{#if errorValidation}}
  <div class="Login-notifications" role="alert" id="alert">
    <div class="Notification-headers Alert">
      <div class="Alert-header">
        <h4 class="Alert-heading">Something went wrong.</h4>
      </div>
      <button class="Alert-close"  id="btnCloseAlert" type="button">
        <i class="fa-regular fa-circle-xmark"></i>
      </button>
    </div>
    <hr>    
    <div class="Notification-content">
        {{#each errorValidation}}
          <span class="Notification-span">{{this.msg}}</span>
        {{/each}}
    </div>
  </div>
{{/if}}

<!-- TODO EMAIL LOGIN -->
{{#if errorUser}}
  <div class="Input-error Error isActive" id="validationEmail">
    <div class="Error-icon" >
      <svg   fill="currentColor" focusable="false" width="16px" height="16px"
        viewBox="0 0 24 24" xmlns="https://www.w3.org/2000/svg">
        <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-2h2v2zm0-4h-2V7h2v6z"></path>
      </svg>
    </div>
    <div class="Error-text">
      <span>{{errorUser}}</span>
    </div>
  </div>
  <script>
    const inputEmail = document.getElementById("email");
    inputEmail.classList.add("isError");
  </script>
{{/if}}

<!-- TODO PASSWORD LOGIN -->
{{#if errorPassword}}
  <div class="Input-error Error isActive" id="validationPassword">
    <div class="Error-icon" >
      <svg   fill="currentColor" focusable="false" width="16px" height="16px"
        viewBox="0 0 24 24" xmlns="https://www.w3.org/2000/svg">
        <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-2h2v2zm0-4h-2V7h2v6z"></path>
      </svg>
    </div>
    <div class="Error-text">
      <span>{{errorPassword}}</span>
    </div>
  </div>
  <script>
      const formLogin     = document.getElementById( "formLogin" );
      inputPassword.classList.add("isError");
      formLogin.style.height = "35em";
  </script>
{{/if}}