<link rel="stylesheet" href="/style/newForm.css">

<!--TODO Modal para CRUD-->
<div class="modal fade" role="dialog" aria-labelledby="modalReserveBookLabel" aria-hidden="true" style="padding-right:0" id="modalReserveBook" name="modalReserveBook">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title" id="modalReserveBookLabel">RESERVE BOOK</h1>
            </div>
            <div class="New">
                <form class="New-form" id="formReserveBook" name="formReserveBook">
                    <div class="New-content">
                        <div class="New-boxes">
                            <!-- TODO BOOK ID -->
                            <div class="Input-box">
                                <div class="Box">
                                    <i class="Box-i fa-solid fa-key"></i>
                                    <div class="Box-animation Animation">
                                        <input class="Animation-input"  type="text" id="reserveBookID" name="reserveBookID"
                                        tabindex="0" 
                                        placeholder=" "
                                        readonly required>
                                        <label class="Animation-label" for="reserveBookID">Book ID *</label>
                                    </div>
                                </div>
                            </div>
                            <!-- TODO  TITLE BOOK -->
                            <div class="Input-box">
                                <div class="Box">
                                    <i class="Box-i fa-solid fa-book"></i>
                                    <div class="Box-animation Animation">
                                        <select class="Animation-input reserveSelectTitle" id="reserveSelectTitle" name="reserveSelectTitle" style="width:95%" size="2" 
                                        onChange="loadBookID()" tabindex="2" required>
                                            <option></option>
                                        </select>
                                        <label class="Animation-label" for="inputTitle">Title *</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="New-boxes">
                            <!-- TODO PARTNER ID -->
                            <div class="Input-box">
                                <div class="Box">
                                    <i class="Box-i fa-solid fa-boxes-stacked"></i>
                                    <div class="Box-animation Animation">
                                        <input class="Animation-input" name="reservePartnerID" id="reservePartnerID"
                                            type="text"
                                            placeholder=" " autocomplete="valorNoValido"
                                            tabindex="3" readonly required>
                                        <label class="Animation-label" for="reservePartnerID">Partner ID *</label>
                                    </div>
                                </div>
                            </div>
                            <!-- TODO DNI -->
                            <div class="Input-box">
                                <div class="Box">
                                    <i class="Box-i fa-regular fa-newspaper"></i>
                                    <div class="Box-animation Animation">
                                        <select class="Animation-input selectDniReserve" id="selectDniReserve" name="selectDniReserve" style="width:95%" size="2" tabindex="4" onChange="loadPartnerID()" required>
                                            <option></option>
                                        </select>
                                        <label class="Animation-label" for="selectDniReserve">Dni *</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="New-boxes">
                            <!-- TODO FECHA RESERVA -->
                            <div class="Input-box">
                                <div class="Box">
                                    <i class="fa-solid fa-calendar-days"></i>
                                    <div class="Box-animation Animation">
                                        <input class="Animation-input" type="date" id="reserveDate" tabindex="5" required>
                                        <label class="Animation-label" for="reserveDate">Reserve  Date *</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="Input-button">
                        <button type="button" class="Button-cancel"
                            data-dismiss="modal" tabindex="10">Cancel</button>
                        <input class="Button-accept" id="btnReserveBook" type="submit"
                            value='UPDATE' tabindex="11"></input>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" defer>
    const formReserveBook = document.getElementById  ( "formReserveBook"        );
    const inputsBook      = document.querySelectorAll( "#formReserveBook input" );

    function loadPartnerID() {
        const selectDniReserve = document.getElementById("selectDniReserve");
        const inputPartnerID = document.getElementById("reservePartnerID");
        const index = selectDniReserve.selectedIndex;
        const opcionSeleccionada = selectDniReserve.options[index];
        inputPartnerID.value = fillZeros(opcionSeleccionada.value);
    }

    function loadBookID() {
        const reserveSelectTitle = document.getElementById("reserveSelectTitle");
        const inputBookID = document.getElementById("reserveBookID");
        const index = reserveSelectTitle.selectedIndex;
        const opcionSeleccionada = reserveSelectTitle.options[index];
        inputBookID.value = fillZeros(opcionSeleccionada.value);
    }

// TODO RESPUESTA DEL SERVIDOR 

    async function responseReserve(data) {
        console.log(data);
        const success = data.success;
        const title = data.swalTitle;
        const message = data.messageSuccess || data.errorMessage;

        if (success) {
            Swal.fire({
                title: title || "Success....!",
                text: message,
                icon: 'success',
                timer: 2000,
                confirmButtonText: 'OK',
            })
                .then(async () => {
                //await ClosePopup("#modalReserveBook");
                try {
                    if (_STATEINFOBOOK) { // 
                        location.reload(true);
                    }
                    else if(_STATEBOOK) { 
                        await reloadDataBooks();
                    }
                } catch (error) { }
                console.log("RELOAD SUCESS");
            });
        } else {
            Swal.fire({
                title: title || "Oops....!",
                text: message,
                icon: 'error',
                timer: 2000,
                confirmButtonText: 'OK',
            })
                .then(async () => {
                    //await ClosePopup("modalReserveBook");
                    try {
                        if(_STATEBOOK) { 
                            await ClosePopup("#modalReserveBook");
                            await reloadDataBooks();
                        } 
                        
                    } catch (error) { }
                    try {
                        if ($('#stateInfoPartner').val() === ''){
                            console.log("ESTOY EN PARTNER");
                            const sel = document.getElementById("selectDniReserve");
                            const opt = sel[0];
                            console.log({opt});
                            //$("#selectDniReserve").val(opt.value);
                            const idPartner = fillZeros(opt.value);
                            const dniPartner = opt.text;
                            await extractDataFormReserve(null, null, idPartner, dniPartner);
                        }
                    } catch (error) { }
                });
                console.log("RELOAD ERROR")
        }
    }

// TODO ✅ CORRECT FORMS
    async function correctFormsReserveBook(e) {
        e.preventDefault();
        const indexTitle = document.getElementById("reserveSelectTitle").selectedIndex;
        const optionSelectTitle = document.getElementById("reserveSelectTitle").options[indexTitle];
        const indexDni = selectDniReserve.selectedIndex;
        const optionSelectDni = document.getElementById("selectDniReserve").options[indexDni];
        const bookID = removeZeros(document.getElementById("reserveBookID").value);
        const title = optionSelectTitle.text;
        const partnerID = removeZeros(document.getElementById("reservePartnerID").value);
        const partnerDni = optionSelectDni.text;
        const reserveDate = document.getElementById("reserveDate").value;
        const data = {
            bookID,
            title,
            partnerID,
            partnerDni,
            reserveDate,
        }
        const urlAddReserve = `/api/books/add/reserve/${bookID}`

        fetch(urlAddReserve, {
            method: "POST",
            body: JSON.stringify(data),
            headers: {
                Accept: "application/json",
                "Content-Type": "application/json; charset=utf-8"
            }
        })
            .then((response) => response.json())
            .then(async (data) => {
                await responseReserve(data);
            })
            .catch((error) => console.error(error));
    }

// TODO ✅ EVENTO AL ENVIAR FORMULARIO
    try {
        document.addEventListener("DOMContentLoaded", function () {
            formReserveBook.addEventListener("submit", correctFormsReserveBook);
        });
    } catch (error) { }

</script>