<link rel="stylesheet" href="/style/modalDeliver.css">

<div class="modal fade" id="modalStar" tabindex="-1" role="dialog" aria-labelledby="modalStar" aria-hidden="true">
    <div class="modal-dialog Deliver-modal" role="document">
        <div class="modal-content">
            <div class="Modal-header">
                <h1 class="Modal-title">Star Rating</h1>
                <button class="Modal-close" id="closeModal" style="cursor: pointer">
                    <i class="fa-regular fa-circle-xmark"></i>
                </button>
            </div>
            <div class="Modal-star Star">
                <div class="Star-content">
                    <div class="Star-widget Widget">
                        <input class="Widget-input" type="radio" value="5" name="rate" id="rate-5">
                        <label for="rate-5" class=" Widget-label fas fa-star"></label>
                        <input class="Widget-input" type="radio" value="4" name="rate" id="rate-4">
                        <label for="rate-4" class="Widget-label fas fa-star"></label>
                        <input class="Widget-input" type="radio" value="3" name="rate" id="rate-3">
                        <label for="rate-3" class="Widget-label fas fa-star"></label>
                        <input class="Widget-input" type="radio" value="2" name="rate" id="rate-2">
                        <label for="rate-2" class="Widget-label fas fa-star"></label>
                        <input class="Widget-input" type="radio" value="1" name="rate" id="rate-1">
                        <label for="rate-1" class="Widget-label fas fa-star"></label>
                        <div class="Star-header"></div>

                        <form class="Star-form Form" action="#" id="formDeliver" name="formDeliver">
                            {{!-- BUTTO DISABLE ENTER --}}
                                <button type="submit" disabled hidden aria-hidden="true"></button>
                            {{!-- ------------------- --}}
                            <input type="text" class="form-control" id="deliverPartnerID"
                                tabindex="0" hidden>
                            <input type="text" class="form-control" id="bookID"
                                tabindex="1" hidden>
                            <input type="text" class="form-control" id="bookingID"
                                tabindex="2" hidden>
                            <div class="Form-textarea">
                                <textarea id="mensaje" cols="30" placeholder="Describe your experience.." minlenhtg="100"  maxlength="100" tabindex="3" rows="3"></textarea>
                                <div id="contador">0 / 100</div>
                            </div>
                            <div class="Form-button">
                                <button type="submit" id="post" tabindex="4">REVIEW</button>
                            </div>
                        </form>
                        
                    </div>
                </div>
            </div>
            <div class="Modal-post">
                <div class="text">Thanks for rating us! &#128366; </div>
            </div>
        </div>
    </div>
</div>

<script defer src="/scripts/partners/modalDeliver.js" type="text/javascript"></script>

