<link rel="stylesheet" href="/style/editModal.css">
<link rel="stylesheet" href="/style/newForm.css">

<!--TODO Modal para CRUD-->
<div class="modal fade" id="modalPartner" tabindex="-1" role="dialog"
    aria-labelledby="modalPartnerLabel" aria-hidden="true" style="padding-right:0">

    <div class="modal-dialog" role="document">

        <div class="modal-content">

            <div class="modal-header">
                <h1 class="modal-title" id="modalPartnerLabel"></h5>
            </div>
            <div class="New">
                <form class="New-form" id="formEditPartner" name"formEditPartner">

                    {{> formPartner}}

                    <div class="Input-button">
                        <button type="button" class="Button-cancel"
                            data-dismiss="modal" tabindex="10">Cancel</button>
                        <input class="Button-accept" id="btnUpdate" type="submit"
                            value='UPDATE' tabindex="11"></input>
                    </div>

                </form>
            </div>

        </div>

    </div>

</div>

<!--<script defer src="/scripts/partners.js"></script>-->

<script defer src="/scripts/formPartner.js"></script>

<script defer>
    const formEditPartner = document.getElementById("formEditPartner");
    const inputs = document.querySelectorAll("#formEditPartner input");

    // TODO ✅ EVENTO AL ENVIAR FORMULARIO
    try {
        document.addEventListener("DOMContentLoaded", function () {
            formEditPartner.addEventListener("submit", correctForms);
        });
    } catch(error) {}

    try {
        inputNEW.checked = false;
        console.log("3 ==>", inputNEW.checked);
    } catch (error) { }

</script>
