<link rel="stylesheet" href="/style/newForm.min.css">

<div class="modal fade" role="dialog" aria-labelledby="modalEditBookLabel" aria-hidden="true" style="padding-right:0"
    id="modalEditBook" name="modalEditBook">

    <div class="modal-dialog" role="document">

        <div class="modal-content">

            <div class="Modal-header"
                style="background-color: var(--Background-Color-forms-book); color: var(--Color-forms-book)">
                <h1 class="Modal-title" id="modalEditBookLabel">EDIT BOOK</h1>
            </div>

            <div class="New">
                <form class="New-form" id="formEditBook" name="formEditBook">
                    <button type="submit" disabled hidden aria-hidden="true"></button>
                    {{> formBook}}

                    <div class="Input-button">
                        <button type="button" class="Button-cancel" data-dismiss="modal" tabindex="10"
                            id="btnCancelEditBook" onclick="closeModalEditBook()">Cancel</button>
                        <input class="Button-accept" id="btnUpdateBook" type="submit" value='UPDATE'
                            tabindex="11"></input>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" defer>
    const formEditBook = document.getElementById("formEditBook");
    const inputsEditBook = document.querySelectorAll("#formEditBook input");
    field.title = true;
    field.author = true;
    field.ISBN = true;
    try {
        if ($('#modalEditBook').val() === '') { // 
            _STATEEDITBOOK = true;
        }
    } catch (error) { }
    try {
        document.addEventListener("DOMContentLoaded", function () {
            formEditBook.addEventListener("submit", correctFormsBook);
        });
    } catch (error) { }
    try {
        inputsEditBook.forEach((input, i) => {
            input.addEventListener("blur", validateFormBook);
            input.addEventListener("keyup", validateFormBook);
            input.addEventListener("keypress", e => {
                if (e.key === "Enter") {
                    validateFormBook;
                }
            });
        });
    } catch (error) { }
    function closeModalEditBook() {
        $('#modalEditBook').modal('hide');
        document.getElementById('formEditBook').reset();
    }
</script>