<link rel="stylesheet" href="/style/editModal.css">
<link rel="stylesheet" href="/style/newForm.css">

<!--TODO Modal para CRUD-->
<div class="modal fade" role="dialog" aria-labelledby="modalResetPasswordLabel" aria-hidden="true" style="padding-right:0" id="modalResetPassword" name="modalResetPassword">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="Modal-header" style="background-color: var(--Background-Color-forms-password); color: var(--Color-forms-password)">
                <h1 class="Modal-title" id="modalResetPasswordLabel" >CHANGE PASSWORD</h1>
            </div>
            <div class="New">
                <form class="Reset" id="formResetPassword" name="formResetPassword">
                    <button type="submit" aria-hidden="true"></button>
                    <div class="New-content">
                        <div class="New-boxes">
                            <!-- TODO EMAIL ID -->
                            <div class="Input-box">
                                <div class="Box">
                                    <i class="Box-i fa-solid fa-envelope"></i>
                                    <div class="Box-animation Animation">
                                        <input class="Animation-input"  type="text" id="inputEmailReset" name="inputEmailReset"
                                        tabindex="0" 
                                        placeholder=" "
                                        readonly required>
                                        <label class="Animation-label" for="inputEmailReset">User Email *</label>
                                    </div>
                                </div>
                            </div>
                            <div class="Input-box isInvisible">
                            </div>
                        </div>
                        <div class="New-boxes">
                            <!-- TODO PASSWOR -->
                            <div class="Input-box">
                                <div class="Box">
                                    <i class="Box-i fa-solid fa-key"></i>
                                    <div class="Box-animation Animation">
                                        <input class="Animation-input" name="inputPasswordReset" id="inputPasswordReset"
                                            type="password"
                                            placeholder=" " autocomplete="valorNoValido"
                                            tabindex="1" required>
                                        <label class="Animation-label" for="inputPasswordReset">New password *</label>
                                    </div>
                                </div>
                            </div>
                            <div class="Input-box">
                                <div class="Box">
                                    <i class="Box-i fa-solid fa-key"></i>
                                    <div class="Box-animation Animation">
                                        <input class="Animation-input" name="inputPasswordRepeatReset" id="inputPasswordRepeatReset"
                                            type="password"
                                            placeholder=" " autocomplete="valorNoValido"
                                            tabindex="2" required>
                                        <label class="Animation-label" for="inputPasswordRepeatReset">Repeat password *</label>
                                        <i id="btnEyePasswordNew" class="Box-i fa-solid fa-eye"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="Input-button">
                        <button type="button" class="Button-cancel"
                            data-dismiss="modal" tabindex="3" onclick="closeModalResetPassword()">Cancel</button>
                        <input class="Button-accept" id="btnResetUserPassword" type="submit"
                            value='Save' tabindex="4"></input>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" defer>
    function closeModalResetPassword() {
        $('#modalResetPassword').modal('hide');
        document.getElementById('formResetPassword').reset();
    }

    async function resetResponse(data) {
        const title = data.swalTitle;
        const message = data.messageSuccess || data.errorMessage;
        const icon =  data.success ? "success" : "error";
        Swal.fire({
            icon: icon,
            title: title || 'Oops...',
            timer: 2000,
            text: message,
        }).then((response) => {
            $('#modalResetPassword').modal("toggle");
        });
    }

    document.addEventListener("DOMContentLoaded", function(event) {
        document.getElementById("formResetPassword").addEventListener("submit", function(event) {
            event.preventDefault();
            try {
                const url = "/reset"
                const data = {
                    emailReset: inputEmailReset.value,
                    passReset: inputPasswordReset.value
                }
                fetch(url, {
                    method: 'POST',
                    body: JSON.stringify(data),
                    headers: {
                        'Content-Type': 'application/json; charset=UTF-8'
                    }
                })
                    .then((response) => response.json())
                    .then((data) => resetResponse(data))
                    .catch((error) => console.error(error))
            }
            catch (error) {
                throw error;
            }
        });
    });

</script>