<link rel="stylesheet" href="/style/editModal.css">
<link rel="stylesheet" href="/style/newForm.css">

<!--TODO Modal para CRUD-->
<div class="modal fade" id="modalEditPartner" tabindex="-1" role="dialog"
    aria-labelledby="modalEditPartnerLabel" aria-hidden="true" style="padding-right:0">

    <div class="modal-dialog" role="document">

        <div class="modal-content">

            <div class="modal-header">
                <h1 class="modal-title" id="modalEditPartnerLabel"></h1>
            </div>
            <div class="New">
                <form class="New-form" id="formEditPartner" name"formEditPartner">
                    
                    {{> formPartner}}
                    <div class="Input-button">
                        <button type="button" class="Button-cancel"
                            data-dismiss="modal" tabindex="10">Cancel</button>
                        <input class="Button-accept" id="btnUpdate" type="submit"
                            value='UPDATE' tabindex="11"></input>
                    </div>

                </form>
            </div>

        </div>

    </div>

</div>

<!--<script src="/scripts/partners/formPartner.js" type="text/javascript"></script>-->

<script defer src="/scripts/partners/modalEditPartner.js" type="text/javascript"></script>
