<body>
  <nav class="navbar-expand-lg navbar-dark bg-dark">
    <div class="hamburger" id="btn-menu">
      <i class="fa-solid fa-bars"></i>
    </div>

    <div class="navbar">
      <div class="hamburger2" id="btn-menu2">
        <i class="fa-solid fa-bars"></i>
      </div>
      <div class="titleNav" id="title-nav"><a href="/">Library San Miguel</a></div>
      <div class="nav-links" id="navbarNav">
        <ul class="links">
          {{#if nameUser}}
          <li class="nav-item">
            <a id="btnBooks" type="button" class="nav-links" href="../workspace/books">Books</a>
          </li>
          </li>
          <li class="nav-item">
            <a class="nav-links" href="../workspace/partners" id="partners">Partners</a>
          </li>
          <li class="nav-item">
            <a class="nav-links" href="../workspace/bookings">Bookings</a>
          </li>
          {{#if userRol}}
          <li class="nav-item">
            <a class="nav-links" href="/register">Record</a>
          </li>
          {{/if}}
          <li class="nav-item">
            <a class="nav-links" href="/logout">Logout</a>
          </li>
          {{else}}
          <li class="nav-item">
            <a class="nav-links" href="/login">Sign In</a>
          </li>
          {{/if}}
        </ul>
      </div>
    </div>
  </nav>
</body>