<div class="Header-logo">
  <button class="Header-button--sidemenu" id="btnSidemenu">
    <i class="fa-solid fa-bars"></i>
  </button>
  <h1 class="Header-h1--logo">
    <a href="/" class="Header-a--logo">Library San Miguel</a>
  </h1>
</div>

<button class="Header-button--toggle" id="btnToggle">
    <i class="Header-i--toggle fa-solid fa-bars"></i>
</button>

<nav class="Header-nav" id="navBar">
  <ul class="Header-ul">
    {{#if login}}
    <li class="Header-li"><a class="Header-a Header-a-link" href="../workspace/books">Books</a></li>
    <li class="Header-li"><a class="Header-a Header-a-link" href="../workspace/partners" id="partners">Partners</a></li>
    <li class="Header-li"><a class="Header-a Header-a-link" href="../workspace/bookings">Bookings</a></li>
    {{#if userRol}}
    <li class="Header-li"><a class="Header-a Header-a-link" href="/register">Record</a></li>
    <li class="Header-li"><a class="Header-a Header-a-link Header-a-link--active" href="/logout">Logout</a></li>
    {{/if}}
    {{else}}
    <li class="Header-li"><a href="/login" class="Header-a Header-a-link Header-a-link--active">Login</a></li>
    {{/if}}
  </ul>
</nav>