<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="hamburger" id="btn-menu">
    <i class="fa-solid fa-bars"></i>
  </div>

  <div class="navbar">
    <div class="titleNav" id="title-nav"><a href="/">Library San Miguel</a></div>
    <div class="nav-links" id="navbarNav">
      <ul class="links">
        {{#if nameUser}}
        <li class="nav-item">
          <a class="nav-links" href="../workspace/books">Books</a>
        </li>
        </li>
        <li class="nav-item">
          <a class="nav-links" href="../workspace/partners" id="partners">Partners</a>
        </li>
        <li class="nav-item">
          <a class="nav-links" href="../workspace/bookings">Bookings</a>
        </li>
        <li class="nav-item">
          <a class="nav-links" href="/logout">Logout</a>
        </li>
        {{else}}
        <li class="nav-item">
          <a class="nav-links" href="/login">SignIn</a>
        </li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>

<script>
  const btn = document.querySelector("#btn-menu");
  const menu = document.querySelector("#sidemenu");
  const bd = document.querySelector("#body-expanded");
  const container =  document.querySelector("#container-form");
  btn.addEventListener('click', e => {
    menu.classList.toggle("menu-expanded");
    menu.classList.toggle("menu-collapsed");
    //$('#title-nav').css('display', 'none');
    //        titleNav.classList.toggle("titleNav");
    //      titleNav.classList.toggle("titleNavFalse");
    document.querySelector('body').classList.toggle('body-expanded');
    //$('#title-nav').css('display', 'block');

    if ($('#title-nav').css('visibility') != 'hidden') {
      $('#title-nav').css('visibility', 'hidden');
      $('#container-form').css('margin-left', '0');
    } else {
      $('#title-nav').css('visibility', 'visible');
      $('#container-form').css('margin-left', '100px');
    }

  });
</script>