<!--Modal para CRUD-->
<div id="modalPARTNER" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalPARTNERLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalPARTNERLabel"></h5>
      </div>
      <form id="formu">
        <div class="modal-body">
          <input type="text" class="form-control" id="id_partner" hidden>

          <label for="" class="col-form-label">DNI</label>
          <input type="text" class="form-control" id="dni" placeholder="Readonly input here…" readonly>

          <label for="" class="col-form-label">NAME</label>
          <input type="text" class="form-control" id="name">

          <label for="" class="col-form-label">LAST NAME</label>
          <input id="lastname" type="text" step="0.01" class="form-control">

          <label for="" class="col-form-label">DIRECTION</label>
          <input id="direction" type="text" class="form-control">

          <label for="" class="col-form-label">POPULATION</label>
          <input id="population" type="text" class="form-control">

          <label for="" class="col-form-label">PHONE 1</label>
          <input id="phone1" type="text" class="form-control">

          <label for="" class="col-form-label">PHONE 2</label>
          <input id="phone2" type="text" class="form-control">
          
          <label for="" class="col-form-label">E-MAIL</label>
          <input id="email" type="text" class="form-control">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button type="submit" id="btnGuardar" class="btn btn-dark">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>

{{!--
<script>


  //EDITAR        
  $(document).on("click", "#btnEditPartner", function () {
    opcion = 'edit';
    fila = $(this).closest("tr");
    id_partner = fila.find('td:eq(0)').text();
    dni = fila.find('td:eq(1)').text();
    firstname = fila.find('td:eq(2)').text();
    lastname = fila.find('td:eq(3)').text();
    direction = fila.find('td:eq(4)').text();
    phone = fila.find('td:eq(5)').text();
    email = fila.find('td:eq(6)').text();
    $("#id_partner").val(id_partner);
    $("#dni").val(dni);
    $("#firstname").val(firstname);
    $("#lastname").val(lastname);
    $("#direction").val(direction);
    $("#phone").val(phone);
    $("#email").val(email);
    <script>$(".modal-header").css("color", "white");
      $(".modal-title").text("Edit Partner");
  });
      //DELETE
      $(document).on("click", "#btnDeleteBook", function () {
        fila = $(this).closest("tr");
      id_partner = fila.find('td:eq(0)').text();
      dni = fila.find('td:eq(1)').text();
      Swal.fire({
        title: 'Are you sure?',
      text: "Are you sure you want to delete the PARTNER!",
      icon: 'warning',
      showConfirmButton: true,
      showCancelButton: true,
      confirmButtonColor: '#3085d6',
      cancelButtonColor: '#d33',
      confirmButtonText: 'Yes, delete it!'
    }).then((result) => {
      if (result.isConfirmed) {
        Swal.fire(
          'Deleted! Partner for DNI ' + dni,
          <script>    ).then((result) => {
            window.location = '../workspace/partners';
        });
      }
    });
  });
            //submit para el CREAR y EDITAR
            $('#formu').submit(function (e) {
              e.preventDefault();
            opcion = "edit"
            url = "/api/partners/"
            id_partner = $.trim($('#id_partner').val());
            dni = $.trim($('#dni').val());
            firstname = $.trim($('#firstname').val());
            lastname = $.trim($('#lastname').val());
            direction = $.trim($('#direction').val());
            phone = $.trim($('#phone').val());
            email = $.trim($('#email').val());
            if (opcion == 'edit') {
              $.ajax({
                url: url + id_partner,
                method: 'put',
                contentType: 'application/json',
                data: JSON.stringify({
                  id_partner: id_partner, dni: dni, firstname: firstname, lastname: lastname, direction: direction, phone: phone, email: email
                }
                )
              });
            $(document).ajaxStop(function () {
              location.reload(true);
      });
    }
            $('#modalPARTNER').hide();
  });
</script> --}}

<div class="container-fluid">
  <a href="/workspace/partners/new">New Partners</a>
  <div class="row">
    <div class="col-lg-12">
      <table id="example" class="table table-bordered  display nowrap" cellspacing="0" width="100%">
          <thead>
            <tr>
              <th>id_partner</th>
              <th>DNI</th>
              <th>NAME</th>
              <th>LASTNAME</th>
              <th>PHONE1</th>
              <th>PHONE2</th>
              <th>EMAIL</th>
              <th>ACTIONS</th>
            </tr>
          </thead>
          <tbody></tbody>
          <tfoot>
            <tr>
              <th>id_partner</th>
              <th>DNI</th>
              <th>NAME</th>
              <th>LASTNAME</th>
              <th>PHONE1</th>
              <th>PHONE2</th>
              <th>EMAIL</th>
              <th>ACTIONS</th>
            </tr>
          </tfoot>
        </table>
    </div>
  </div>
</div>