{{>modalEditPartner}}

<!-- TODO DATA PARTNER FOR LIBURUTEGIA-->
<div class="Dashboard" id="statePartners">

  <a class="Dashboard-a" href="/workspace/partners/new"><i class="Dashboard-i fa-solid fa-user-plus"></i>New Partner</a>

  <div class="Dashboard-row">
    
    <!-- TODO LOADING -->
    <div id="spinner">
      {{> loading}}
    </div>

    <!-- TODO TABLE PARTNERS -->
    <table class="Dashboard-table table table-bordered display wrap"
      id="tablePartner" cellspacing="0" width="100%">
      <thead class="Dashboard-head">
        <tr>
          <th>PARTNER ID</th>
          <th>DNI</th>
          <th>SCANNER</th>
          <th>NAME</th>
          <th>DIRECTION</th>
          <th>POPULATION</th>
          <th>PHONE</th>
          <th>LANDLINE</th>
          <th>EMAIL</th>
          <th>CREATE AT</th>
          <th>UPDATE AP</th>
          <th>ACTIONS</th>
        </tr>
      </thead>
      <tbody id="tbodyPartners">
      </tbody>
      <tfoot class="Dashboard-foot">
        <tr>
          <th>PARTNER ID</th>
          <th>DNI</th>
          <th>SCANNER</th>
          <th>NAME</th>
          <th>DIRECTION</th>
          <th>POPULATION</th>
          <th>PHONE</th>
          <th>LANDLINE</th>
          <th>EMAIL</th>
          <th>CREATE AT</th>
          <th>UPDATE AT</th>
          <th>ACTIONS</th>
        </tr>
      </tfoot>
    </table>
  </div>
</div>

<script defer src="/scripts/partners.js"></script>