{{>modalEditPartner}}
{{> modalNoDeletePartners}}
{{> modalDeliver}}

<div class="Dashboard" id="statePartners">
  <a class="Dashboard-a" href="/workspace/partners/new"><i class="Dashboard-i fa-solid fa-user-plus"></i>New Partner</a>
  <div class="Dashboard-row relative">
    <div id="spinner">
      {{> loading}}
    </div>
    {{> comButtonClose
      id="btnClearPartners"
      className="absolute top-5 right-0 z-50 invisible"
    }}
    <table class="Dashboard-table table table-bordered display wrap" id="tablePartner" cellspacing="0" width="100%">
      <thead class="Dashboard-head">
        <tr>
          <th>PARTNER ID</th>
          <th>DNI</th>
          <th>Nº PARTNER</th>
          <th>FULL NAME</th>
          <th>DIRECTION</th>
          <th>POPULATION</th>
          <th>PHONE</th>
          <th>LANDLINE</th>
          <th>EMAIL</th>
          <th>CREATE AT</th>
          <th>UPDATE AP</th>
          <th>ACTIONS</th>
        </tr>
      </thead>
      <tbody id="tbodyPartners">
      </tbody>
      <tfoot class="Dashboard-foot">
        <tr>
          <th>PARTNER ID</th>
          <th>DNI</th>
          <th>Nº PARTNER</th>
          <th>FULL NAME</th>
          <th>DIRECTION</th>
          <th>POPULATION</th>
          <th>PHONE</th>
          <th>LANDLINE</th>
          <th>EMAIL</th>
          <th>CREATE AT</th>
          <th>UPDATE AT</th>
          <th>ACTIONS</th>
        </tr>
      </tfoot>
    </table>
  </div>
</div>