
<!--Modal para CRUD-->
<div class="modal fade"  id="modalPartner"  tabindex="-1" role="dialog" aria-labelledby="modalPartnerLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalPartnerLabel"></h5>
      </div>
      <div class="New">
        <form class="New-form" id="formu">
          {{> formPartner}}
          <div class="modal-footer">
            <button type="button" class="Button-cancel btn btn-secondary" data-dismiss="modal" tabindex="10">Cancel</button>
            <button type="submit" id="btnGuardar" class="Button-accept btn btn-dark" tabindex="11">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{{!-- TODO DATA --}}
<div class="Dashboard">
  <a class="Dashboard-a" href="/workspace/partners/new"><i class="Dashboard-i fa-solid fa-user-plus"></i>New Partner</a>
  <div class="Dashboard-row">
      <table class="Dashboard-table table table-bordered  display wrap" id="tablePartner" cellspacing="0" width="100%">
        <thead class="Dashboard-head">
          <tr>
            <th>id_partner</th>
            <th>DNI</th>
            <th>NAME</th>
            <th>LASTNAME</th>
            <th>PHONE1</th>
            <th>PHONE2</th>
            <th>EMAIL</th>
            <th>ACTIONS</th>
          </tr>
        </thead>
        <tbody>
          <div id="spinner">
            <div class="lds-dual-ring">&nbsp</div>
          </div>
        </tbody>
        <tfoot class="Dashboard-foot">
          <tr>
            <th>id_partner</th>
            <th>DNI</th>
            <th>NAME</th>
            <th>LASTNAME</th>
            <th>PHONE1</th>
            <th>PHONE2</th>
            <th>EMAIL</th>
            <th>ACTIONS</th>
          </tr>
        </tfoot>
      </table>
  </div>
</div>

<script defer src="/scripts/partners.js"></script>