{{>modalEditPartner}}

<!-- TODO DATA PARTNER FOR LIBURUTEGIA-->
<div class="Dashboard">

  <a class="Dashboard-a" href="/workspace/partners/new"><i class="Dashboard-i fa-solid fa-user-plus"></i>New Partner</a>

  <div class="Dashboard-row">
    
    <!-- TODO LOADING -->
    {{> loading}}

    <!-- TODO TABLE PARTNERS -->
    <table class="Dashboard-table table table-bordered display wrap"
      id="tablePartner" cellspacing="0" width="100%">
      <thead class="Dashboard-head">
        <tr>
          <th>id_partner</th>
          <th>DNI</th>
          <th>NAME</th>
          <th>LASTNAME</th>
          <th>PHONE</th>
          <th>LANDLINE</th>
          <th>EMAIL</th>
          <th>ACTIONS</th>
        </tr>
      </thead>
      <tbody id="tbodyPartners">
      </tbody>
      <tfoot class="Dashboard-foot">
        <tr>
          <th>id_partner</th>
          <th>DNI</th>
          <th>NAME</th>
          <th>LASTNAME</th>
          <th>PHONE</th>
          <th>LANDLINE</th>
          <th>EMAIL</th>
          <th>ACTIONS</th>
        </tr>
      </tfoot>
    </table>

  </div>

</div>

<script defer src="/scripts/partners.js"></script>