<link href="/style/new.css" rel="stylesheet">

<!--Modal para CRUD-->
<div id="modalPARTNER" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalPARTNERLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalPARTNERLabel"></h5>
      </div>
      <div class="New">
        <form class="New-form" id="formu">
          {{> formNew}}
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" tabindex="10">Cancel</button>
            <button type="submit" id="btnGuardar" class="btn btn-dark" tabindex="11">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{{!-- DATA --}}
<div class="container-fluid Dashboard">
  <a class="Dashboard-a" href="/workspace/partners/new"><i class="Dashboard-i fa-solid fa-user-plus"></i>New Partners</a>
  <div class="Dashboard-row row">
    <div class="col-lg-12">
      <table id="tablePartner" class="Dashboard-table table table-bordered  display nowrap" cellspacing="0" width="100%">
        <thead>
          <tr class="Dashboard-tr">
            <th>id_partner</th>
            <th>DNI</th>
            <th>NAME</th>
            <th>LASTNAME</th>
            <th>PHONE1</th>
            <th>PHONE2</th>
            <th>EMAIL</th>
            <th>ACTIONS</th>
          </tr>
        </thead>
        <tbody>
          <div id="spinner">
            <div class="lds-dual-ring">&nbsp</div>
          </div>
        </tbody>
        <tfoot>
          <tr class="Dashboard-tr">
            <th>id_partner</th>
            <th>DNI</th>
            <th>NAME</th>
            <th>LASTNAME</th>
            <th>PHONE1</th>
            <th>PHONE2</th>
            <th>EMAIL</th>
            <th>ACTIONS</th>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>

<script src="/scripts/partners.js" defer></script>