<div class="flex ml-2">
  <select id="countryCode" class="flex-none w-14 h-16 z-10 inline-flex items-right py-2.5 text-sm font-medium text-left text-gray-500 bg-gray-100 border border-gray-300 rounded-s-lg hover:bg-gray-200 focus:ring-4 focus:outline-none focus:ring-gray-100 dark:bg-gray-700 dark:hover:bg-gray-600 dark:focus:ring-gray-700 dark:text-white dark:border-gray-600" type="button">
    <!-- América -->
    <optgroup label="América" class="font-bold">
      <option value="1" data-code="+1">Estados Unidos (+1)</option>
      <option value="1" data-code="+1">Canadá (+1)</option>
      <option value="52" data-code="+52">México (+52)</option>
      <option value="55" data-code="+55">Brasil (+55)</option>
      <option value="54" data-code="+54">Argentina (+54)</option>
      <option value="57" data-code="+57">Colombia (+57)</option>
      <option value="56" data-code="+56">Chile (+56)</option>
      <option value="58" data-code="+58">Venezuela (+58)</option>
      <option value="51" data-code="+51">Perú (+51)</option>
      <option value="593" data-code="+593">Ecuador (+593)</option>
      <option value="53" data-code="+53">Cuba (+53)</option>
      <option value="591" data-code="+591">Bolivia (+591)</option>
      <option value="506" data-code="+506">Costa Rica (+506)</option>
      <option value="507" data-code="+507">Panamá (+507)</option>
      <option value="598" data-code="+598">Uruguay (+598)</option>
    </optgroup>
    <!-- Europa -->
    <optgroup label="Europa" class="font-bold">
      <option value="34" data-code="+34" selected>España (+34)</option>
      <option value="49" data-code="+49">Alemania (+49)</option>
      <option value="33" data-code="+33">Francia (+33)</option>
      <option value="39" data-code="+39">Italia (+39)</option>
      <option value="44" data-code="+44">Reino Unido (+44)</option>
      <option value="7" data-code="+7">Rusia (+7)</option>
      <option value="380" data-code="+380">Ucrania (+380)</option>
      <option value="48" data-code="+48">Polonia (+48)</option>
      <option value="40" data-code="+40">Rumania (+40)</option>
      <option value="31" data-code="+31">Países Bajos (+31)</option>
      <option value="32" data-code="+32">Bélgica (+32)</option>
      <option value="30" data-code="+30">Grecia (+30)</option>
      <option value="351" data-code="+351">Portugal (+351)</option>
      <option value="46" data-code="+46">Suecia (+46)</option>
      <option value="47" data-code="+47">Noruega (+47)</option>
    </optgroup>
    <!-- Asia -->
    <optgroup label="Asia" class="font-bold">
      <option value="86" data-code="+86">China (+86)</option>
      <option value="91" data-code="+91">India (+91)</option>
      <option value="81" data-code="+81">Japón (+81)</option>
      <option value="82" data-code="+82">Corea del Sur (+82)</option>
      <option value="62" data-code="+62">Indonesia (+62)</option>
      <option value="90" data-code="+90">Turquía (+90)</option>
      <option value="63" data-code="+63">Filipinas (+63)</option>
      <option value="66" data-code="+66">Tailandia (+66)</option>
      <option value="84" data-code="+84">Vietnam (+84)</option>
      <option value="972" data-code="+972">Israel (+972)</option>
      <option value="60" data-code="+60">Malasia (+60)</option>
      <option value="65" data-code="+65">Singapur (+65)</option>
      <option value="92" data-code="+92">Pakistán (+92)</option>
      <option value="880" data-code="+880">Bangladés (+880)</option>
      <option value="966" data-code="+966">Arabia Saudita (+966)</option>
    </optgroup>
    <!-- África -->
    <optgroup label="África" class="font-bold">
      <option value="20" data-code="+20">Egipto (+20)</option>
      <option value="27" data-code="+27">Sudáfrica (+27)</option>
      <option value="234" data-code="+234">Nigeria (+234)</option>
      <option value="254" data-code="+254">Kenia (+254)</option>
      <option value="212" data-code="+212">Marruecos (+212)</option>
      <option value="213" data-code="+213">Argelia (+213)</option>
      <option value="256" data-code="+256">Uganda (+256)</option>
      <option value="233" data-code="+233">Ghana (+233)</option>
      <option value="237" data-code="+237">Camerún (+237)</option>
      <option value="225" data-code="+225">Costa de Marfil (+225)</option>
      <option value="221" data-code="+221">Senegal (+221)</option>
      <option value="255" data-code="+255">Tanzania (+255)</option>
      <option value="249" data-code="+249">Sudán (+249)</option>
      <option value="218" data-code="+218">Libia (+218)</option>
      <option value="216" data-code="+216">Túnez (+216)</option>
    </optgroup>
    <!-- Oceanía -->
    <optgroup label="Oceanía" class="font-bold">
      <option value="61" data-code="+61">Australia (+61)</option>
      <option value="64" data-code="+64">Nueva Zelanda (+64)</option>
      <option value="679" data-code="+679">Fiji (+679)</option>
      <option value="675" data-code="+675">Papúa Nueva Guinea (+675)</option>
      <option value="676" data-code="+676">Tonga (+676)</option>
    </optgroup>
    <!-- Medio Oriente -->
    <optgroup label="Medio Oriente" class="font-bold">
      <option value="98" data-code="+98">Irán (+98)</option>
      <option value="964" data-code="+964">Iraq (+964)</option>
      <option value="962" data-code="+962">Jordania (+962)</option>
      <option value="961" data-code="+961">Líbano (+961)</option>
      <option value="965" data-code="+965">Kuwait (+965)</option>
      <option value="971" data-code="+971">Emiratos Árabes Unidos (+971)</option>
      <option value="968" data-code="+968">Omán (+968)</option>
      <option value="974" data-code="+974">Catar (+974)</option>
      <option value="973" data-code="+973">Bahrein (+973)</option>
      <option value="967" data-code="+967">Yemen (+967)</option>
    </optgroup>
  </select>
</div>

<script>
// Obtener el elemento select
var selectElement = document.getElementById('countryCode');
var inputElement = document.getElementById('inputPhoneNT');

// Inicializar variable para almacenar las opciones originales
var originalOptions = null;
// Variable para almacenar la opción seleccionada previamente
var previousSelectedIndex = selectElement.selectedIndex;

// Función para establecer el prefijo en la opción seleccionada inicialmente
function setInitialPrefix() {
  // Obtener la opción seleccionada actualmente
  var selectedIndex = selectElement.selectedIndex;
  // Obtener la opción seleccionada
  var selectedOption = selectElement.options[selectedIndex];
  // Obtener el código de país del atributo data-code
  var countryCode = selectedOption.getAttribute('data-code');
  // Mostrar solo el código de país
  selectedOption.text = countryCode;
}

// Llamar a la función para establecer el prefijo en la opción seleccionada inicialmente al cargar la página
setInitialPrefix();

// Agregar un listener para el evento de clic en el select para almacenar las opciones originales
selectElement.addEventListener('mousedown', function() {
  // Almacenar las opciones originales solo si no han sido almacenadas previamente
  if (!originalOptions) {
    originalOptions = Array.from(selectElement.options).map(function(option) {
      return option.text;
    });
  }
});

// Agregar un listener para el evento de cambio
selectElement.addEventListener('change', function() {
  // Obtener la opción seleccionada actualmente
  var selectedIndex = selectElement.selectedIndex;
  // Si las opciones originales han sido almacenadas y la opción seleccionada ha cambiado
  if (originalOptions && selectedIndex !== previousSelectedIndex) {
    // Obtener la opción seleccionada
    var selectedOption = selectElement.options[selectedIndex];
    // Obtener el código de país del atributo data-code
    var countryCode = selectedOption.getAttribute('data-code');
    // Mostrar solo el código de país
    selectedOption.text = countryCode;
    // Actualizar el índice de la opción seleccionada previamente
    previousSelectedIndex = selectedIndex;
  }
  inputPhoneNT.focus();
});

// Agregar un listener para el evento de cierre del menú desplegable
selectElement.addEventListener('blur', function() {
  // Si las opciones originales han sido almacenadas y no se ha cambiado la opción seleccionada
  if (originalOptions && selectElement.selectedIndex !== -1 && selectElement.selectedIndex === previousSelectedIndex) {
    // Obtener el índice de la opción seleccionada
    var selectedIndex = selectElement.selectedIndex;
    // Restaurar el texto original de todas las opciones, excepto la opción seleccionada
    originalOptions.forEach(function(text, index) {
      if (index !== selectedIndex) {
        selectElement.options[index].text = text;
      }
    });
  }
});

</script>