    <div class="profile" style="margin: 150px 0; color: black">
        <h1 style="color: red">Profile</h1>
        {{#if loggedIn}}
            {{#each userProfile}}
                <h1>{{this.email}}</h1>
                <h1>{{this.username}}</h1>
                <h1>{{this.fullname}}</h1>
                <h1>{{this.rol}}</h1>
            {{/each}}
        {{/if}}
    </div>
