<body>
  <div class="container-fluid">
    <div class="row">
      {{> main}}

      <!-- Contenido principal   -->
      <main class=" ms-sm-auto col-lg-10" style="background: #000000;">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h2>Partners</h2>
            {{#if name}}
              <h5 style="color: gray;">Bienvenido <span class="badge badge-success">{{name}}</span></h5>
            {{/if}}
        </div>
        {{>partners}} 
      </main>
    </div>
  </div>
</body>