
    <br>

    <div class="login-form jumbotron">
        <h1>Login</h1>
        <form action="/links/login" method="POST">
            <div class="form-group">
                <input type="email" class="form-control" name="email" placeholder="Email" autofocus required>
            </div>	
            <div class="form-group">
                <input type="password" class="form-control" name="pass" placeholder="Password" required>
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-login btn-block" value="Login">
            </div>
        </form>
	</div>
    <br>
