@charset "UTF-8";

.Info-contenedor {
    margin: var(--Margin-top-forms) auto;
    width: 95%;
    height: 100%;
    padding: 0.5em;
    color: var(--Color-negro);
    -webkit-transition: all 0.4s ease;
    transition: all .5s ease;
    background-color: var(--Color-blanco);
    box-shadow: var(--Box-shadow-forms);
    border-radius: var(--Radius);
}

.Info-contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
}

.Info-header {
    width: 100%;
    padding: 0 2em 0 1em;
    display: grid;
    grid-template-columns: auto 2fr auto;
    grid-template-rows: auto;
}

.Cover-upload {
    background-color: var(--Color-texto-blanco);
    padding: 2em 2em;
}

.Upload-group {
    position: relative;
    margin: 0 auto;
    padding: 0;
    width: 220px;
    height: 322px;
    background-size: cover;
    background-repeat: no-repeat;
    border: 2px #939B62 solid;
    box-shadow: var(--Box-shadow-cards);
    border-radius: var(--Radius);
}

.Upload-file {
    display: none;
}

.Upload-icon {
    position: absolute;
    width: 3.75em;
    height: auto;
    bottom: 6.25em;
    left: 50%;
    top: 90%;
    transform: translateX(-50%);
    cursor: pointer;
}

.Upload-icon {
    background-color: var(--Color-texto-blanco);
    width: 2em;
    height: 2em;
    border-radius: 50%;
    font-size: 2em;
    text-align: center;
    transition: all .3s ease;
}

.Upload-icon i {
    text-align: center;
}

.Upload-icon:hover {
    color: var(--Color-texto-blanco);
}

.Upload-icon::after {
    content: "";
    background: #939B62;
    /* color de fondo hover */
    position: absolute;
    z-index: -1;
    padding: 1em;
    display: block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 50%;
    transform: scale(0, 0);
    transition: all 0.3s ease;
}

.Upload-icon:hover::after {
    transition: all 0.3s ease-out;
    transform: scale(1, 1);
}

.Upload-btn {
    margin: 3em 0 1em;
}

.Upload-btn input {
    background-color: #939B62;
    color: var(--Color-texto-blanco);
    border-radius: var(--Radius);
}

.Upload-success {
    margin-top: 2em;
    color: var(--Success);
    font-size: .8em;
    font-weight: 400;
    display: none;
}

.Upload-success.isEnable {
    display: block;
}

.Upload-success.isEnableError {
    display: block;
    color: var(--Unsuccess);
}

.Info-contents {
    flex: 70%;
    width: 100%;
    height: auto;
}

.Contents-data {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.Information-title {
    display: flex;
    margin: 1.5em 0 0;
    align-items: center;
    flex-flow: row nowrap;
    width: 100%;
}

.Title-i {
    margin: 0 1em;
    font-size: 1.7em;
    color: #faab3c;
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.7));
}

.Title-h1 {
    margin: 0;
    padding: 0.2em 0;
    font-size: 1.7em;
    font-weight: 700;
    width: 100%;
    display: flex;
    align-items: self-start;
    text-align: start;
    flex-wrap: wrap;
}

.Author {
    text-align: start;
    padding: 0 2em;
}

.Author span {
    font-weight: 700;
}

.Information-subtitle {
    padding: 0 .5em;
    text-align: start;
    font-size: 1.3em;
    font-weight: 600;
    margin: 1em 0 .5em;
}

.Information-details {
    position: relative;
}

.Information-summary {
    font-weight: 600;
    padding: 0 .5em;
    text-align: start;
    /* box-shadow: rgba(110, 110, 114, 0.25) 0px 50px 100px -20px, rgba(70, 70, 70, 0.3) 0px 30px 60px -30px, rgba(90, 90, 90, 0.35) 0px -2px 6px 0px inset; */
    letter-spacing: .1em;
    transition: all .5s ease;
}

details[open] summary {
    box-shadow: none;
    position: absolute;
    bottom: 6.25em;
    left: 10%;
    top: 100%;
    margin-top: 2em;
    transform: translateX(-50%);
}

details[open] summary dfn {
    content: " ";
    visibility: hidden;
    display: none;
}

details[open] summary::before {
    content: "....less details";
    font-style: italic;
    visibility: visible;
}

.Information-boxes {
    text-align: start;
    margin: 0;
    padding: 0.5em 2em;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.Information-row {
    flex: 40%;
    color: var(--Color-texto-negro);
    font-weight: 400;
}

.Information-h3 {
    margin: 0;
    padding: .5em 0;
}

.Information-cell {
    flex: 60%;
    color: var(--Color-texto-gray);
    display: flex;
    padding: 0.5em 1em;
    justify-content: flex-end;
}

.Information-cell.isObservation {
    height: auto;
}

.Review {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: minmax(300px, 20%);
    justify-content: flex-end;
    padding: 1em;
    margin-top: 1em;
    width: min-content;
}

.Review h3 {
    text-decoration: double underline;
    font-weight: 700;
    font-size: 1.2em;
    text-align: center;
}

.Review-actions,
.Review-header {
    height: fit-content;
    background-color: rgba(236, 236, 236, 0.33);
    box-shadow: var(--Box-shadow-cards);
    margin: 1em 0 3em;
    padding: 1em .5em;
    text-align: start;
    border-radius: var(--Radius);
    display: flex;
    flex-direction: column;
}

.Review-header {
    gap: 1em;
}

.Review-actions {
    height: 18.75em;
    align-items: center;
    position: relative;
}

.Action-btn {
    margin: 1em 0;
    border-radius: var(--Radius);
    width: 80%;

}

.Action-btn.isDelete {
    position: absolute;
    margin: 1em auto;
    width: 75%;
    left: 0;
    right: 0;
    bottom: 0;
}

.Review-reserved,
.Review-star,
.Review-lastupdate,
.Review-total {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: .5em;
    padding: 0 .5em;
}


.Delivered-reserved {
    display: flex;
    margin-top: .5em;
}

.Review-avaliable span {
    margin-top: .5em;
}

.Delivered-reserved i {
    margin-right: .5em;
    color: var(--Success);
}

.Delivered-reserved a,
.Review-span {
    color: #007185;
    font-size: 1em;
}

.Delivered-reserved a:hover,
.Review-span:hover {
    cursor: pointer;
    color: #C7511F;
    text-decoration: underline;
}

/* TODO STAR */
.stars-outer {
    display: inline-block;
    position: relative;
    font-family: FontAwesome;
}

.stars-outer::before {
    content: "\f006 \f006 \f006 \f006 \f006";
}

.stars-inner {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
    cursor: pointer;
}

.stars-inner::before {
    content: "\f005 \f005 \f005 \f005 \f005";
    color: gold;
}

.Container {
    width: 90%;
    height: auto;
}

.Container-hr {
    border-color: #CC9544;
    margin: 1em;
}

.Container-header {
    text-align: start;
    padding: .5em 2em 0;
    font-size: 2em;
}

.Container-i {
    margin-right: 1em;
}

.Container-review {
    width: 100%;
    height: 100%;
    padding: 2em 0;
    font-size: .9em;
}

.Review-box {
    border: 1px solid var(--Color-outline);
    margin: 1em auto;
    border-radius: var(--Radius);
    display: flex;
    justify-content: start;
    flex-flow: column nowrap;
    align-items: flex-start;
    text-align: start;
    padding: 1em 2em;
    grid-gap: 0.5em;
    letter-spacing: .1em;
}

.Review-name {
    display: flex;
    justify-content: flex-start;
}

.Review-score {
    display: flex;
    justify-content: flex-start;
}

.Review-rate {
    margin: 0 1em;
    font-size: .9em;
    font-weight: 600;
}

.Review-icon {
    margin: 0 1em 0 0;
    font-size: 1.3em;
}

.Review-fullname {
    color: gray;
    font-weight: 400;
}

.Review-dateReview {
    color: rgb(77, 77, 77);
    font-weight: 100;
    font-size: 0.9em;
}

.Review-content {
    display: grid;
    grid-gap: .5em;
    font-size: 1.1em;
}

.Review-message {
    margin-top: 1em;
    font-weight: 400;
}

h2 {
    font: 1.1em sans-serif;
    margin-top: .5em;
    text-align: center;
}

h2.linea {
    position: relative;
    z-index: 1;
}

h2.linea:before {
    border-top: 1px solid rgb(34, 163, 159);
    content: "";
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: -1;
}

h2.linea span {
    background: var(--Color-texto-blanco);
    padding: 0 1em;
}

@media screen and (max-width: 950px) {
    .Info-header {
        grid-template-columns: 1fr;
        padding: 1em;
    }

    .Review {
        margin-top: 3em;
        grid-template-columns: .6fr;
        align-items: center;
        justify-content: center;
        width: auto;
        grid-template-rows: 1fr;
        gap: 1em
    }

    .Information {
        padding: 0 .5em;
    }

}

@media screen and (max-width: 550px) {

    .Review {
        grid-template-columns: auto;
    }

    .Info-contenedor {
        width: 90%;
        padding: 0;
    }

    .Info-header {
        padding: 0;
    }

    .Container-header {
        padding: .5em;
    }

    .Information-summary {
        position: relative;
        left: 7%;
    }

    details[open] summary {
        left: 25%;
    }

    .Info-cover {
        background-color: #C7511F;
    }

}

@media only screen and (max-width: 1350px) {
    .Info-header {
        padding: 0;
    }
}