@charset "UTF-8";

.Info-contenedor {
    margin: var(--Margin-top-forms) auto;
    width: 90%;
    height: 100%;
    padding: 0.5em;
    color: var(--Color-negro);
    -webkit-transition: all 0.4s ease;
    transition: all .5s ease;
    background-color: var(--Color-blanco);
    box-shadow: var(--Box-shadow-forms);
    border-radius: var(--Radius);
}

.Info-contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
}

.Info-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}

.Info-cover {
    flex: 20%;
}

.Cover-upload {
    background-color: var(--Color-texto-blanco);
    padding: 2em 2em;
}

.Upload-group {
    position: relative;
    margin: 0 auto;
    padding: 0;
    width: 220px;
    height: 322px;
    background-size: cover;
    background-repeat: no-repeat;
    border: 6px #22A39F solid;
    border-radius: var(--Radius);
}

.Upload-file {
    display: none;
}

.Upload-icon {
    position: absolute;
    width: 3.75em;
    height: auto;
    bottom: 6.25em;
    left: 50%;
    top: 90%;
    transform: translateX(-50%);
    cursor: pointer;
}

.Upload-icon {
    background-color: var(--Color-texto-blanco);
    width: 2em;
    height: 2em;
    border-radius: 50%;
    font-size: 2em;
    text-align: center;
    transition: all .3s ease;
}

.Upload-icon i {
    text-align: center;
}

.Upload-icon:hover {
    color: var(--Color-texto-blanco);
}

.Upload-icon::after {
    content: "";
    background: #22A39F;
    /* color de fondo hover */
    position: absolute;
    z-index: -1;
    padding: 1em;
    display: block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 50%;
    transform: scale(0, 0);
    transition: all 0.3s ease;
}

.Upload-icon:hover::after {
    transition: all 0.3s ease-out;
    transform: scale(1, 1);
}

.Upload-btn {
    margin: 3em 0 1em;
}

.Upload-btn input {
    background-color: #22A39F;
    color: var(--Color-texto-negro);
    border-radius: var(--Radius);
}

.Info-contents {
    flex: 70%;
    width: 100%;
    height: auto;
}

.Contents-data {
    display: flex;
}

.Contents-information {
    flex: 75%;
}

.Information-title {
    display: flex;
    margin: 1.5em 0 0;
    align-items: center;
    flex-flow: row nowrap;
    width: 100%;
}

.Title-i {
    margin: 0 1em;
    font-size: 1.7em;
    color: #faab3c;
}

.Title-h1 {
    margin: 0;
    padding: 0.2em 0;
    font-size: 1.7em;
    font-weight: 700;
    width: 100%;
    display: flex;
    align-items: self-start;
    text-align: start;
    flex-wrap: wrap;
}

.Author {
    text-align: start;
    padding: 0 2em;
}

.Author span {
    font-weight: 700;
}

.Information-subtitle {
    padding: 0 .5em;
    text-align: start;
    font-size: 1.3em;
    font-weight: 600;
    margin: 1em 0 .5em;
}

.Information-details {
    position: relative;
}

.Information-summary {
    font-weight: 600;
    padding: 0 .5em;
    text-align: start;
    /* box-shadow: rgba(110, 110, 114, 0.25) 0px 50px 100px -20px, rgba(70, 70, 70, 0.3) 0px 30px 60px -30px, rgba(90, 90, 90, 0.35) 0px -2px 6px 0px inset; */
    letter-spacing: .1em;
    transition: all .5s ease;
}

details[open] summary {
    box-shadow: none;
    position: absolute;
    bottom: 6.25em;
    left: 10%;
    top: 100%;
    margin-top: 2em;
    transform: translateX(-50%);
}

details[open] summary dfn {
    content: " ";
    visibility: hidden;
    display: none;
}

details[open] summary::before {
    content: "....less details"; 
    font-style: italic;
    visibility: visible;
}

.Information-boxes {
    text-align: start;
    margin: .5em 0;
    padding: 0.5em 0.5em 0.5em 2em;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.Information-row {
    flex: 40%;
    color: var(--Color-texto-negro);
    font-weight: 400;
}

.Information-h3 {
    margin: 0;
    padding: .5em 0;
}

.Information-cell {
    flex: 60%;
    color: var(--Color-texto-gray);
    display: flex;
    padding: 0.5em 1em;
    align-items: center;
}

.Information-cell.isObservation {
    height: auto;
}

.Review {
    flex: 50%;
    padding: 1em;
    margin-top: 1em;
}

.Review h3 {
    font-weight: 700;
    font-size: 1.2em;
}

.Review-actions,
.Review-header {
    background-color: rgba(236, 236, 236, 0.33);
    box-shadow: var(--Box-shadow-forms);
    margin: 1em 0 3em;
    padding: 1em .5em;
    text-align: start;
    border-radius: var(--Radius);
    display: flex;
    flex-direction: column;
}

.Review-actions {
    height: 18.75em;
    align-items: center;
    position: relative;
}

.Action-btn {
    margin: 1em 0;
    border-radius: var(--Radius);
    width: 80%;

}

.Action-btn.isDelete {
    position: absolute;
    margin: 1em auto;
    width: 75%;
    left: 0;
    right: 0;
    bottom: 0;
}

.Review-lastupdate,
.Review-star,
.Review-total {
    margin: 1em;
}

.Review-total {
    display: flex;
    flex-direction: row;
}


.Review-lastupdate i,
.Review-total i {
    margin-right: 1em ;
}

.Review-star span {
    margin: 0 .5em;
    font-size: 1em;
    font-weight: 700;
}

.Review-reserved {
    text-align: start;
    font-weight: 700;
    padding: 0.5em;
    margin-left: 0.5em;
}

.Review-reserved .badge {
    margin: 0 .5em;
    padding: 0.5em;
} 

.Review-span {
    color: #007185;
    font-size: 1em;
}

.Update-span {
    font-weight: 700;
}

.Review-span:hover {
    cursor: pointer;
    color: #C7511F;
    text-decoration: underline;
}

/* TODO STAR */
.stars-outer {
    display: inline-block;
    position: relative;
    font-family: FontAwesome;
}

.stars-outer::before {
    content: "\f006 \f006 \f006 \f006 \f006";
}

.stars-inner {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
    cursor: pointer;
}

.stars-inner::before {
    content: "\f005 \f005 \f005 \f005 \f005";
    color: gold;
}

.Container {
    width: 90%;
    height: 9.375em;
}

.Container-hr {
    border-color: #CC9544;
    margin: 1em;
}

.Container-header {
    text-align: start;
    padding: .5em 2em 0;
    font-size: 2em;
}

.Container-i {
    margin-right: 1em;
}

@media screen and (max-width: 550px) {

    .Info-contenedor {
        width: 95%;
        padding: .5em 0;
    }

}