<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  
  <link rel="shortcut icon" type="image/x-icon" href="../image/favicon.ico" />

  <title>Liburutegia San Miguel</title>

  <link rel="stylesheet" type="text/css" href="/style/app.css">

  <!--TODO Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <!--  Datatables  -->
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.20/datatables.min.css" />

  <!--TODO extension responsive  -->
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css">

  <!--TODO Fontawesome -->
  <script src="//kit.fontawesome.com/d2b2d82261.js" crossorigin="anonymous"></script>
  
  <!--TODO load SweetAlert2 -->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.24/dist/sweetalert2.all.min.js"></script>

  <script src="https://code.jquery.com/jquery-3.5.1.js" type="text/javascript" language="javascript" ></script>
  <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js" type="text/javascript" language="javascript" ></script>
  <script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap5.min.js" type="text/javascript" language="javascript" ></script>
  <script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
  <script defer src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

  {{!-- TODO SCRIPT LOCAL --}}
  <script defer src="/scripts/navbar.js"></script>

</head>

<body class="Body">
  <div class="Layout-container">
    <div class="Header" id="navbar">{{> navigation}}</div>
    <div class="Main">
      <div class="Main-cover"></div>
      <div class="Aside menu-collapsed" id="aside">{{> sideMenu}}</div>
      {{{ body }}}
    </div>
  </div>
  <div class="Footer">{{> footer}} </div>
</body>

</html>